.docItemContainer header + *,
.docItemContainer article > *:first-child {
  margin-top: 0;
}

.tocWrapper {
  min-width: 200px;
  padding-right: 1em;
}

@media (min-width: 997px) {
  .docItemCol {
    max-width: 75% !important;
  }
}

@media (max-width: 1099px) {
  .tocWrapper {
    display: none;
  }
}


