.blog {
  -ifm-h1-font-size: 2.4em;
  -ifm-h2-font-size: 2em;
  -ifm-h3-font-size: 1.6em;
  -ifm-h4-font-size: 1.2em;

  article {
    h2 {
      a {
        text-decoration: none;
      }
    }
  }

  main {
    article {
      border: 2px solid var(--token-secondary-bg-c-alt);  
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      font-size: 0.9em !important;
      margin: 0;
      margin-bottom: 1em !important;
      padding: 1.5em;

      h2 {
        font-size: var(--ifm-h2-font-size) !important;
        > a {
          color: var(--ifm-font-color-base);
          text-decoration: none;
        }
      }
    }
  }

  .theme-edit-this-page {
    display: none;
  }

  [class^="tag_"] {
    background: var(--token-secondary-bg-c);
    border: 1px solid var(--token-secondary-bg-c-alt);  
    color: var(--ifm-font-color-base);
    text-decoration: none;
  }

  footer {
    .text--right a {
      text-decoration: none;
    }
  }

  .avatar {
    .avatar__photo {
      width: 20px;
      height: 20px;
    }

    .avatar__intro {
      .avatar__name a {
        color: var(--ifm-font-color-base);
        text-decoration: none;
        font-size: 0.8em;
        font-weight: normal;
      }

      .avatar__subtitle {
        display: none;
      }
    }
  }
}
