.callout {   
	--callout-bg-spacing: 20px;
	--callout-bg-color: var(--token-secondary-bg-c-alt-dark);
	
	background-image: radial-gradient(circle at 1px 1px, var(--callout-bg-color) 1px, transparent 0);
	background-size: var(--callout-bg-spacing) var(--callout-bg-spacing); 
	border: 1px solid var(--token-secondary-bg-c-alt);
	border-radius: 8px;
	padding: 2em;
}