html[data-theme="light"] {
  --sidebar-category-c: var(--c-gray-100);
  --sidebar-border-c: var(--c-gray-0);

  --ifm-menu-color-background-active: var(--c-blue-0);
  --ifm-menu-color: var(--c-indigo-80);

  --sidebar-background: var(--color-interface-5);
}

html[data-theme="dark"] {
  --sidebar-category-c: var(--c-gray-0);
  --sidebar-border-c: var(--c-gray-90);

  --ifm-menu-color: var(--c-gray-20);

  --sidebar-background: var(--token-primary-bg-c);
}

:root {
  --doc-sidebar-width: 17.5rem;

  --dropdown-icon-width: 0.625rem;
  --dropdown-icon-height: 0.375rem;
  --dropdown-icon-gap: 0.688rem;

  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-menu-color-active: var(--ifm-link-color);

  --sidebar-spacing-horizontal: 1.5rem;
}

//overrides
#__docusaurus {
  [class^="docSidebarContainer"] {
    background: var(--sidebar-background);

    position: sticky;
    top: 0;
    margin-block-start: 0;
    will-change: initial;

    height: 100vh;

    border-inline-end: 1px solid var(--sidebar-border-c);

    > a {
      display: flex;
      align-items: center;
      height: var(--ifm-navbar-height);

      padding-inline-start: var(--sidebar-spacing-horizontal);
      padding-inline-end: var(--sidebar-spacing-horizontal);
    }
  }

  [class^="sidebar_"] {
    max-height: calc(100vh - var(--ifm-navbar-height));
    position: static;

    overflow-y: auto;

    padding-inline-start: var(--sidebar-spacing-horizontal);
    padding-inline-end: var(--sidebar-spacing-horizontal);
    padding-block-start: 1rem;

    > .menu {
      overflow-x: initial;
      padding-block-end: 2rem;
      padding: 0;
    }
  }

  [class^="sidebarLogo"] {
    display: none !important;
  }

  .menu__list {
    display: block !important;
    transition: height 0.35s cubic-bezier(0.36, 0.66, 0.04, 1) 25ms !important;
    will-change: initial !important;

    margin: 0;

    li:last-of-type {
      padding-block-end: 1.5rem;
    }

    .menu__list {
      .menu__link--sublist {
        margin-inline-start: calc(
          -1 * (var(--dropdown-icon-width) + var(--dropdown-icon-gap))
        );

        &::after {
          opacity: 0.6;
        }
      }

      .menu__list {
        padding-left: 1em;
      }
    }

    &-item {
      &:not(:first-child) {
        margin-block-start: 0;
      }

      .menu__list {
        .menu__link {
          padding-inline-start: calc(
            var(--dropdown-icon-width) + var(--dropdown-icon-gap)
          );
        }
      }

      .menu__list-item-collapsible {
        &:hover {
          background: none;
          opacity: 0.75;
        }
      }
    }
  }

  .menu__list-item.hidden {
    display: none;
  }

  .menu__link {
    font-weight: 500;
    font-size: 0.813rem;
    line-height: 16px;
    /* identical to box height */

    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    transition: opacity 0.2s ease-out;

    &:not(.menu__link--active:not(.menu__link--sublist)) {
      background: initial;
    }

    &:not(.menu__link--active):not(.menu__link--sublist) {
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  .menu__link--sublist {
    padding-inline-start: 0;
    padding-inline-end: 0;

    margin-block-end: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::after {
      background: var(--ifm-menu-link-sublist-icon) center /
        var(--dropdown-icon-width) var(--dropdown-icon-height);
      background-repeat: no-repeat;

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      margin-inline-end: var(--dropdown-icon-gap);
      margin-block-end: 0;
      position: absolute;
      left: 0;
    }
  }

  .theme-doc-sidebar-item-category-level-1 {
    > .menu__list-item-collapsible > .menu__link--sublist {
      margin-left: 5px;
      padding: 12px 8px;
      font-size: .813rem;
    }

    &.products > .menu__list {
      padding-left: 0;
    }
  }

  .theme-doc-sidebar-item-category-level-2,
  .theme-doc-sidebar-item-category-level-3,
  .theme-doc-sidebar-item-category-level-4 {
    > .menu__list-item-collapsible > .menu__link--sublist {
      margin-left: 0;
    }
  }

  .menu__list-item.back {
    text-transform: uppercase;

    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-end: 0;
    margin-bottom: 2em;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    .menu__link {
      padding-left: 0;
    }

    &::after {
      content: " ";
      background: var(--ifm-menu-link-sublist-icon) center /
        var(--dropdown-icon-width) var(--dropdown-icon-height);
      background-repeat: no-repeat;
      transform: rotate(-90deg);

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      margin-inline-end: var(--dropdown-icon-gap);
      margin-block-end: 0;
    }
  }

  .menu__list-item.introduction,
  .menu__list-item.core,
  .menu__list-item.api,
  .menu__list-item.auth,
  .menu__list-item.data,
  .menu__list-item.products,
  .menu__list-item.integrations,
  .menu__list-item.other {
    > div > .menu__link--sublist {
      margin-left: 2em;
      font-size: initial;

      &::after {
        --icon-size: 24px;
        --dropdown-icon-width: var(--icon-size);
        --dropdown-icon-height: var(--icon-size);
        background: url("https://d33wubrfki0l68.cloudfront.net/ea8e37a6a30e9c260a8936d95c579af4a2dd3df7/6ee7e/img/docusaurus_keytar.svg")
          center / var(--dropdown-icon-width) var(--dropdown-icon-height);
        transform: rotate(0);
        opacity: 1;
      }
    }
  }

  .menu__list-item.products .menu__list-item.product > .menu__link {
    padding-inline-start: 0;
    padding-inline-end: 0;
    margin-block-end: 0;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-end;

    &::after {
      content: " ";

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      margin-inline-end: var(--dropdown-icon-gap);
      margin-block-end: 0;

      --icon-size: 24px;
      --dropdown-icon-width: var(--icon-size);
      --dropdown-icon-height: var(--icon-size);
      background: url("https://d33wubrfki0l68.cloudfront.net/ea8e37a6a30e9c260a8936d95c579af4a2dd3df7/6ee7e/img/docusaurus_keytar.svg")
        center / var(--dropdown-icon-width) var(--dropdown-icon-height);
      transform: rotate(0);
      opacity: 1;
    }
  }

  .menu__list-item.products {
    margin-top: 3em;
  }

  .menu__list-item.introduction > div > .menu__link--sublist::after {
    background: url("/img/sidebar/introduction.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.core > div > .menu__link--sublist::after {
    background: url("/img/sidebar/core-concepts.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.api > div > .menu__link--sublist::after {
    background: url("/img/sidebar/api.svg") center / var(--dropdown-icon-width)
      var(--dropdown-icon-height) !important;
  }

  .menu__list-item.auth > div > .menu__link--sublist::after {
    background: url("/img/sidebar/auth-flow.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.data > div > .menu__link--sublist::after {
    background: url("/img/sidebar/data-model.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.products > div > .menu__link--sublist::after {
    background: url("/img/sidebar/products.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.integrations > div > .menu__link--sublist::after {
    background: url("/img/sidebar/integrations.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.other > div > .menu__link--sublist::after {
    background: url("/img/sidebar/other-guides.svg") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  // Products

  .menu__list-item.assess > .menu__link::after {
    background: url("https://www.codat.io/wp-content/uploads/2022/04/assess.png")
      center / var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.sfc > .menu__link::after {
    background: url("https://static.codat.io/public/icons/docs/sync.png") center /
      var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.sfe > .menu__link::after {
    background: url("https://www.codat.io/wp-content/uploads/2022/03/accounting-2.png")
      center / var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.accounting > .menu__link::after {
    background: url("https://www.codat.io/wp-content/uploads/2022/03/accounting-2.png")
      center / var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.banking > .menu__link::after {
    background: url("https://www.codat.io/wp-content/uploads/2022/03/Bank-2.png")
      center / var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.commerce > .menu__link::after {
    background: url("https://www.codat.io/wp-content/uploads/2022/03/Storefront-3.png")
      center / var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .menu__list-item.bankfeed > .menu__link::after {
    background: url("https://www.codat.io/wp-content/uploads/2022/03/Stack.png")
      center / var(--dropdown-icon-width) var(--dropdown-icon-height) !important;
  }

  .theme-doc-sidebar-item-category-level-1 {
    > div > .menu__link {
      color: var(--sidebar-category-c);

      font-weight: 600;
      font-size: 0.938rem;
      line-height: 100%;
    }
  }

  nav {
    &[class^="sidebar"] {
      max-height: initial !important;
    }

    > .menu__list {
      .menu__list-item:not(.menu__list-item--collapsed) {
        .menu__link.menu__link--sublist.menu__link--active {
          //color: var(--color-codat-primary);
          opacity: 0.5;
        }
      }
    }
  }
}

.blog {
  [class^="sidebarItemLink"] {
    color: var(--ifm-font-color-base);
    margin-bottom: 1.5em;
  }
}
