:root {
  --sidebar-scale: 0.9em;

  --doc-sidebar-width: 17.5rem;

  --dropdown-icon-width: 0.625rem;
  --dropdown-icon-height: 0.375rem;
  --dropdown-icon-gap: 0.688rem;

  --sidebar-vertical-gap: 0.6em;
  --sidebar-horizontal-gap: 0.5em;
  --icon-gap: 1.75em;

  --ifm-menu-link-padding-vertical: 0.5rem;
  --ifm-menu-color-active: var(--ifm-link-color);

  --sidebar-spacing-horizontal: 1.5rem;

  --ifm-menu-link-padding-horizontal: 1em;

  //--icon-url: url("/img/sidebar/gear-fine.svg"); // fallback
  --icon-url: var(--ifm-menu-link-sublist-icon)
}

html[data-theme="light"] {
  --sidebar-category-c: var(--c-gray-100);
  --sidebar-border-c: var(--c-gray-0);

  --ifm-menu-color-background-active: var(--c-blue-0);
  --ifm-menu-color: var(--c-indigo-80);

  --sidebar-background: var(--color-interface-5);
}

html[data-theme="dark"] {
  --sidebar-category-c: var(--c-gray-0);
  --sidebar-border-c: var(--c-gray-90);

  --ifm-menu-color: var(--c-gray-20);

  --sidebar-background: var(--token-primary-bg-c);
}

//overrides
#__docusaurus {
  [class^="docSidebarContainer"] {
    background: var(--sidebar-background);
    position: sticky;
    top: 0;
    margin-block-start: 0;
    will-change: initial;
    height: 100vh;
    font-size: var(--sidebar-scale);
    border-inline-end: 1px solid var(--sidebar-border-c);

    > a {
      display: flex;
      align-items: center;
      height: var(--ifm-navbar-height);

      padding-inline-start: var(--sidebar-spacing-horizontal);
      padding-inline-end: var(--sidebar-spacing-horizontal);
    }
  }

  [class^="sidebar_"] {
    max-height: calc(100vh - var(--ifm-navbar-height));
    position: static;

    overflow-y: auto;

    padding-inline-start: var(--sidebar-spacing-horizontal);
    padding-inline-end: var(--sidebar-spacing-horizontal);
    padding-block-start: 1rem;

    > .menu {
      overflow-x: initial;
      padding-block-end: 2rem;
      padding: 0;
    }
  }

  [class^="sidebarLogo"] {
    display: none !important;
  }

  .menu {
    hr {
      margin: 1em 0 !important;
      opacity: 0.3;
    }
  }

  .menu__list {
    display: block !important;
    transition: height 0.35s cubic-bezier(0.36, 0.66, 0.04, 1) 25ms !important;
    will-change: initial !important;

    margin: 0;

    li:last-of-type {
      padding-block-end: 1.5rem;
    }

    button.menu__caret {
      display: none;
      --ifm-menu-link-sublist-icon: url("/img/sidebar/x-circle.svg");

      &:hover {
        background: none;
        opacity: 0.5;
      }

      &:before {
        background-size: contain !important;
      }
    }

    .menu-item-section-header {
      opacity: 0.5;
      margin-top: 1.5em;
      margin-bottom: 0.5em;
      font-size: 0.85em;
      padding-left: 1rem;
    }

    .menu__link--sublist-caret:after {
      filter: none;
    }

    //.menu__list-item-collapsible--active {
    .menu__list-item-collapsible {
      a[aria-expanded="true"] + button.menu__caret {
        display: flex;
      }
    }

    .menu__list {
      .menu__link--sublist {
        margin-inline-start: calc(
          -1 * (var(--dropdown-icon-width) + var(--dropdown-icon-gap))
        );

        &::after {
          opacity: 0.6;
        }
      }

      .menu__list {
        padding-left: 1em;
      }
    }
  }
  
  .menu__list-item {
    padding-left: 0!important;
    
    &.header {
      margin-bottom: var(--sidebar-vertical-gap);
      
      a {
        font-weight: bold;
        font-size: 1em;
      }
    }

    &:not(:first-child) {
      margin-block-start: 0;
    }

    .menu__list {
      .menu__link {
        padding-inline-start: calc(
          var(--dropdown-icon-width) + var(--dropdown-icon-gap)
        );
      }
    }

    .menu__list-item-collapsible {
      background: none;
      
      &:hover {
        background: none;
        opacity: 0.75;
      }
    }
    
    &.hidden {
      display: none;
    }
  }

  .menu__link {
    font-weight: 500;
    line-height: 1em; /* identical to box height */
    display: flex;
    align-items: center;
    letter-spacing: -0.01em;

    &,
    &:after {
      transition: opacity 0.2s ease-out, transform 0.3s;
    }

    &:not(.menu__link--active:not(.menu__link--sublist)) {
      background: initial;
    }

    &:not(.menu__link--active):not(.menu__link--sublist) {
      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
      }
    }
  }

  .menu__list-item .menu__list-item .menu__link::after {
    --icon-url: var(--ifm-menu-link-sublist-icon) !important;
  }

  .menu__link--sublist,
  .menu__list-item.product > .menu__link {
    padding-inline-start: 0;
    padding-inline-end: 0;

    margin-block-end: 0;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    &::after {
      background: var(--icon-url) center /
        var(--dropdown-icon-width) var(--dropdown-icon-height);
      background-repeat: no-repeat;

      min-width: auto;

      width: var(--dropdown-icon-width);
      height: var(--dropdown-icon-height);

      margin-inline-end: var(--dropdown-icon-gap);
      margin-block-end: 0;
      position: absolute;
      left: 0;
    }
  }

  .theme-doc-sidebar-item-category {
    &-level-1 {
      > .menu__list-item-collapsible > .menu__link--sublist {
        margin-left: 5px;
        padding: var(--sidebar-vertical-gap) var(--sidebar-horizontal-gap) !important;
      }
    }

    &-level-2,
    &-level-3,
    &-level-4 {
      > .menu__list-item-collapsible > .menu__link--sublist {
        margin-left: 0;
      }
    }
  }

  .menu__list-item {
    &.back {
      text-transform: uppercase;

      padding-inline-start: 0;
      padding-inline-end: 0;
      margin-block-end: 0;
      margin-bottom: 2em;

      display: flex;
      align-items: center;
      flex-direction: row-reverse;
      justify-content: flex-end;

      .menu__link {
        padding-left: 0;
      }

      &::after {
        content: " ";
        background: var(--ifm-menu-link-sublist-icon) center /
          var(--dropdown-icon-width) var(--dropdown-icon-height);
        background-repeat: no-repeat;
        transform: rotate(-90deg);

        min-width: auto;

        width: var(--dropdown-icon-width);
        height: var(--dropdown-icon-height);

        margin-inline-end: var(--dropdown-icon-gap);
        margin-block-end: 0;
      }
    }

    &.top-level-item-list > div > .menu__link--sublist,
    &.top-level-item > a.menu__link {
      margin-left: var(--icon-gap);

      &::after {
        --icon-size: 1.5em;
        --dropdown-icon-width: var(--icon-size);
        --dropdown-icon-height: var(--icon-size);

        content: " ";
        background: var(--icon-url) center / var(--dropdown-icon-width) var(--dropdown-icon-height);
        transform: rotate(0);
        opacity: 1;
      }
    }
  }

  .menu__list-item.product {
    position: relative;

    > .menu__link {
      padding: var(--sidebar-vertical-gap) var(--sidebar-horizontal-gap);
    }
  }

  .menu__list-item.top-level-item:not(.config) {
    > div > .menu__link--sublist,
    > a.menu__link {
      &:hover {
        &::after {
          transform: scale(1.1);
        }
      }

      &:active {
        &::after {
          transform: scale(0.9);
        }
      }
    }
  }

  .menu__list-item {
    > div > .menu__link--sublist::after {
      background-size: cover !important;
      //transition-duration: 0.5s;
      background-image: var(--icon-url);
    }

    &.config > div > .menu__link--sublist {
      &::after {
        background-image: var(--icon-url);
        transition-duration: 0.5s;
      }

      &:hover {
        &::after {
          transform: rotate(120deg);
        }
      }
    }
  }

  .theme-doc-sidebar-item-category-level-1,
  .theme-doc-sidebar-item-link-level-1.product {
    > .menu__link {
      color: var(--sidebar-category-c);
      line-height: 100%;
    }

    &.top-level-item {
      > .menu__link,
      > div > .menu__link { 
        font-weight: 600;
      }
    }
  }

  nav {
    &[class^="sidebar"] {
      max-height: initial !important;
    }

    > .menu__list {
      .menu__list-item:not(.menu__list-item--collapsed) {
        .menu__link.menu__link--sublist.menu__link--active {
          //color: var(--color-codat-primary);
          opacity: 0.5;
        }
      }
    }
  }
}

.blog {
  [class^="sidebarItemLink"] {
    color: var(--ifm-font-color-base);
    margin-bottom: 1.5em;
  }
}

// icons

html[data-theme="light"] {
  .menu__list-item {
    &.get-started {
      --icon-url: url("/img/sidebar/introduction.svg");
    }

    &.learn {
      --icon-url: url("/img/sidebar/core-concepts.svg");
    }

    &.api {
      --icon-url: url("/img/sidebar/api.svg");
    }
    
    &.auth {
      --icon-url: url("/img/sidebar/auth-flow.svg");
    }

    &.config {
      --icon-url: url("/img/sidebar/gear-fine.svg");
    }

    &.data {
      --icon-url: url("/img/sidebar/data-model.svg");
    }

    &.integrations {
      --icon-url: url("/img/sidebar/integrations.svg");
    }

    &.usecases {
      --icon-url: url("/img/sidebar/usecase.svg");
    }

    &.tutorials {
      --icon-url: url("/img/sidebar/other-guides.svg");
    }

    &.product {
      --icon-url: url("/img/sidebar/products.svg");
    }

    &.product.accounting {
      --icon-url: url("/img/sidebar/coins.svg");
    }

    &.product.assess,
    &.product.lending {
      --icon-url: url("/img/sidebar/icon_lending.svg");
    }

    &.product.banking {
      --icon-url: url("/img/sidebar/bank.svg");
    }

    &.product.bankfeed {
      --icon-url: url("/img/sidebar/bank.svg");
      //--icon-url: url("/img/sidebar/icon_bankfeeds.svg");
    }

    &.product.commerce {
      --icon-url: url("/img/sidebar/cart.svg");
    }

    &.product.sfe {
      --icon-url: url("/img/sidebar/icon_expenses.svg");
    }

    &.product.sfc {
      --icon-url: url("/img/sidebar/icon_commerce.svg");
    }

    &.product.sfpayables {
      --icon-url: url("/img/sidebar/icon_payables.svg");
    }

    &.product.sfpayroll {
      --icon-url: url("/img/sidebar/icon_payroll.svg");
    }
  }
}

html[data-theme="dark"] {
  .menu__list-item {
    &.get-started {
      --icon-url: url("/img/sidebar-dark/introduction.svg");
    }

    &.learn {
      --icon-url: url("/img/sidebar-dark/core-concepts.svg");
    }

    &.config {
      --icon-url: url("/img/sidebar-dark/gear-fine.svg");
    }

    &.api {
      --icon-url: url("/img/sidebar-dark/api.svg");
    }
    
    &.auth {
      --icon-url: url("/img/sidebar-dark/auth-flow.svg");
    }

    &.data {
      --icon-url: url("/img/sidebar-dark/data-model.svg");
    }

    &.integrations {
      --icon-url: url("/img/sidebar-dark/integrations.svg");
    }

    &.usecases {
      --icon-url: url("/img/sidebar-dark/usecase.svg");
    }

    &.tutorials {
      --icon-url: url("/img/sidebar-dark/other-guides.svg");
    }

    &.product.accounting  {
      --icon-url: url("/img/sidebar-dark/coins_light.svg");
    }

    &.product.assess,
    &.product.lending  {
      --icon-url: url("/img/sidebar-dark/icon_lending_light.svg");
    }

    &.product.banking  {
      --icon-url: url("/img/sidebar-dark/bank_light.svg");
    }

    &.product.bankfeed  {
      //--icon-url: url("/img/sidebar-dark/icon_bankfeeds_light.svg");
      --icon-url: url("/img/sidebar-dark/bank_light.svg");
    }

    &.product.commerce {
      --icon-url: url("/img/sidebar-dark/cart_light.svg");
    }

    &.product.sfe {
      --icon-url: url("/img/sidebar-dark/icon_expenses_light.svg");
    }

    &.product.sfc {
      --icon-url: url("/img/sidebar-dark/icon_commerce_light.svg");
    }

    &.product.sfpayables {
      --icon-url: url("/img/sidebar-dark/icon_payables_light.svg");
    }

    &.product.sfpayroll {
      --icon-url: url("/img/sidebar-dark/icon_payroll_light.svg");
    }
  }
}
