iframe.googleSheets {
	--padding-margin: -2em;  

	border-radius: 8px;
	overflow: hidden;
	border: 1px solid #efefef;
	margin-left: var(--padding-margin);
    margin-right: var(--padding-margin);
    max-width: initial;
	width: 100%;
    width: -moz-available;          
    width: -webkit-fill-available; 
    width: stretch;
    top: 0;
    left: 0;

	@media (max-width: 1080px) {
		--padding-margin: 0;  
	}
}