/* Images */

article .markdown {
  > img,
  > p > img,
  > ol > li > p > img,
  > ul > li > p > img {
    border: 1px solid #ededed;
    border-radius: 6px;
    text-align: center;
    width: auto;
    max-height: 450px;
    margin: auto;
    margin-bottom: 2em;
  }
}
