/* Lists */

article .markdown ul li,
article .markdown ol li {
  font-weight: 300;
  color: var(--ifm-font-color-base);
}

article .markdown ol {
  list-style: none;
  padding: 0em !important;
  margin: 2em 0 !important;
}

article .markdown ol:not([start]) {
  counter-reset: li-counter;
}

article .markdown ol > li {
  counter-increment: li-counter;
  margin-bottom: 1.5em !important;
  position: relative;
  margin-left: 3em;
}

article .markdown ol > li::before {
  content: counter(li-counter);
  color: #18103A;
  background-color: #E0E9D1;
  font-weight: 500;
  border-radius: 50%;
  font-family: var(--sans-serif);
  font-size: 12px;
  position: absolute;
  left: -3em;
  top: 3px;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

html[data-theme="dark"] article .markdown ol > li::before {
  color: #E0E9D1;
  background-color: transparent;
  border: 1.5px solid #E0E9D1;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

article .markdown ol ul,
article .markdown ul ul,
article .markdown ol ol,
article .markdown ul ol {
  margin-top: 0.5em !important;
}

.task-list-item {
  list-style-type: none;

  .task-checkbox{
    margin-right: 5px;
    cursor: pointer;
  }
}