.callout.read-next {
	margin-top: 4em;
}

#read-next + ul,
#read-next + p + ul,
.read-next > ul {
	padding: 0;
	list-style-type: none;

	li {
		border: 2px solid rgba(100, 130, 167, 0.3);
		background: rgba(24, 16, 58, 0.05);

		html[data-theme="dark"] & {
			border-color: rgba(178, 212, 199, 0.4);
			background: rgba(236, 237, 229, 0.05);
		}
		padding: 0.5em 1em;
		border-radius: 4px;

		&::marker {
			display: none;
		}

		&:before {
			content: "🔗";
			padding-right: 1em;
		}
	}
}