/* Scrollbar */

:root {
  --scrollbar-track-color: #ECEDE5;
  --scrollbar-thumb-color: rgba(24, 16, 58, 0.3);
}

html[data-theme="dark"] {
  --scrollbar-track-color: #18103A;
  --scrollbar-thumb-color: rgba(236, 237, 229, 0.3);
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color);
  border-radius: 4px;
}
