html[data-theme="light"] {
  --ifm-table-border-color: #E0E9D1;
  --ifm-table-header-color: #E0E9D1;
  --ifm-table-background: #ECEDE5;
  --table-stripe: #F4F5F0;
}

html[data-theme="dark"] {
  --ifm-table-border-color: #B2D4C7;
  --ifm-table-header-color: rgba(178, 212, 199, 0.2);
  --ifm-table-background: #18103A;
  --table-stripe: #21524F;

  .markdown .table-wrapper table {
    border-color: #B2D4C7;
  }
}

:root {
  --ifm-table-stripe-background: var(--ifm-table-background);
  --padding-margin: -2em;  

  @media (max-width: 1199px) {
    --padding-margin: 0;  
  }
}

table,
tr,
td,
th {
  border-collapse: collapse;
}

table {
  display: table;
  border-radius: 8px;

  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: inset 0 0 0 1px var(--ifm-table-border-color);

  thead {
    tr {
      border-width: 1px;
    }
  }
}

th {
  text-align: start;
  font-family: var(--heading-font);
  font-weight: 200;
}

th,
td {
  line-height: 1.6;
}

td {
  font-size: 16px;
  font-weight: 300;
}

td:first-child {
  font-family: var(--heading-font);
}

thead th:empty {
  display: none;
}

.reference-table {
  display: inline-table;
}

.reference-table th h3 {
  margin: 0;
}

.reference-table p {
  margin: 0;
}

.reference-table p + p {
  margin-top: 2em;
}

/* Tables */

.markdown {
  table {
    th,
    tr {
      > td {
        vertical-align: top;
      }
    }
  }

  > .table-wrapper {
    width: 100%;
    margin: 2.5em 0;
    max-width: initial;
    margin-left: var(--padding-margin);
    margin-right: var(--padding-margin);

    > table {
      width: 100%;
    }
  }

  .table-wrapper {
    overflow-x: auto;

    width: auto !important;

    table {
      border: 2px solid #E0E9D1;
      border-radius: 8px;
      overflow: hidden;
      border-collapse: separate;
      border-spacing: 0;
      box-shadow: none;

      tr, th, td {
        border: none !important;
      }

      thead tr {
        background-color: var(--ifm-table-header-color);
        border-width: 0 !important;
      }

      thead tr th {
        padding: 1em 13px;
        border-bottom: 1px solid var(--ifm-table-border-color) !important;
      }

      tbody tr td {
        border-bottom: 1px solid var(--ifm-table-border-color) !important;
      }

      tbody tr:last-child td {
        border-bottom: none !important;
      }

      tbody tr {
        &:nth-child(even) {
          background-color: var(--table-stripe);
        }
      }
    }
  }
}
