html[data-theme="light"] {
  --ifm-table-border-color: var(--c-indigo-30);
  --ifm-table-border-color: #ededed;
  --ifm-table-header-color: var(--color-interface-10);

  --table-stripe: var(--color-interface-10);
}

html[data-theme="dark"] {
  --ifm-table-border-color: var(--c-gray-90);

  --table-stripe: var(--token-secondary-bg-c);
}

:root {
  --ifm-table-stripe-background: var(--ifm-table-background);
}

.table-wrapper {
  overflow-x: auto;
}

table,
tr,
td,
th {
  border-collapse: collapse;
}

table {
  display: table;
  border-radius: 8px;

  border-style: hidden; /* hide standard table (collapsed) border */
  box-shadow: inset 0 0 0 1px var(--ifm-table-border-color);

  thead {
    tr {
      border-width: 1px;
    }
  }
}

th {
  text-align: start;
}

th,
td {
  line-height: 1.6;
}

thead th:empty {
  display: none;
}

.reference-table {
  display: inline-table;
}

.reference-table th h3 {
  margin: 0;
}

.reference-table p {
  margin: 0;
}

.reference-table p + p {
  margin-top: 2em;
}

/* Tables */

.markdown {
  table {
    th,
    tr {
      > td {
        vertical-align: top;
      }
    }
  }

  > .table-wrapper {
    width: 100%;
    margin: 2.5em 0;
    > table {
      width: 100%;
    }
  }



  .table-wrapper {
    table {
      border: 1px solid var(--ifm-table-border-color);
      border-radius: 8px;
      overflow: hidden;
      border-collapse: collapse;
      //border: none !important;

      thead tr {
        background-color: var(--ifm-table-header-color);
      }

      thead tr th {
        padding: 1em 13px;
        border-top: none;
      }

      thead tr {
        border-left: none;
        border-right: none;
      }

      thead tr th,
      tbody tr td {
        border-left: none;
        border-right: none;
      }

      tbody tr {
        td:last-child {
          border-bottom: none;
        }

        &:nth-child(even) {
          background-color: var(--table-stripe);
        }
      }
    }
  }
}
