{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "v6f6vc930irb5"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "title": "Sync for Commerce (v1)",
    "version": "1.1",
    "contact": {
      "name": "Codat",
      "url": "https://www.codat.io/",
      "email": "syncforcommerce@codat.io"
    },
    "description": "The API for Sync for Commerce V1.\n\nSync for Commerce automatically replicates and reconciles sales data from a merchant’s source PoS, Payments, and eCommerce systems into their accounting software. This eliminates manual processing by merchants and transforms their ability to run and grow their business.\n  \n[Read More...](https://docs.codat.io/commerce/overview)\n\nNot seeing what you expect? [See the main Sync for Commerce API](https://docs.codat.io/sync-for-commerce-api).",
    "termsOfService": "https://www.codat.io/legals/"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      408,
      429,
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "x-codat-docs-path": "sync-for-commerce-v1-api",
  "x-codat-speakeasy-pagination": {
    "type": "offsetLimit",
    "inputs": [
      {
        "name": "page",
        "in": "parameters",
        "type": "page"
      }
    ],
    "outputs": {
      "results": "$.results"
    }
  },
  "tags": [
    {
      "name": "Company management",
      "description": "Create new and manage existing Sync for Commerce companies."
    },
    {
      "name": "Configuration",
      "description": "Expressively configure preferences for any given Sync for Commerce company."
    },
    {
      "name": "Sync flow preferences",
      "description": "Configure preferences for any given Sync for Commerce company using sync flow."
    },
    {
      "name": "Sync",
      "description": "Initiate a sync of Sync for Commerce company data into their respective accounting software."
    },
    {
      "name": "Integrations",
      "description": "View useful information about codat's integrations."
    },
    {
      "name": "Companies",
      "description": "Create and manage your Codat companies."
    },
    {
      "name": "Connections",
      "description": "Manage your companies' data connections."
    },
    {
      "name": "Refresh data",
      "description": "Asynchronously retrieve data from an integration to refresh data in Codat."
    },
    {
      "name": "Push data",
      "description": "View push options and get push statuses."
    },
    {
      "name": "Accounting accounts",
      "description": "Accounts"
    },
    {
      "name": "Accounting credit notes",
      "description": "Credit notes"
    },
    {
      "name": "Accounting customers",
      "description": "Customers"
    },
    {
      "name": "Accounting direct incomes",
      "description": "Direct incomes"
    },
    {
      "name": "Accounting company info",
      "description": "Company info"
    },
    {
      "name": "Accounting invoices",
      "description": "Invoices"
    },
    {
      "name": "Accounting journal entries",
      "description": "Journal entries"
    },
    {
      "name": "Accounting payments",
      "description": "Payments"
    },
    {
      "name": "Accounting bank accounts",
      "description": "Bank accounts"
    },
    {
      "name": "Commerce customers",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Commerce company info",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Commerce locations",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Commerce orders",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Commerce payments",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Commerce products",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Commerce transactions",
      "description": "Retrieve standardized data from linked commerce platforms."
    }
  ],
  "paths": {
    "/meta/companies": {
      "get": {
        "tags": [
          "Company management"
        ],
        "summary": "List companies",
        "description": "Retrieve a list of all companies the client has created.",
        "operationId": "list-companies",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/meta/companies/sync": {
      "post": {
        "tags": [
          "Company management"
        ],
        "summary": "Create sync for commerce company",
        "description": "Creates a Codat company with a commerce partner data connection.",
        "operationId": "create-company",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompany"
              },
              "example": {
                "name": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/meta/companies/{companyId}/connections": {
      "get": {
        "tags": [
          "Company management"
        ],
        "summary": "List data connections",
        "description": "Retrieve previously created data connections.",
        "operationId": "list-connections",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connections"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Company management"
        ],
        "summary": "Create connection",
        "description": "Create a data connection for company.",
        "operationId": "create-connection",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "string"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ]
    },
    "/config/companies/{companyId}/sync/commerce": {
      "get": {
        "tags": [
          "Configuration"
        ],
        "summary": "Retrieve config preferences set for a company",
        "description": "Retrieve current config preferences.",
        "operationId": "get-configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "post": {
        "tags": [
          "Configuration"
        ],
        "summary": "Create or update configuration",
        "description": "Make changes to configuration preferences.",
        "operationId": "set-configuration",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/config/integrations": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "List integrations",
        "description": "Retrieve a list of available integrations support by datatype and state of release.",
        "operationId": "list-integrations",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Integrations"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/config/integrations/{platformKey}/branding": {
      "get": {
        "tags": [
          "Integrations"
        ],
        "summary": "Get branding for an integration",
        "description": "Retrieve Integration branding assets.",
        "operationId": "get-integration-branding",
        "parameters": [
          {
            "$ref": "#/components/parameters/platformKey"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Branding"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "platformKey",
          "in": "path",
          "required": true,
          "description": "Unique four letter identifier for the platform"
        }
      ]
    },
    "/meta/companies/{companyId}/connections/{connectionId}": {
      "patch": {
        "tags": [
          "Company management"
        ],
        "summary": "Update data connection",
        "description": "Update a data connection",
        "operationId": "update-connection",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnection"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ]
    },
    "/config/sync/commerce/{commerceKey}/{accountingKey}/start": {
      "get": {
        "tags": [
          "Sync flow preferences"
        ],
        "summary": "Retrieve sync flow url",
        "description": "Get a URL for Sync Flow including a one time passcode.",
        "operationId": "get-sync-flow-url",
        "parameters": [
          {
            "name": "commerceKey",
            "in": "path",
            "description": "Commerce platform key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "accountingKey",
            "in": "path",
            "description": "Accounting platform key",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "merchantIdentifier",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Identifier for your merchant, can be the merchant name or Codat company id."
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncFlowUrl"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "parameters": [
        {
          "schema": {
            "type": "string"
          },
          "name": "commerceKey",
          "in": "path",
          "required": true,
          "description": "Unique identifier for commerce platform."
        },
        {
          "schema": {
            "type": "string"
          },
          "name": "accountingKey",
          "in": "path",
          "required": true,
          "description": "Unique identifier for accounting software."
        }
      ]
    },
    "/sync/commerce/config/ui/text": {
      "get": {
        "tags": [
          "Sync flow preferences"
        ],
        "summary": "Retrieve preferences for text fields on sync flow",
        "description": "To enable retrieval of preferences set for the text fields on Sync Flow.",
        "operationId": "get-config-text-sync-flow",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalizationInfo"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "patch": {
        "tags": [
          "Sync flow preferences"
        ],
        "summary": "Update preferences for text fields on sync flow",
        "description": "To enable update of preferences set for the text fields on sync flow.",
        "operationId": "update-config-text-sync-flow",
        "parameters": [
          {
            "$ref": "#/components/parameters/locale"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LocalizationInfo"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LocalizationInfo"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/clients/{clientId}/config/ui/accounts/platform/{platformKey}": {
      "parameters": [
        {
          "name": "clientId",
          "in": "path",
          "required": true,
          "schema": {
            "title": "Client ID",
            "type": "string",
            "format": "uuid",
            "description": "Unique identifier for your client in Codat."
          },
          "description": "Unique identifier for your client in Codat."
        },
        {
          "$ref": "#/components/parameters/platformKey"
        }
      ],
      "get": {
        "tags": [
          "Sync flow preferences"
        ],
        "summary": "List visible accounts",
        "description": "Enable retrieval for accounts which are visible on sync flow.",
        "operationId": "get-visible-accounts",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisibleAccounts"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/sync/commerce/config/ui/accounts/platform/{platformKey}": {
      "post": {
        "tags": [
          "Sync flow preferences"
        ],
        "summary": "Update the visible accounts on sync flow",
        "description": "To enable update of accounts visible preferences set on Sync Flow.",
        "operationId": "update-visible-accounts-sync-flow",
        "parameters": [
          {
            "$ref": "#/components/parameters/platformKey"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/VisibleAccounts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VisibleAccounts"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "x-stoplight": {
          "id": "31t0fdy12nbif"
        }
      }
    },
    "/companies/{companyId}/sync/commerce/latest": {
      "post": {
        "tags": [
          "Sync"
        ],
        "summary": "Sync new",
        "description": "Run a Commerce sync from the last successful sync up to the date provided (optional), otherwise UtcNow is used.\r\nIf there was no previously successful sync, the start date in the config is used.",
        "operationId": "request-sync",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncToLatestArgs"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/SyncSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ]
    },
    "/meta/companies/{companyId}/sync/commerce/historic": {
      "post": {
        "tags": [
          "Sync"
        ],
        "summary": "Sync range",
        "description": "Run a Commerce sync from the specified start date to the specified finish date in the request payload.",
        "operationId": "request-sync-for-date-range",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "requestBody": {
          "description": "",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SyncRange"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSummary"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/meta/companies/{companyId}/sync/commerce/status": {
      "get": {
        "tags": [
          "Sync"
        ],
        "summary": "Get status for a company's syncs",
        "description": "Check the sync history and sync status for a company.",
        "operationId": "get-sync-status",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SyncSummary"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ]
    },
    "/companies/{companyId}": {
      "put": {
        "summary": "Update company",
        "description": "﻿Use the *Update company* endpoint to update both the name and description of the company. \nIf you use [groups](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Group) to manage a set of companies, use the [Add company](https://docs.codat.io/sync-for-commerce-v1-api#/operations/add-company-to-group) or [Remove company](https://docs.codat.io/sync-for-commerce-v1-api#/operations/remove-company-from-group) endpoints to add or remove a company from a group.\n\nA [company](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.",
        "operationId": "update-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCompany"
              },
              "examples": {
                "Update name": {
                  "value": {
                    "name": "New Name"
                  }
                },
                "Update description": {
                  "value": {
                    "name": "Same name",
                    "description": "Additional documents required"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a company",
        "operationId": "delete-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "description": "﻿The *Delete company* endpoint permanently deletes a [company](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Company), its [connections](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Connection) and any cached data. This operation is irreversible.\n\nA [company](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.\n",
        "tags": [
          "Companies"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "get": {
        "summary": "Get company",
        "operationId": "get-company",
        "description": "﻿The *Get company* endpoint returns a single company for a given `companyId`.\n\nA [company](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/sync-for-commerce-v1-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "Simple company": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "My First Company",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar"
                    }
                  },
                  "With groups": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "My First Company",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar",
                      "groups": [
                        {
                          "id": "f8a6f6ed-9812-4d1e-ba48-4346348403c8"
                        }
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}": {
      "get": {
        "summary": "Get connection",
        "operationId": "get-connection",
        "description": "﻿Returns a specific connection for a company when valid identifiers are provided. If the identifiers are for a deleted company and/or connection, a not found response is returned.",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete connection",
        "operationId": "delete-connection",
        "description": "﻿Revoke and remove a connection from a company.\nThis operation is not reversible. The end user would need to reauthorize a new data connection if you wish to view new data for this company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "patch": {
        "summary": "Unlink connection",
        "description": "﻿This allows you to deauthorize a connection, without deleting it from Codat. This means you can still view any data that has previously been pulled into Codat, and also lets you re-authorize in future if your customer wishes to resume sharing their data.",
        "operationId": "unlink-connection",
        "x-speakeasy-name-override": "unlink",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateConnection"
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "Unlinked"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/companies/{companyId}/data/all": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "post": {
        "summary": "Refresh all data",
        "operationId": "refresh-company-data",
        "x-speakeasy-name-override": "all",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "description": "Refreshes all data types with `fetch on first link` set to `true` for a given company.\n\nThis is an asynchronous operation, and will bring updated data into Codat from the linked integration for you to view.\n\n[Read more](https://docs.codat.io/core-concepts/data-type-settings) about data type settings and `fetch on first link`.",
        "tags": [
          "Refresh data"
        ]
      }
    },
    "/companies/{companyId}/dataStatus": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "summary": "Get data status",
        "operationId": "get-company-data-status",
        "description": "Get the state of each data type for a company",
        "tags": [
          "Refresh data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "title": "Data statuses",
                  "x-internal": true,
                  "type": "object",
                  "additionalProperties": {
                    "$ref": "#/components/schemas/DataStatus"
                  }
                },
                "examples": {
                  "Example": {
                    "value": {
                      "invoices": {
                        "dataType": "invoices",
                        "lastSuccessfulSync": "2022-01-01T00:00:00.000Z",
                        "currentStatus": "success",
                        "latestSyncId": "d03b6979-eb3b-447a-a27a-13cf457a9f48",
                        "latestSuccessfulSyncId": "6883bba8-514d-423f-ba7f-c38285a80b7f"
                      },
                      "bills": {
                        "dataType": "bills",
                        "lastSuccessfulSync": "2022-01-01T00:00:00.000Z",
                        "currentStatus": "failure",
                        "latestSyncId": "d03b6979-eb3b-447a-a27a-13cf457a9f48",
                        "latestSuccessfulSyncId": "6883bba8-514d-423f-ba7f-c38285a80b7f"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/data/queue/{dataType}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/dataType"
        }
      ],
      "post": {
        "summary": "Refresh data type",
        "operationId": "refresh-data-type",
        "x-speakeasy-name-override": "by-data-type",
        "description": "Refreshes a given data type for a given company.\n\nThis is an asynchronous operation, and will bring updated data into Codat from the linked integration for you to view.",
        "tags": [
          "Refresh data"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "connectionId",
            "description": "Optionally, provide a data connection id to only queue pull operations on that connection."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullOperation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/data/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "summary": "List pull operations",
        "tags": [
          "Refresh data"
        ],
        "operationId": "list-pull-operations",
        "x-speakeasy-name-override": "list-pull-operations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullOperations"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "results": [
                        {
                          "id": "97d60846-f07a-4d42-b5a0-0bdcc6ebf56b",
                          "companyId": "4645bd78-8988-45bc-ac9e-67ba5df6e4e5",
                          "connectionId": "51baa045-4836-4317-a42e-3542e991e581",
                          "dataType": "invoices",
                          "status": "Initial",
                          "requested": "2022-11-14T11:18:37.2798351Z",
                          "progress": 10,
                          "isCompleted": false,
                          "isErrored": false
                        }
                      ],
                      "_links": {
                        "current": {
                          "href": "/companies/17129e41-5389-4f10-ac06-e0a37e47d177/data/history?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/17129e41-5389-4f10-ac06-e0a37e47d177/data/history"
                        },
                        "next": {
                          "href": "/companies/17129e41-5389-4f10-ac06-e0a37e47d177/data/history?page=2&pageSize=2"
                        }
                      },
                      "pageNumber": 0,
                      "pageSize": 0,
                      "totalResults": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "description": "Gets the pull operation history (datasets) for a given company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ]
      }
    },
    "/companies/{companyId}/push": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "summary": "List push operations",
        "tags": [
          "Push data"
        ],
        "operationId": "get-company-push-history",
        "x-speakeasy-name-override": "list-operations",
        "description": "List push operation records.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushOperations"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/data/history/{datasetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/datasetId"
        }
      ],
      "get": {
        "summary": "Get pull operation",
        "operationId": "get-pull-operation",
        "x-speakeasy-name-override": "get-pull-operation",
        "tags": [
          "Refresh data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullOperation"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "description": "Retrieve information about a single dataset or pull operation."
      }
    },
    "/companies/{companyId}/push/{pushOperationKey}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "pushOperationKey",
          "in": "path",
          "required": true,
          "description": "Push operation key."
        }
      ],
      "get": {
        "summary": "Get push operation",
        "tags": [
          "Push data"
        ],
        "operationId": "get-push-operation",
        "x-speakeasy-name-override": "get-operation",
        "description": "Retrieve push operation.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushOperation"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/data/accounts": {
      "get": {
        "tags": [
          "Accounting accounts"
        ],
        "summary": "List accounts",
        "description": "﻿The *List accounts* endpoint returns a list of [accounts](https://docs.codat.io/accounting-api#/schemas/Account) for a given company's connection.\n\n[Accounts](https://docs.codat.io/accounting-api#/schemas/Account) are the categories a business uses to record accounting transactions.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/sync-for-commerce-v1-api#/operations/refresh-company-data).",
        "operationId": "list-accounting-accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/AccountingAccounts"
                },
                "examples": {
                  "Clear Books": {
                    "value": {
                      "results": [
                        {
                          "id": "1b6266d1-1e44-46c5-8eb5-a8f98e03124e",
                          "nominalCode": "610",
                          "name": "Accounts Receivable",
                          "description": "Invoices the business has issued but has not yet collected payment on.",
                          "fullyQualifiedCategory": "Asset.Current",
                          "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T12:38:15Z",
                          "sourceModifiedDate": "2022-12-10T16:39:00",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "76d5f23b-9623-4e3b-89cd-da57228764d3",
                          "nominalCode": "611",
                          "name": "Accounts Receivable",
                          "description": "A provision anticipating that a portion of accounts receivable will never be collected.",
                          "fullyQualifiedCategory": "Asset.Current",
                          "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T12:38:15Z",
                          "sourceModifiedDate": "2022-10-19T05:49:00",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 98,
                      "_links": {
                        "current": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts"
                        },
                        "next": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Dynamics 365 Business Central": {
                    "value": {
                      "results": [
                        {
                          "id": "8eaed16d-c69f-ec11-80f1-0022481b4546",
                          "nominalCode": "45422026-68CA-4EF2-9",
                          "name": "",
                          "fullyQualifiedCategory": " .",
                          "fullyQualifiedName": "..",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Unknown",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-27T14:21:18Z",
                          "sourceModifiedDate": "2022-03-09T16:31:54Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "c0861a65-c69f-ec11-80f1-0022481b4546",
                          "nominalCode": "10",
                          "name": "Account no cat Balance Sheet",
                          "fullyQualifiedCategory": " .",
                          "fullyQualifiedName": "..Account no cat Balance Sheet",
                          "currency": "GBP",
                          "currentBalance": 27.34,
                          "type": "Unknown",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-27T14:21:18Z",
                          "sourceModifiedDate": "2022-09-13T14:45:01Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 122,
                      "_links": {
                        "current": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Exact (Netherlands)": {
                    "value": {
                      "results": [
                        {
                          "id": "ef2fde36-4416-4bc5-b239-315b2929348c",
                          "nominalCode": "1300",
                          "name": "Debiteuren",
                          "description": "Debiteuren",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Debiteuren.PaymentsEnabled",
                          "currency": "EUR",
                          "currentBalance": 864435.44,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:36:17Z",
                          "sourceModifiedDate": "2020-01-08T09:42:54Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        },
                        {
                          "id": "2052b65b-20e9-4da1-85d8-fd5ca0ea3d38",
                          "nominalCode": "888777888",
                          "name": "One more AR account",
                          "description": "One more AR account",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.One more AR account.PaymentsEnabled",
                          "currency": "EUR",
                          "currentBalance": 2174.82,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:36:17Z",
                          "sourceModifiedDate": "2021-06-10T11:00:20Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 230,
                      "_links": {
                        "current": {
                          "href": "/companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts"
                        },
                        "next": {
                          "href": "/companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Exact (UK)": {
                    "value": {
                      "results": [
                        {
                          "id": "ca2b96b7-cc45-4e35-9fa3-82a2ba1eec40",
                          "nominalCode": "THING",
                          "name": "Some thing account",
                          "description": "Some thing account",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Some thing account.PaymentsEnabled",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:35:15Z",
                          "sourceModifiedDate": "2017-08-01T17:31:12Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        },
                        {
                          "id": "cf9572e7-8afa-4339-9113-af32a66d9df9",
                          "nominalCode": "15400",
                          "name": "Trade Debtors",
                          "description": "Trade Debtors",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Trade Debtors.PaymentsEnabled",
                          "currency": "GBP",
                          "currentBalance": 4484655.39,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:35:15Z",
                          "sourceModifiedDate": "2020-01-08T13:48:38Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 121,
                      "_links": {
                        "current": {
                          "href": "/companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "results": [
                        {
                          "id": "601",
                          "nominalCode": "601",
                          "name": "Capital Asset Brought Forward",
                          "fullyQualifiedCategory": "Asset.Capital",
                          "fullyQualifiedName": "Asset.Capital.Capital Asset Brought Forward",
                          "currency": "GBP",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "605",
                          "nominalCode": "605",
                          "name": "Capital Asset Depreciation Brought Forward",
                          "fullyQualifiedCategory": "Asset.Capital",
                          "fullyQualifiedName": "Asset.Capital.Capital Asset Depreciation Brought Forward",
                          "currency": "GBP",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 292,
                      "_links": {
                        "current": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts"
                        },
                        "next": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "FreshBooks": {
                    "value": {
                      "results": [
                        {
                          "id": "67357",
                          "nominalCode": "1200",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "Asset",
                          "fullyQualifiedName": "Asset.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 51445.53,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-24T16:07:24Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "128611",
                          "nominalCode": "1200-1",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 51445.53,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-24T16:07:24Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 96,
                      "_links": {
                        "current": {
                          "href": "/companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts"
                        },
                        "next": {
                          "href": "/companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "KashFlow": {
                    "value": {
                      "results": [
                        {
                          "id": "27840056",
                          "nominalCode": "70700",
                          "name": "16th Account",
                          "fullyQualifiedCategory": "Asset.BankAccount",
                          "fullyQualifiedName": "Asset.BankAccount.16th Account",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-09-30T10:29:16Z",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "27840049",
                          "nominalCode": "70600",
                          "name": "1a1a",
                          "fullyQualifiedCategory": "Asset.BankAccount",
                          "fullyQualifiedName": "Asset.BankAccount.1a1a",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-09-30T10:29:16Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 157,
                      "_links": {
                        "current": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts"
                        },
                        "next": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Oracle NetSuite": {
                    "value": {
                      "results": [
                        {
                          "id": "111",
                          "name": "Accounts Payable",
                          "fullyQualifiedCategory": "AcctPay.AcctPay",
                          "fullyQualifiedName": "AcctPay.AcctPay.Accounts Payable",
                          "currentBalance": -635.55,
                          "type": "Liability",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-30T14:48:33Z",
                          "sourceModifiedDate": "2021-08-11T12:51:21",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "119",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "AcctRec.AcctRec",
                          "fullyQualifiedName": "AcctRec.AcctRec.Accounts Receivable",
                          "currentBalance": -565,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-30T14:48:33Z",
                          "sourceModifiedDate": "2021-09-08T15:23:31",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 44,
                      "_links": {
                        "current": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Desktop": {
                    "value": {
                      "results": [
                        {
                          "id": "40000-933270541",
                          "nominalCode": "11000",
                          "name": "Accounts Receivable",
                          "description": "Accounts Receivable",
                          "fullyQualifiedCategory": "Asset.CurrentAsset.AccountsReceivable",
                          "fullyQualifiedName": "Asset.CurrentAsset.AccountsReceivable.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 93007.93,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T09:06:23Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "20000-933270541",
                          "nominalCode": "10100",
                          "name": "Checking",
                          "description": "Cash",
                          "fullyQualifiedCategory": "Asset.CurrentAsset.Bank",
                          "fullyQualifiedName": "Asset.CurrentAsset.Bank.Checking",
                          "currency": "GBP",
                          "currentBalance": 46954.1,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2023-04-26T09:06:23Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "BillLineItem.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 116,
                      "_links": {
                        "current": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts"
                        },
                        "next": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online": {
                    "value": {
                      "results": [
                        {
                          "id": "62",
                          "nominalCode": "246",
                          "name": "Debtors",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors",
                          "currency": "GBP",
                          "currentBalance": 41289.37,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-18T11:02:34Z",
                          "sourceModifiedDate": "2022-12-08T15:42:59Z",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "92",
                          "nominalCode": "247",
                          "name": "Debtors - AED",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors - AED",
                          "currency": "AED",
                          "currentBalance": -1533.44,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-18T11:02:34Z",
                          "sourceModifiedDate": "2021-02-19T14:04:45Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 234,
                      "_links": {
                        "current": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts"
                        },
                        "next": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online Sandbox": {
                    "value": {
                      "results": [
                        {
                          "id": "70",
                          "name": "Debtors",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors",
                          "currency": "GBP",
                          "currentBalance": 3041173.77,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T09:35:55Z",
                          "sourceModifiedDate": "2023-04-26T01:18:15Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "80",
                          "name": "Debtors - USD",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors - USD",
                          "currency": "USD",
                          "currentBalance": 54822.37,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T09:35:55Z",
                          "sourceModifiedDate": "2023-04-12T15:10:38Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 186,
                      "_links": {
                        "current": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts"
                        },
                        "next": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage 200cloud": {
                    "value": {
                      "results": [
                        {
                          "id": "2864",
                          "nominalCode": "1200",
                          "name": "Bank Account",
                          "description": "Bank Account",
                          "fullyQualifiedCategory": "Asset.Bank Account",
                          "fullyQualifiedName": "Asset.Bank Account.Bank Account",
                          "type": "Asset",
                          "status": "Archived",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-14T09:35:52Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": true
                          }
                        },
                        {
                          "id": "2368",
                          "nominalCode": "1200",
                          "name": "Bank Current Account",
                          "description": "Bank Current Account",
                          "fullyQualifiedCategory": "Asset.Bank Account",
                          "fullyQualifiedName": "Asset.Bank Account.Bank Current Account",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-10-14T09:35:52Z",
                          "sourceModifiedDate": "2020-09-11T13:53:12Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 344,
                      "_links": {
                        "current": {
                          "href": "/companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts"
                        },
                        "next": {
                          "href": "/companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage 50 (UK)": {
                    "value": {
                      "results": [
                        {
                          "id": "1100",
                          "nominalCode": "1100",
                          "name": "Debtors Control Account",
                          "fullyQualifiedCategory": "Asset.CurrentAssets.Debtors",
                          "fullyQualifiedName": "Asset.CurrentAssets.Debtors.Debtors Control Account",
                          "currency": "GBP",
                          "currentBalance": 90640.61,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-30T14:42:44Z",
                          "sourceModifiedDate": "2022-11-25T09:43:54",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "1102",
                          "nominalCode": "1102",
                          "name": "Other Debtors",
                          "fullyQualifiedCategory": "Asset.CurrentAssets.Debtors",
                          "fullyQualifiedName": "Asset.CurrentAssets.Debtors.Other Debtors",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-30T14:42:44Z",
                          "sourceModifiedDate": "2022-11-25T09:43:54",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 155,
                      "_links": {
                        "current": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts"
                        },
                        "next": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Business Cloud Accounting": {
                    "value": {
                      "results": [
                        {
                          "id": "e5889b459f544926ac5b8e6756df2ad4",
                          "nominalCode": "1560",
                          "name": "Abdi Internet Bank",
                          "fullyQualifiedCategory": "Asset.Bank",
                          "fullyQualifiedName": "Asset.Bank.Abdi Internet Bank",
                          "currency": "GBP",
                          "currentBalance": 49.61,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-27T10:53:26Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
[...]
