{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "title": "Bank Feeds API",
    "version": "3.0.0",
    "contact": {
      "email": "support@codat.io",
      "name": "Codat"
    },
    "description": "Bank Feeds API enables your SMB users to set up bank feeds from accounts in your application to supported accounting software.\n\nA bank feed is a connection between a source bank account in your application and a target bank account in a supported accounting software.\n\n[Explore product](https://docs.codat.io/bank-feeds-api/overview) | [See OpenAPI spec](https://github.com/codatio/oas)\n\n---\n<!-- Start Codat Tags Table -->\n## Endpoints\n\n| Endpoints | Description |\n| :- |:- |\n| Companies | Create and manage your SMB users' companies. |\n| Connections | Create new and manage existing data connections for a company. |\n| Source accounts | Provide and manage lists of source bank accounts. |\n| Account mapping | Extra functionality for building an account management UI. |\n| Company information | Get detailed information about a company from the underlying platform. |\n| Transactions | Create new bank account transactions for a company's connections, and see previous operations. |\n<!-- End Codat Tags Table -->",
    "termsOfService": "https://www.codat.io/legals/"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      408,
      429,
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "x-speakeasy-name-override": [
    {
      "operationId": "^list-.*?",
      "methodNameOverride": "list"
    },
    {
      "operationId": "^list-.*?-attachments",
      "methodNameOverride": "list-attachments"
    },
    {
      "operationId": "^get-.*?",
      "methodNameOverride": "get"
    },
    {
      "operationId": "^get-create-.*?-model",
      "methodNameOverride": "get-create-model"
    },
    {
      "operationId": "^get-create-update.*?-model",
      "methodNameOverride": "get-create-update-model"
    },
    {
      "operationId": "^get-.*?-attachment",
      "methodNameOverride": "get-attachment"
    },
    {
      "operationId": "^update-.*?",
      "methodNameOverride": "update"
    },
    {
      "operationId": "^create-.*?",
      "methodNameOverride": "create"
    },
    {
      "operationId": "^delete-.*?",
      "methodNameOverride": "delete"
    },
    {
      "operationId": "^delete-.*?-attachment",
      "methodNameOverride": "delete-attachment"
    },
    {
      "operationId": "^download-.*?-attachment",
      "methodNameOverride": "download-attachment"
    },
    {
      "operationId": "^upload-.*?-attachment",
      "methodNameOverride": "upload-attachment"
    }
  ],
  "x-codat-docs-path": "bank-feeds-api",
  "x-codat-keep-docs-paths-local": true,
  "x-codat-speakeasy-pagination": {
    "type": "offsetLimit",
    "inputs": [
      {
        "name": "page",
        "in": "parameters",
        "type": "page"
      }
    ],
    "outputs": {
      "results": "$.results"
    }
  },
  "tags": [
    {
      "name": "Companies",
      "description": "Create and manage your SMB users' companies."
    },
    {
      "name": "Connections",
      "description": "Create new and manage existing data connections for a company."
    },
    {
      "name": "Configuration",
      "description": "Configure bank feeds for a company."
    },
    {
      "name": "Bank accounts",
      "description": "Access bank accounts in an SMBs accounting software."
    },
    {
      "name": "Source accounts",
      "description": "Provide and manage lists of source bank accounts."
    },
    {
      "name": "Sync",
      "description": "Monitor the status of data syncs."
    },
    {
      "name": "Account mapping",
      "description": "Extra functionality for building an account management UI."
    },
    {
      "name": "Transactions",
      "description": "Create new bank account transactions for a company's connections, and see previous operations."
    },
    {
      "name": "Company information",
      "description": "Get detailed information about a company from the underlying accounting software."
    }
  ],
  "paths": {
    "/companies": {
      "post": {
        "summary": "Create company",
        "tags": [
          "Companies"
        ],
        "operationId": "create-company",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "With no description": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "Technicalium",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18.1950523Z",
                      "createdByUserName": "Dan Tzabar",
                      "referenceSubsidiaryCompanies": []
                    }
                  },
                  "With a description": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "Technicalium",
                      "description": "Technology services, including web and app design and development",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18.1950523Z",
                      "createdByUserName": "Dan Tzabar",
                      "referenceSubsidiaryCompanies": []
                    }
                  },
                  "With a tag": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "Technicalium",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18.1950523Z",
                      "createdByUserName": "Dan Tzabar",
                      "tags": {
                        "region": "us"
                      },
                      "referenceSubsidiaryCompanies": []
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "description": "﻿Use the *Create company* endpoint to create a new [company](https://docs.codat.io/bank-feeds-api#/schemas/Company) that represents your customer in Codat. \n\nA [company](https://docs.codat.io/bank-feeds-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/bank-feeds-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.\n\nIf forbidden characters (see `name` pattern) are present in the request, a company will be created with the forbidden characters removed. For example, `Company (Codat[1])` with be created as `Company Codat1`.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequestBody"
              },
              "examples": {
                "With no description": {
                  "value": {
                    "name": "Technicalium"
                  }
                },
                "With a description": {
                  "value": {
                    "name": "Technicalium",
                    "description": "Technology services, including web and app design and development"
                  }
                }
              }
            }
          }
        }
      },
      "get": {
        "summary": "List companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                },
                "examples": {
                  "One company": {
                    "value": {
                      "results": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "My Test Company",
                          "description": "My Test Company make testing software",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "51baa045-4836-4317-a42e-3542e991e581",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/3fa85f64-5717-4562-b3fc-2c963f66afa6/connections/51baa045-4836-4317-a42e-3542e991e581/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Mike Smith",
                          "referenceSubsidiaryCompanies": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies?page=1&pageSize=100"
                        },
                        "self": {
                          "href": "/companies"
                        }
                      }
                    }
                  },
                  "List of Companies": {
                    "value": {
                      "results": [
                        {
                          "id": "d1568dde-adf6-11ed-afa1-0242ac120002",
                          "name": "Technicalium",
                          "description": "Technology services, including web and app design and development",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/d1568dde-adf6-11ed-afa1-0242ac120002",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "51baa045-4836-4317-a42e-3542e991e581",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/d1568dde-adf6-11ed-afa1-0242ac120002/connections/51baa045-4836-4317-a42e-3542e991e581/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Joe Bloggs",
                          "referenceSubsidiaryCompanies": []
                        },
                        {
                          "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                          "name": "Toft stores",
                          "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                          "dataConnections": [],
                          "created": "2022-11-10T10:45:18Z",
                          "createdByUserName": "Dan Tzabar",
                          "referenceSubsidiaryCompanies": [
                            {
                              "id": "c8d3af58-7011-47ce-b3f2-89faf300ef6d",
                              "name": "Toft stores UK",
                              "links": {
                                "portal": "https://app.codat.io/companies/c8d3af58-7011-47ce-b3f2-89faf300ef6d/summary"
                              }
                            },
                            {
                              "id": "db94eddc-9212-4568-9b5c-3eab0e325913",
                              "name": "Toft stores US",
                              "links": {
                                "portal": "https://app.codat.io/companies/db94eddc-9212-4568-9b5c-3eab0e325913/summary"
                              }
                            }
                          ]
                        },
                        {
                          "id": "c8d3af58-7011-47ce-b3f2-89faf300ef6d",
                          "name": "Toft stores UK",
                          "redirect": "https://link.codat.io/company/c8d3af58-7011-47ce-b3f2-89faf300ef6d",
                          "dataConnections": [
                            {
                              "id": "d5ab61b7-1ad0-46fd-9f9f-b6761047941e",
                              "integrationId": "cc750323-5a47-4f28-8d8e-30fbbf2ce137",
                              "integrationKey": "akxx",
                              "sourceId": "9815b998-024d-4415-a40b-89903b2cad6f",
                              "platformName": "Oracle NetSuite",
                              "linkUrl": "https://link-api.codat.io/companies/c8d3af58-7011-47ce-b3f2-89faf300ef6d/connections/d5ab61b7-1ad0-46fd-9f9f-b6761047941e/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-11-10T10:45:18Z",
                          "createdByUserName": "Dan Tzabar",
                          "referenceParentCompany": {
                            "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                            "name": "Toft stores",
                            "links": {
                              "portal": "https://app.codat.io/companies/ab12c58d-a678-4ebf-a159-ae99e1807bd0/summary"
                            }
                          },
                          "referenceSubsidiaryCompanies": []
                        },
                        {
                          "id": "db94eddc-9212-4568-9b5c-3eab0e325913",
                          "name": "Toft stores US",
                          "redirect": "https://link.codat.io/company/db94eddc-9212-4568-9b5c-3eab0e325913",
                          "dataConnections": [
                            {
                              "id": "1e5c8c9e-27fd-4ba9-9a2a-d02ba65bc2fb",
                              "integrationId": "cc750323-5a47-4f28-8d8e-30fbbf2ce137",
                              "integrationKey": "akxx",
                              "sourceId": "9815b998-024d-4415-a40b-89903b2cad6f",
                              "platformName": "Oracle NetSuite",
                              "linkUrl": "https://link-api.codat.io/companies/db94eddc-9212-4568-9b5c-3eab0e325913/connections/1e5c8c9e-27fd-4ba9-9a2a-d02ba65bc2fb/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-11-10T10:45:18Z",
                          "createdByUserName": "Dan Tzabar",
                          "referenceParentCompany": {
                            "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                            "name": "Toft stores",
                            "links": {
                              "portal": "https://app.codat.io/companies/ab12c58d-a678-4ebf-a159-ae99e1807bd0/summary"
                            }
                          },
                          "referenceSubsidiaryCompanies": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 3,
                      "_links": {
                        "current": {
                          "href": "/companies?page=1&pageSize=100"
                        },
                        "self": {
                          "href": "/companies"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "operationId": "list-companies",
        "description": "﻿The *List companies* endpoint returns a list of [companies](https://docs.codat.io/bank-feeds-api#/schemas/Company) associated to your instances.\n\nA [company](https://docs.codat.io/bank-feeds-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/bank-feeds-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ]
      }
    },
    "/companies/{companyId}": {
      "get": {
        "summary": "Get company",
        "operationId": "get-company",
        "description": "﻿The *Get company* endpoint returns a single company for a given `companyId`.\n\nA [company](https://docs.codat.io/bank-feeds-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/bank-feeds-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "Simple company": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "Toft stores holdings",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar",
                      "referenceSubsidiaryCompanies": []
                    }
                  },
                  "Parent multi-entity company": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "Toft stores",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar",
                      "referenceSubsidiaryCompanies": [
                        {
                          "id": "c8d3af58-7011-47ce-b3f2-89faf300ef6d",
                          "name": "Toft stores UK",
                          "links": {
                            "portal": "https://app.codat.io/companies/c8d3af58-7011-47ce-b3f2-89faf300ef6d/summary"
                          }
                        },
                        {
                          "id": "db94eddc-9212-4568-9b5c-3eab0e325913",
                          "name": "Toft stores US",
                          "links": {
                            "portal": "https://app.codat.io/companies/db94eddc-9212-4568-9b5c-3eab0e325913/summary"
                          }
                        }
                      ]
                    }
                  },
                  "Subsidiary multi-entity company": {
                    "value": {
                      "id": "c8d3af58-7011-47ce-b3f2-89faf300ef6d",
                      "name": "Toft stores UK",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/c8d3af58-7011-47ce-b3f2-89faf300ef6d",
                      "dataConnections": [
                        {
                          "id": "d5ab61b7-1ad0-46fd-9f9f-b6761047941e",
                          "integrationId": "cc750323-5a47-4f28-8d8e-30fbbf2ce137",
                          "integrationKey": "akxx",
                          "sourceId": "9815b998-024d-4415-a40b-89903b2cad6f",
                          "platformName": "Oracle NetSuite",
                          "linkUrl": "https://link-api.codat.io/companies/c8d3af58-7011-47ce-b3f2-89faf300ef6d/connections/d5ab61b7-1ad0-46fd-9f9f-b6761047941e/start",
                          "status": "Linked",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "created": "2022-01-01T11:30:00Z",
                          "sourceType": "Accounting"
                        }
                      ],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar",
                      "referenceParentCompany": {
                        "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                        "name": "Toft stores",
                        "links": {
                          "portal": "https://app.codat.io/companies/ab12c58d-a678-4ebf-a159-ae99e1807bd0/summary"
                        }
                      },
                      "referenceSubsidiaryCompanies": []
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete a company",
        "operationId": "delete-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "description": "﻿The *Delete company* endpoint permanently deletes a [company](https://docs.codat.io/bank-feeds-api#/schemas/Company), its [connections](https://docs.codat.io/bank-feeds-api#/schemas/Connection) and any cached data. This operation is irreversible.\n\nA [company](https://docs.codat.io/bank-feeds-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/bank-feeds-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.\n",
        "tags": [
          "Companies"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "put": {
        "summary": "Update company",
        "description": "﻿Use the *Update company* endpoint to update both the name and description of the company. \n\nA [company](https://docs.codat.io/bank-feeds-api#/schemas/Company) represents a business sharing access to their data.\nEach company can have multiple [connections](https://docs.codat.io/bank-feeds-api#/schemas/Connection) to different data sources, such as one connection to Xero for accounting data, two connections to Plaid for two bank accounts, and a connection to Zettle for POS data.",
        "operationId": "update-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequestBody"
              },
              "examples": {
                "Update name": {
                  "value": {
                    "name": "New Name"
                  }
                },
                "Update description": {
                  "value": {
                    "name": "Same name",
                    "description": "Additional documents required"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/connections": {
      "get": {
        "summary": "List connections",
        "description": "﻿List the connections for a company.",
        "operationId": "list-connections",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connections"
                },
                "examples": {
                  "Connections": {
                    "value": {
                      "results": [
                        {
                          "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                          "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                          "integrationKey": "dfxm",
                          "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                          "platformName": "Basiq",
                          "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                          "status": "Linked",
                          "lastSync": "2022-10-27T10:22:43.6464237Z",
                          "created": "2022-10-27T09:53:29Z",
                          "sourceType": "Banking"
                        }
                      ],
                      "pageNumber": 0,
                      "pageSize": 0,
                      "totalResults": 0,
                      "_links": {
                        "self": {
                          "href": "string"
                        },
                        "current": {
                          "href": "string"
                        },
                        "next": {
                          "href": "string"
                        },
                        "previous": {
                          "href": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "post": {
        "summary": "Create connection",
        "description": "﻿Creates a connection for the company by providing a valid `platformKey`. \n\nUse the [List Integrations](https://docs.codat.io/platform-api#/operations/list-integrations) endpoint to access valid platform keys. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "operationId": "create-connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformKey": {
                    "type": "string",
                    "minLength": 4,
                    "maxLength": 4,
                    "pattern": "[a-z]{4}",
                    "example": "gbol",
                    "description": "A unique 4-letter key to represent a platform in each integration. View [accounting](https://docs.codat.io/integrations/accounting/overview#platform-keys), [banking](https://docs.codat.io/integrations/banking/overview#platform-keys), and [commerce](https://docs.codat.io/integrations/commerce/overview#platform-keys) platform keys."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}": {
      "get": {
        "summary": "Get connection",
        "operationId": "get-connection",
        "description": "﻿Returns a specific connection for a company when valid identifiers are provided. If the identifiers are for a deleted company and/or connection, a not found response is returned.",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "delete": {
        "summary": "Delete connection",
        "operationId": "delete-connection",
        "description": "﻿Revoke and remove a connection from a company.\nThis operation is not reversible. The end user would need to reauthorize a new data connection if you wish to view new data for this company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "patch": {
        "summary": "Unlink connection",
        "description": "﻿This allows you to deauthorize a connection, without deleting it from Codat. This means you can still view any data that has previously been pulled into Codat, and also lets you re-authorize in future if your customer wishes to resume sharing their data.",
        "operationId": "unlink-connection",
        "x-speakeasy-name-override": "unlink",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "title": "Update connection",
                "x-internal": true,
                "type": "object",
                "properties": {
                  "status": {
                    "$ref": "#/components/schemas/Connection/definitions/dataConnectionStatus",
                    "description": "The current authorization status of the data connection.",
                    "nullable": true
                  }
                },
                "additionalProperties": false
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "Unlinked"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/companies/{companyId}/sync/banking/config": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "summary": "Get configuration",
        "operationId": "get-configuration",
        "x-internal": true,
        "tags": [
          "Configuration"
        ],
        "description": "﻿The *Get configuration* endpoint returns the current configuration for a given company ID.",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      },
      "post": {
        "summary": "Set configuration",
        "operationId": "set-configuration",
        "x-speakeasy-name-override": "set",
        "x-internal": true,
        "tags": [
          "Configuration"
        ],
        "description": "﻿Use *Set configuration* endpoint to configure a given company ID.",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/Configuration"
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Configuration"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        }
      }
    },
    "/companies/{companyId}/sync/banking/syncs/lastSuccessful/status": {
      "get": {
        "tags": [
          "Sync"
        ],
        "description": "Use the _Get last successful sync_ endpoint to obtain the status information for the company's [most recent successful sync](https://docs.codat.io/bank-feeds-api#/schemas/CompanySyncStatus). ",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanySyncStatus"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "summary": "Get last successful sync",
        "operationId": "get-last-successful",
        "x-speakeasy-name-override": "get-last-successful-sync",
        "x-internal": true
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/bankAccounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "x-internal": true,
        "tags": [
          "Bank accounts"
        ],
        "summary": "List bank accounts",
        "operationId": "list-bank-accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccounts"
                },
                "examples": {
                  "Dynamics 365 Business Central": {
                    "value": {
                      "results": [
                        {
                          "id": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "accountName": "55",
                          "accountType": "Unknown",
                          "nominalCode": "10500",
                          "sortCode": "",
                          "accountNumber": "",
                          "iBan": "",
                          "currency": "GBP",
                          "balance": -352.03,
                          "modifiedDate": "2023-03-27T14:21:10Z",
                          "sourceModifiedDate": "2023-02-07T00:00:00",
                          "overdraftLimit": 0,
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "47020f80-60e6-ec11-82f8-0022481a77f0",
                          "accountName": "555",
                          "accountType": "Unknown",
                          "nominalCode": "40300",
                          "sortCode": "",
                          "accountNumber": "",
                          "iBan": "",
                          "currency": "PLN",
                          "balance": 661.79,
                          "modifiedDate": "2023-03-27T14:21:10Z",
                          "sourceModifiedDate": "2022-06-07T00:00:00",
                          "overdraftLimit": 0,
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 28,
                      "_links": {
                        "current": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "results": [
                        {
                          "id": "738783",
                          "accountName": "\\w3fw",
                          "accountType": "Debit",
                          "sortCode": "236972",
                          "accountNumber": "A06268209",
                          "currency": "GBP",
                          "balance": -10484.65,
                          "availableBalance": -10484.65,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "738778",
                          "accountName": "2e2bna45hy\\",
                          "accountType": "Debit",
                          "sortCode": "236972",
                          "accountNumber": "D01825250",
                          "currency": "GBP",
                          "balance": -114.4,
                          "availableBalance": -114.4,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 82,
                      "_links": {
                        "current": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "KashFlow": {
                    "value": {
                      "results": [
                        {
                          "id": "765768",
                          "accountName": "16th Account",
                          "accountType": "Unknown",
                          "nominalCode": "70700",
                          "currency": "GBP",
                          "balance": 326,
                          "availableBalance": 326,
                          "modifiedDate": "2022-09-30T10:29:16Z"
                        },
                        {
                          "id": "765766",
                          "accountName": "1a1a",
                          "accountType": "Unknown",
                          "nominalCode": "70600",
                          "currency": "GBP",
                          "balance": 0,
                          "availableBalance": 0,
                          "modifiedDate": "2022-09-30T10:29:16Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 56,
                      "_links": {
                        "current": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Oracle NetSuite": {
                    "value": {
                      "results": [
                        {
                          "id": "825",
                          "accountName": "Codat Europe Bank",
                          "accountType": "Debit",
                          "nominalCode": "111111122222111",
                          "currency": "GBP",
                          "balance": 558.22,
                          "modifiedDate": "2023-05-02T13:24:36Z",
                          "sourceModifiedDate": "2022-07-15T11:34:02",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "826",
                          "accountName": "Codat Europe Bank USD",
                          "accountType": "Debit",
                          "nominalCode": "1133221133",
                          "currency": "USD",
                          "modifiedDate": "2023-05-02T13:24:36Z",
                          "sourceModifiedDate": "2021-03-26T10:31:40",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 4,
                      "_links": {
                        "current": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Desktop": {
                    "value": {
                      "results": [
                        {
                          "id": "20000-933270541",
                          "accountName": "Checking",
                          "accountType": "Unknown",
                          "nominalCode": "10100",
                          "currency": "GBP",
                          "balance": 46954.1,
                          "availableBalance": 46954.1,
                          "modifiedDate": "2023-04-26T09:12:37Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "550001-1071509830",
                          "accountName": "Petty Cash",
                          "accountType": "Unknown",
                          "nominalCode": "10400",
                          "currency": "GBP",
                          "balance": 500,
                          "availableBalance": 500,
                          "modifiedDate": "2023-04-26T09:12:37Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 3,
                      "_links": {
                        "current": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online Sandbox": {
                    "value": {
                      "results": [
                        {
                          "id": "164",
                          "accountName": "00",
                          "accountType": "Debit",
                          "nominalCode": "123567",
                          "currency": "GBP",
                          "balance": 0,
                          "availableBalance": 0,
                          "modifiedDate": "2023-04-26T09:35:57Z",
                          "sourceModifiedDate": "2022-07-20T14:11:28Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "163",
                          "accountName": "11",
                          "accountType": "Debit",
                          "currency": "GBP",
                          "balance": 0,
                          "availableBalance": 0,
                          "modifiedDate": "2023-04-26T09:35:57Z",
                          "sourceModifiedDate": "2022-07-20T14:11:28Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 57,
                      "_links": {
                        "current": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online": {
                    "value": {
                      "results": [
                        {
                          "id": "202",
                          "accountName": "\\aa",
                          "accountType": "Debit",
                          "currency": "GBP",
                          "balance": 123,
                          "availableBalance": 123,
                          "modifiedDate": "2023-01-18T11:02:37Z",
                          "sourceModifiedDate": "2022-11-11T14:15:13Z"
                        },
                        {
                          "id": "193",
                          "accountName": "1 year ago",
                          "accountType": "Debit",
                          "currency": "GBP",
                          "balance": 5300.02,
                          "availableBalance": 5300.02,
                          "modifiedDate": "2023-01-18T11:02:37Z",
                          "sourceModifiedDate": "2023-01-18T06:05:12Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 140,
                      "_links": {
                        "current": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage 50 (UK)": {
                    "value": {
                      "results": [
                        {
                          "id": "1200",
                          "accountName": "Bank Current Account",
                          "accountType": "Unknown",
                          "nominalCode": "1200",
                          "sortCode": "23-34-34",
                          "accountNumber": "003234234",
                          "iBan": "",
                          "currency": "GBP",
                          "balance": -20091.04,
                          "availableBalance": -20091.04,
                          "modifiedDate": "2023-03-30T14:42:37Z",
                          "sourceModifiedDate": "2022-11-25T09:25:48",
                          "overdraftLimit": 120000,
                          "institution": "Lloyds Bank PLC",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "1210",
                          "accountName": "Bank Deposit Account",
                          "accountType": "Unknown",
                          "nominalCode": "1210",
                          "sortCode": "45-45-45",
                          "accountNumber": "9/00474345",
                          "iBan": "",
                          "currency": "GBP",
                          "balance": 3510,
                          "availableBalance": 3510,
                          "modifiedDate": "2023-03-30T14:42:37Z",
                          "sourceModifiedDate": "2022-11-25T09:25:48",
                          "overdraftLimit": 0,
                          "institution": "Halifax Building Society",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 6,
                      "_links": {
                        "current": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Business Cloud Accounting": {
                    "value": {
                      "results": [
                        {
                          "id": "154d05abe9f24c4babe0f6a741dec1b9",
                          "accountName": "Abdi Internet Bank",
                          "accountType": "Unknown",
                          "nominalCode": "1560",
                          "sortCode": "010101",
                          "accountNumber": "11111",
                          "currency": "GBP",
                          "balance": 49.61,
                          "availableBalance": 49.61,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-27T10:53:26Z"
                        },
                        {
                          "id": "565ce07212bc492c8c2d04f43f9f67e3",
                          "accountName": "Abdi Live Test",
                          "accountType": "Unknown",
                          "nominalCode": "147852",
                          "sortCode": "123456",
                          "accountNumber": "1234567",
                          "currency": "GBP",
                          "balance": -225830.75,
                          "availableBalance": -225830.75,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-28T14:00:20Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 45,
                      "_links": {
                        "current": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Intacct": {
                    "value": {
                      "results": [
                        {
                          "id": "CREDITCARD:55",
                          "accountName": "CoT Credit Card",
                          "accountType": "Credit",
                          "nominalCode": "10021",
                          "currency": "GBP",
                          "modifiedDate": "2023-04-04T16:31:46Z",
                          "sourceModifiedDate": "2023-03-27T14:11:48",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "CREDITCARD:58",
                          "accountName": "Cot Credit Card 2",
                          "accountType": "Credit",
                          "nominalCode": "11112",
                          "currency": "GBP",
                          "modifiedDate": "2023-04-04T16:31:46Z",
                          "sourceModifiedDate": "2023-03-27T14:15:11",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 14,
                      "_links": {
                        "current": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Xero": {
                    "value": {
                      "results": [
                        {
                          "id": "bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4",
                          "accountName": "Business Bank Account",
                          "accountType": "Debit",
                          "sortCode": "990404",
                          "accountNumber": "987654321",
                          "currency": "GBP",
                          "balance": 6681.79,
                          "modifiedDate": "2023-03-15T20:36:09Z",
                          "sourceModifiedDate": "2023-03-15T20:35:07",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "a8d6fb1a-8c5d-4683-90ce-bf9d28fc62ba",
                          "accountName": "Business Savings Account",
                          "accountType": "Debit",
                          "sortCode": "890303",
                          "accountNumber": "876543210",
                          "currency": "GBP",
                          "balance": 0,
                          "modifiedDate": "2023-03-15T20:36:09Z",
                          "sourceModifiedDate": "2023-03-15T20:36:06",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/connections/6a4bcf97-e46a-465c-abf6-c42cec8e48c0/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/connections/6a4bcf97-e46a-465c-abf6-c42cec8e48c0/data/bankAccounts"
                        }
                      }
                    }
                  },
                  "Zoho Books": {
                    "value": {
                      "results": [
                        {
                          "id": "104957000000060010",
                          "accountName": "Abdi Test",
                          "accountType": "Unknown",
                          "sortCode": "112233",
                          "accountNumber": "xxxx5678",
                          "currency": "GBP",
                          "balance": 69858.44,
                          "modifiedDate": "2022-10-03T08:40:38Z",
                          "institution": "Test Bank"
                        },
                        {
                          "id": "104957000000065002",
                          "accountName": "Abdi Test 2",
                          "accountType": "Unknown",
                          "sortCode": "",
                          "accountNumber": "",
                          "currency": "AED",
                          "balance": 98.03,
                          "modifiedDate": "2022-10-03T08:40:38Z",
                          "institution": ""
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 4,
                      "_links": {
                        "current": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/Payment-Required"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          },
          "500": {
            "$ref": "#/components/responses/Internal-Server-Error"
          },
          "503": {
            "$ref": "#/components/responses/Service-Unavailable"
          }
        },
        "description": "The *List bank accounts* endpoint returns a list of [bank accounts](https://docs.codat.io/bank-feeds-api#/schemas/BankAccount) for a given company's connection.\n\n[Bank accounts](https://docs.codat.io/bank-feeds-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/bank-feeds-api#/operations/refresh-company-data).\n    "
      }
    },
    "/companies/{companyId}/connections/{connectionId}/options/bankAccounts": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "summary": "Get create/update bank account model",
        "x-internal": true,
        "tags": [
          "Bank accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushOption"
                },
                "examples": {
                  "Dynamics 365 Business Central": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "AccountName",
                                "details": "Needs to be of the format '{No.}-{Name}'"
                              }
                            ]
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": false
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "NominalCode",
                                "details": "Bank Account Posting Group with Nominal Account must exist"
                              }
                            ]
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "SortCode",
                                "details": "Must have a length between 0 and 20 characters"
                              }
                            ]
                          }
                        },
                        "iBan": {
                          "type": "String",
                          "displayName": "IBAN",
                          "description": "The international bank account number of the account. Often used when making or receiving international payments",
                          "required": false
                        },
                        "overdraftLimit": {
                          "type": "Number",
                          "displayName": "Overdraft Limit",
                          "description": "The pre-arranged overdraft limit of the account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "OverdraftLimit",
                                "details": "Default value is 0"
                              }
                            ]
                          }
                        }
                      },
                      "required": true
                    }
                  },
                  "Exact (Netherlands)": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": true,
                          "validation": {
                            "warnings": [
                              {
                                "field": "AccountNumber",
                                "details": "Should not exceed the maximum length of 14 characters if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "SortCode",
                                "details": "Must be 6 characters long if the specified currency is GBP."
                              },
                              {
                                "field": "SortCode",
                                "details": "Must be provided if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": false
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false
                        }
                      },
                      "required": true
                    }
                  },
                  "Exact (UK)": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": true,
                          "validation": {
                            "warnings": [
                              {
                                "field": "AccountNumber",
                                "details": "Should not exceed the maximum length of 14 characters if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "SortCode",
                                "details": "Must be 6 characters long if the specified currency is GBP."
                              },
                              {
                                "field": "SortCode",
                                "details": "Must be provided if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": false
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false
                        }
                      },
                      "required": true
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "SortCode",
                                "details": "Must have a length between 0 and 8 characters"
                              }
                            ],
                            "information": []
                          }
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": false
                        },
                        "iBan": {
                          "type": "String",
                          "displayName": "IBAN",
                          "description": "The international bank account number of the account. Often used when making or receiving international payments",
                          "required": false
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "options": [
                            {
                              "value": "AED",
                              "type": "String",
                              "displayName": "AED",
                              "required": false
                            },
                            {
                              "value": "AMD",
                              "type": "String",
                              "displayName": "AMD",
                              "required": false
                            },
                            {
                              "value": "AOA",
                              "type": "String",
                              "displayName": "AOA",
                              "required": false
                            },
                            {
                              "value": "ARS",
                              "type": "String",
                              "displayName": "ARS",
                              "required": false
                            },
                            {
                              "value": "AUD",
                              "type": "String",
                              "displayName": "AUD",
                              "required": false
                            },
                            {
                              "value": "AWG",
                              "type": "String",
                              "displayName": "AWG",
                              "required": false
                            },
                            {
                              "value": "AZN",
                              "type": "String",
                              "displayName": "AZN",
                              "required": false
                            },
                            {
                              "value": "BBD",
                              "type": "String",
                              "displayName": "BBD",
                              "required": false
                            },
                            {
                              "value": "BDT",
                              "type": "String",
                              "displayName": "BDT",
                              "required": false
                            },
                            {
                              "value": "BGN",
                              "type": "String",
                              "displayName": "BGN",
                              "required": false
                            },
                            {
                              "value": "BRL",
                              "type": "String",
                              "displayName": "BRL",
                              "required": false
                            },
                            {
                              "value": "BWP",
                              "type": "String",
                              "displayName": "BWP",
                              "required": false
                            },
                            {
                              "value": "CAD",
                              "type": "String",
                              "displayName": "CAD",
                              "required": false
                            },
                            {
                              "value": "CHF",
                              "type": "String",
                              "displayName": "CHF",
                              "required": false
                            },
                            {
                              "value": "CLP",
                              "type": "String",
                              "displayName": "CLP",
                              "required": false
                            },
                            {
                              "value": "CNY",
                              "type": "String",
                              "displayName": "CNY",
                              "required": false
                            },
                            {
                              "value": "COP",
                              "type": "String",
                              "displayName": "COP",
                              "required": false
                            },
                            {
                              "value": "CRC",
                              "type": "String",
                              "displayName": "CRC",
                              "required": false
                            },
                            {
                              "value": "CUC",
                              "type": "String",
                              "displayName": "CUC",
                              "required": false
                            },
                            {
                              "value": "CUP",
                              "type": "String",
                              "displayName": "CUP",
                              "required": false
                            },
                            {
                              "value": "CZK",
                              "type": "String",
                              "displayName": "CZK",
                              "required": false
                            },
                            {
                              "value": "DKK",
                              "type": "String",
                              "displayName": "DKK",
                              "required": false
                            },
                            {
                              "value": "DOP",
                              "type": "String",
                              "displayName": "DOP",
                              "required": false
                            },
                            {
                              "value": "EGP",
                              "type": "String",
                              "displayName": "EGP",
                              "required": false
                            },
                            {
                              "value": "EUR",
                              "type": "String",
                              "displayName": "EUR",
                              "required": false
                            },
                            {
                              "value": "FJD",
                              "type": "String",
                              "displayName": "FJD",
                              "required": false
                            },
                            {
                              "value": "GBP",
                              "type": "String",
                              "displayName": "GBP",
                              "required": false
                            },
                            {
                              "value": "GEL",
                              "type": "String",
                              "displayName": "GEL",
                              "required": false
                            },
                            {
                              "value": "GHS",
                              "type": "String",
                              "displayName": "GHS",
                              "required": false
                            },
                            {
                              "value": "GTQ",
                              "type": "String",
                              "displayName": "GTQ",
                              "required": false
                            },
                            {
                              "value": "GYD",
                              "type": "String",
                              "displayName": "GYD",
                              "required": false
                            },
                            {
                              "value": "HKD",
                              "type": "String",
                              "displayName": "HKD",
                              "required": false
                            },
                            {
                              "value": "HNL",
                              "type": "String",
                              "displayName": "HNL",
                              "required": false
                            },
                            {
                              "value": "HRK",
                              "type": "String",
                              "displayName": "HRK",
                              "required": false
                            },
                            {
                              "value": "HUF",
                              "type": "String",
                              "displayName": "HUF",
                              "required": false
                            },
                            {
                              "value": "IDR",
                              "type": "String",
                              "displayName": "IDR",
                              "required": false
                            },
                            {
                              "value": "ILS",
                              "type": "String",
                              "displayName": "ILS",
                              "required": false
                            },
                            {
                              "value": "INR",
                              "type": "String",
                              "displayName": "INR",
                              "required": false
                            },
                            {
                              "value": "ISK",
                              "type": "String",
[...]
