{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "title": "Sync for Payables API",
    "description": "The API for Sync for Payables. \n\nSync for Payables is an API and a set of supporting tools built to help integrate with your customers' accounting software, and keep their supplier information, invoices, and payments in sync.\n\n[Read More...](https://docs.codat.io/payables/overview)",
    "version": "3.0.0",
    "contact": {
      "name": "Codat",
      "email": "support@codat.io"
    },
    "termsOfService": "https://www.codat.io/legals/"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      408,
      429,
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "x-speakeasy-name-override": [
    {
      "operationId": "^list-.*?",
      "methodNameOverride": "list"
    },
    {
      "operationId": "^list-.*?-attachments",
      "methodNameOverride": "list-attachments"
    },
    {
      "operationId": "^get-.*?",
      "methodNameOverride": "get"
    },
    {
      "operationId": "^get-create-.*?-model",
      "methodNameOverride": "get-create-model"
    },
    {
      "operationId": "^get-create-update.*?-model",
      "methodNameOverride": "get-create-update-model"
    },
    {
      "operationId": "^get-.*?-attachment",
      "methodNameOverride": "get-attachment"
    },
    {
      "operationId": "^update-.*?",
      "methodNameOverride": "update"
    },
    {
      "operationId": "^create-.*?",
      "methodNameOverride": "create"
    },
    {
      "operationId": "^delete-.*?",
      "methodNameOverride": "delete"
    },
    {
      "operationId": "^download-.*?-attachment",
      "methodNameOverride": "download-attachment"
    },
    {
      "operationId": "^upload-.*?-attachment",
      "methodNameOverride": "upload-attachment"
    }
  ],
  "tags": [
    {
      "name": "Companies",
      "description": "Create and manage your Codat companies."
    },
    {
      "name": "Connections",
      "description": "Manage your companies' data connections."
    },
    {
      "name": "Refresh data",
      "description": "Asynchronously retrieve data from an integration to refresh data in Codat."
    },
    {
      "name": "Push data",
      "description": "View push options and get push statuses."
    },
    {
      "name": "Accounts",
      "description": "Accounts"
    },
    {
      "name": "Bills",
      "description": "Bills"
    },
    {
      "name": "Bill credit notes",
      "description": "Bill credit notes"
    },
    {
      "name": "Bill payments",
      "description": "Bill payments"
    },
    {
      "name": "Journals",
      "description": "Journals"
    },
    {
      "name": "Journal entries",
      "description": "Journal entries"
    },
    {
      "name": "Payment methods",
      "description": "Payment methods"
    },
    {
      "name": "Suppliers",
      "description": "Suppliers"
    },
    {
      "name": "Tax rates",
      "description": "Tax rates"
    },
    {
      "name": "Tracking categories",
      "description": "Tracking categories"
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "summary": "List companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                },
                "examples": {
                  "One company": {
                    "value": {
                      "results": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "My Test Company",
                          "description": "My Test Company make testing software",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "51baa045-4836-4317-a42e-3542e991e581",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/3fa85f64-5717-4562-b3fc-2c963f66afa6/connections/51baa045-4836-4317-a42e-3542e991e581/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Mike Smith"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies?page=1&pageSize=100"
                        },
                        "self": {
                          "href": "/companies"
                        }
                      }
                    }
                  },
                  "List of Companies": {
                    "value": {
                      "results": [
                        {
                          "id": "d1568dde-adf6-11ed-afa1-0242ac120002",
                          "name": "Technicalium",
                          "description": "Technology services, including web and app design and development",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/d1568dde-adf6-11ed-afa1-0242ac120002",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "51baa045-4836-4317-a42e-3542e991e581",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/d1568dde-adf6-11ed-afa1-0242ac120002/connections/51baa045-4836-4317-a42e-3542e991e581/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Joe Bloggs"
                        },
                        {
                          "id": "096db70b-78de-4ff0-aa98-299cb5fe17a0",
                          "name": "Godata",
                          "description": "A new digital agency with a passion for creating amazing digital experiences",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/096db70b-78de-4ff0-aa98-299cb5fe17a0",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "a70bc148-dc21-46b2-a257-d9c58ac15cbb",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/096db70b-78de-4ff0-aa98-299cb5fe17a0/connections/a70bc148-dc21-46b2-a257-d9c58ac15cbb/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Mike Smith"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies?page=1&pageSize=100"
                        },
                        "self": {
                          "href": "/companies"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "operationId": "list-companies",
        "description": "﻿Returns a list of your companies. The company schema contains a list of [connections](https://docs.codat.io/codat-api#/schemas/Connection) related to the company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ]
      },
      "post": {
        "summary": "Create company",
        "tags": [
          "Companies"
        ],
        "operationId": "create-company",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "New Company": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "My First Company",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18.1950523Z",
                      "createdByUserName": "Dan Tzabar"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "﻿Creates a new company that can be used to assign connections to. \n\nIf forbidden characters (see `name` pattern) are present in the request, a company will be created with the forbidden characters removed. For example, `Company (Codat[1])` with be created as `Company Codat1`.\n\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequestBody"
              },
              "examples": {
                "Example with no description": {
                  "value": {
                    "name": "Technicalium"
                  }
                },
                "Example with a description": {
                  "value": {
                    "name": "Technicalium",
                    "description": "Technology services, including web and app design and development"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}": {
      "put": {
        "summary": "Update company",
        "description": "﻿Updates both the name and description of the company.",
        "operationId": "update-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequestBody"
              },
              "examples": {
                "Update name": {
                  "value": {
                    "name": "New Name"
                  }
                },
                "Update description": {
                  "value": {
                    "name": "Same name",
                    "description": "Additional documents required"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a company",
        "operationId": "delete-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "description": "﻿\nPermanently deletes a company, its connections and any cached data. This operation is irreversible. If the company ID does not exist an error is returned.",
        "tags": [
          "Companies"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "get": {
        "summary": "Get company",
        "operationId": "get-company",
        "description": "﻿Returns the company for a valid identifier. If the identifier is for a deleted company, a not found response is returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "My First Company",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections": {
      "get": {
        "summary": "List connections",
        "description": "﻿List the connections for a company.",
        "operationId": "list-company-connections",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connections"
                },
                "examples": {
                  "Connections": {
                    "value": {
                      "results": [
                        {
                          "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                          "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                          "integrationKey": "dfxm",
                          "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                          "platformName": "Basiq",
                          "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                          "status": "Linked",
                          "lastSync": "2022-10-27T10:22:43.6464237Z",
                          "created": "2022-10-27T09:53:29Z",
                          "sourceType": "Banking"
                        }
                      ],
                      "pageNumber": 0,
                      "pageSize": 0,
                      "totalResults": 0,
                      "_links": {
                        "self": {
                          "href": "string"
                        },
                        "current": {
                          "href": "string"
                        },
                        "next": {
                          "href": "string"
                        },
                        "previous": {
                          "href": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "post": {
        "summary": "Create connection",
        "description": "﻿Creates a connection for the company by providing a valid `platformKey`. \n\nUse the [List Integrations](https://docs.codat.io/codat-api#/operations/list-integrations) endpoint to access valid platform keys. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "operationId": "create-data-connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}": {
      "get": {
        "summary": "Get connection",
        "operationId": "get-company-connection",
        "description": "﻿Returns a specific connection for a company when valid identifiers are provided. If the identifiers are for a deleted company and/or connection, a not found response is returned.",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "delete": {
        "summary": "Delete connection",
        "operationId": "delete-company-connection",
        "description": "﻿Revoke and remove a connection from a company.\nThis operation is not reversible. The end user would need to reauthorize a new data connection if you wish to view new data for this company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "patch": {
        "summary": "Unlink connection",
        "description": "﻿This allows you to deauthorize a connection, without deleting it from Codat. This means you can still view any data that has previously been pulled into Codat, and also lets you re-authorize in future if your customer wishes to resume sharing their data.",
        "operationId": "unlink-connection",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "Unlinked"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/companies/{companyId}/data/all": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "post": {
        "summary": "Refresh all data",
        "operationId": "refresh-company-data",
        "x-speakeasy-name-override": "all",
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "Refreshes all data types with `fetch on first link` set to `true` for a given company.\n\nThis is an asynchronous operation, and will bring updated data into Codat from the linked integration for you to view.\n\n[Read more](https://docs.codat.io/core-concepts/data-type-settings) about data type settings and `fetch on first link`.",
        "tags": [
          "Refresh data"
        ]
      }
    },
    "/companies/{companyId}/dataStatus": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "summary": "Get data status",
        "operationId": "get-company-data-status",
        "description": "Get the state of each data type for a company",
        "tags": [
          "Refresh data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataStatusResponse"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "invoices": {
                        "dataType": "invoices",
                        "lastSuccessfulSync": "2022-01-01T00:00:00.000Z",
                        "currentStatus": "success",
                        "latestSyncId": "d03b6979-eb3b-447a-a27a-13cf457a9f48",
                        "latestSuccessfulSyncId": "6883bba8-514d-423f-ba7f-c38285a80b7f"
                      },
                      "bills": {
                        "dataType": "bills",
                        "lastSuccessfulSync": "2022-01-01T00:00:00.000Z",
                        "currentStatus": "failure",
                        "latestSyncId": "d03b6979-eb3b-447a-a27a-13cf457a9f48",
                        "latestSuccessfulSyncId": "6883bba8-514d-423f-ba7f-c38285a80b7f"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/data/queue/{dataType}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/dataType"
        }
      ],
      "post": {
        "summary": "Refresh data type",
        "operationId": "refresh-data-type",
        "x-speakeasy-name-override": "by-data-type",
        "description": "Refreshes a given data type for a given company.\n\nThis is an asynchronous operation, and will bring updated data into Codat from the linked integration for you to view.",
        "tags": [
          "Refresh data"
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "in": "query",
            "name": "connectionId",
            "description": "Optionally, provide a data connection id to only queue pull operations on that connection."
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullOperation"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/data/history": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "summary": "List pull operations",
        "tags": [
          "Refresh data"
        ],
        "operationId": "list-pull-operations",
        "x-speakeasy-name-override": "list-pull-operations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DataConnectionHistory"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "results": [
                        {
                          "id": "97d60846-f07a-4d42-b5a0-0bdcc6ebf56b",
                          "companyId": "4645bd78-8988-45bc-ac9e-67ba5df6e4e5",
                          "connectionId": "51baa045-4836-4317-a42e-3542e991e581",
                          "dataType": "invoices",
                          "status": "Initial",
                          "requested": "2022-11-14T11:18:37.2798351Z",
                          "progress": 10,
                          "isCompleted": false,
                          "isErrored": false
                        }
                      ],
                      "_links": {
                        "self": {
                          "href": "../dictionary"
                        },
                        "current": {
                          "href": "../dictionary"
                        },
                        "next": {
                          "href": "../dictionary"
                        },
                        "previous": {
                          "href": "../dictionary"
                        }
                      },
                      "pageNumber": 0,
                      "pageSize": 0,
                      "totalResults": 0
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "Gets the pull operation history (datasets) for a given company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ]
      }
    },
    "/companies/{companyId}/push": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        }
      ],
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "summary": "List push operations",
        "tags": [
          "Push data"
        ],
        "operationId": "get-company-push-history",
        "x-speakeasy-name-override": "list-operations",
        "description": "List push operation records.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushHistoryResponse"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/data/history/{datasetId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/datasetId"
        }
      ],
      "get": {
        "summary": "Get pull operation",
        "operationId": "get-pull-operation",
        "x-speakeasy-name-override": "get-pull-operation",
        "tags": [
          "Refresh data"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PullOperation"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "Retrieve information about a single dataset or pull operation."
      }
    },
    "/companies/{companyId}/push/{pushOperationKey}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "name": "pushOperationKey",
          "in": "path",
          "required": true,
          "description": "Push operation key."
        }
      ],
      "get": {
        "summary": "Get push operation",
        "tags": [
          "Push data"
        ],
        "operationId": "get-push-operation",
        "x-speakeasy-name-override": "get-operation",
        "description": "Retrieve push operation.",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushOperation"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/data/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "﻿The *List accounts* endpoint returns a list of [accounts](https://docs.codat.io/accounting-api#/schemas/Account) for a given company's connection.\n\n[Accounts](https://docs.codat.io/accounting-api#/schemas/Account) are the categories a business uses to record accounting transactions.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/codat-api#/operations/refresh-company-data).",
        "operationId": "list-accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/Accounts"
                },
                "examples": {
                  "Clear Books": {
                    "value": {
                      "results": [
                        {
                          "id": "1b6266d1-1e44-46c5-8eb5-a8f98e03124e",
                          "nominalCode": "610",
                          "name": "Accounts Receivable",
                          "description": "Invoices the business has issued but has not yet collected payment on.",
                          "fullyQualifiedCategory": "Asset.Current",
                          "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T12:38:15Z",
                          "sourceModifiedDate": "2022-12-10T16:39:00",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "76d5f23b-9623-4e3b-89cd-da57228764d3",
                          "nominalCode": "611",
                          "name": "Accounts Receivable",
                          "description": "A provision anticipating that a portion of accounts receivable will never be collected.",
                          "fullyQualifiedCategory": "Asset.Current",
                          "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T12:38:15Z",
                          "sourceModifiedDate": "2022-10-19T05:49:00",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 98,
                      "_links": {
                        "current": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts"
                        },
                        "next": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Dynamics 365 Business Central": {
                    "value": {
                      "results": [
                        {
                          "id": "8eaed16d-c69f-ec11-80f1-0022481b4546",
                          "nominalCode": "45422026-68CA-4EF2-9",
                          "name": "",
                          "fullyQualifiedCategory": " .",
                          "fullyQualifiedName": "..",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Unknown",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-27T14:21:18Z",
                          "sourceModifiedDate": "2022-03-09T16:31:54Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "c0861a65-c69f-ec11-80f1-0022481b4546",
                          "nominalCode": "10",
                          "name": "Account no cat Balance Sheet",
                          "fullyQualifiedCategory": " .",
                          "fullyQualifiedName": "..Account no cat Balance Sheet",
                          "currency": "GBP",
                          "currentBalance": 27.34,
                          "type": "Unknown",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-27T14:21:18Z",
                          "sourceModifiedDate": "2022-09-13T14:45:01Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 122,
                      "_links": {
                        "current": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Exact (Netherlands)": {
                    "value": {
                      "results": [
                        {
                          "id": "ef2fde36-4416-4bc5-b239-315b2929348c",
                          "nominalCode": "1300",
                          "name": "Debiteuren",
                          "description": "Debiteuren",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Debiteuren.PaymentsEnabled",
                          "currency": "EUR",
                          "currentBalance": 864435.44,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:36:17Z",
                          "sourceModifiedDate": "2020-01-08T09:42:54Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        },
                        {
                          "id": "2052b65b-20e9-4da1-85d8-fd5ca0ea3d38",
                          "nominalCode": "888777888",
                          "name": "One more AR account",
                          "description": "One more AR account",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.One more AR account.PaymentsEnabled",
                          "currency": "EUR",
                          "currentBalance": 2174.82,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:36:17Z",
                          "sourceModifiedDate": "2021-06-10T11:00:20Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 230,
                      "_links": {
                        "current": {
                          "href": "/companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts"
                        },
                        "next": {
                          "href": "/companies/b83b1923-4db6-45a8-a779-b4e320c15979/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Exact (UK)": {
                    "value": {
                      "results": [
                        {
                          "id": "ca2b96b7-cc45-4e35-9fa3-82a2ba1eec40",
                          "nominalCode": "THING",
                          "name": "Some thing account",
                          "description": "Some thing account",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Some thing account.PaymentsEnabled",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:35:15Z",
                          "sourceModifiedDate": "2017-08-01T17:31:12Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        },
                        {
                          "id": "cf9572e7-8afa-4339-9113-af32a66d9df9",
                          "nominalCode": "15400",
                          "name": "Trade Debtors",
                          "description": "Trade Debtors",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Trade Debtors.PaymentsEnabled",
                          "currency": "GBP",
                          "currentBalance": 4484655.39,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:35:15Z",
                          "sourceModifiedDate": "2020-01-08T13:48:38Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 121,
                      "_links": {
                        "current": {
                          "href": "/companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d95030cd-22b2-482b-9c7b-2980dcc2b1ce/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "results": [
                        {
                          "id": "601",
                          "nominalCode": "601",
                          "name": "Capital Asset Brought Forward",
                          "fullyQualifiedCategory": "Asset.Capital",
                          "fullyQualifiedName": "Asset.Capital.Capital Asset Brought Forward",
                          "currency": "GBP",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "605",
                          "nominalCode": "605",
                          "name": "Capital Asset Depreciation Brought Forward",
                          "fullyQualifiedCategory": "Asset.Capital",
                          "fullyQualifiedName": "Asset.Capital.Capital Asset Depreciation Brought Forward",
                          "currency": "GBP",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 292,
                      "_links": {
                        "current": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts"
                        },
                        "next": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "FreshBooks": {
                    "value": {
                      "results": [
                        {
                          "id": "67357",
                          "nominalCode": "1200",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "Asset",
                          "fullyQualifiedName": "Asset.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 51445.53,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-24T16:07:24Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "128611",
                          "nominalCode": "1200-1",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 51445.53,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-24T16:07:24Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 96,
                      "_links": {
                        "current": {
                          "href": "/companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts"
                        },
                        "next": {
                          "href": "/companies/3691c49e-0db4-4172-b3ab-e4084c365013/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "KashFlow": {
                    "value": {
                      "results": [
                        {
                          "id": "27840056",
                          "nominalCode": "70700",
                          "name": "16th Account",
                          "fullyQualifiedCategory": "Asset.BankAccount",
                          "fullyQualifiedName": "Asset.BankAccount.16th Account",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-09-30T10:29:16Z",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "27840049",
                          "nominalCode": "70600",
                          "name": "1a1a",
                          "fullyQualifiedCategory": "Asset.BankAccount",
                          "fullyQualifiedName": "Asset.BankAccount.1a1a",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-09-30T10:29:16Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 157,
                      "_links": {
                        "current": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts"
                        },
                        "next": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Oracle NetSuite": {
                    "value": {
                      "results": [
                        {
                          "id": "111",
                          "name": "Accounts Payable",
                          "fullyQualifiedCategory": "AcctPay.AcctPay",
                          "fullyQualifiedName": "AcctPay.AcctPay.Accounts Payable",
                          "currentBalance": -635.55,
                          "type": "Liability",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-30T14:48:33Z",
                          "sourceModifiedDate": "2021-08-11T12:51:21",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "119",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "AcctRec.AcctRec",
                          "fullyQualifiedName": "AcctRec.AcctRec.Accounts Receivable",
                          "currentBalance": -565,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-30T14:48:33Z",
                          "sourceModifiedDate": "2021-09-08T15:23:31",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 44,
                      "_links": {
                        "current": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Desktop": {
                    "value": {
                      "results": [
                        {
                          "id": "40000-933270541",
                          "nominalCode": "11000",
                          "name": "Accounts Receivable",
                          "description": "Accounts Receivable",
                          "fullyQualifiedCategory": "Asset.CurrentAsset.AccountsReceivable",
                          "fullyQualifiedName": "Asset.CurrentAsset.AccountsReceivable.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 93007.93,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T09:06:23Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "20000-933270541",
                          "nominalCode": "10100",
                          "name": "Checking",
                          "description": "Cash",
                          "fullyQualifiedCategory": "Asset.CurrentAsset.Bank",
                          "fullyQualifiedName": "Asset.CurrentAsset.Bank.Checking",
                          "currency": "GBP",
                          "currentBalance": 46954.1,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2023-04-26T09:06:23Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "BillLineItem.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 116,
                      "_links": {
                        "current": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts"
                        },
                        "next": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online": {
                    "value": {
                      "results": [
                        {
                          "id": "62",
                          "nominalCode": "246",
                          "name": "Debtors",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors",
                          "currency": "GBP",
                          "currentBalance": 41289.37,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-18T11:02:34Z",
                          "sourceModifiedDate": "2022-12-08T15:42:59Z",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "92",
                          "nominalCode": "247",
                          "name": "Debtors - AED",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors - AED",
                          "currency": "AED",
                          "currentBalance": -1533.44,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-01-18T11:02:34Z",
                          "sourceModifiedDate": "2021-02-19T14:04:45Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 234,
                      "_links": {
                        "current": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts"
                        },
                        "next": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online Sandbox": {
                    "value": {
                      "results": [
                        {
                          "id": "70",
                          "name": "Debtors",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors",
                          "currency": "GBP",
                          "currentBalance": 3041173.77,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T09:35:55Z",
                          "sourceModifiedDate": "2023-04-26T01:18:15Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "80",
                          "name": "Debtors - USD",
                          "fullyQualifiedCategory": "Asset.Accounts Receivable.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Accounts Receivable.AccountsReceivable.Debtors - USD",
                          "currency": "USD",
                          "currentBalance": 54822.37,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T09:35:55Z",
                          "sourceModifiedDate": "2023-04-12T15:10:38Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 186,
                      "_links": {
                        "current": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts"
                        },
                        "next": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage 200cloud": {
                    "value": {
                      "results": [
                        {
                          "id": "2864",
                          "nominalCode": "1200",
                          "name": "Bank Account",
                          "description": "Bank Account",
                          "fullyQualifiedCategory": "Asset.Bank Account",
                          "fullyQualifiedName": "Asset.Bank Account.Bank Account",
                          "type": "Asset",
                          "status": "Archived",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-14T09:35:52Z",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": true
                          }
                        },
                        {
                          "id": "2368",
                          "nominalCode": "1200",
                          "name": "Bank Current Account",
                          "description": "Bank Current Account",
                          "fullyQualifiedCategory": "Asset.Bank Account",
                          "fullyQualifiedName": "Asset.Bank Account.Bank Current Account",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-10-14T09:35:52Z",
                          "sourceModifiedDate": "2020-09-11T13:53:12Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 344,
                      "_links": {
                        "current": {
                          "href": "/companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts"
                        },
                        "next": {
                          "href": "/companies/93c21e2d-049c-4d24-b41b-57e61c30b69e/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage 50 (UK)": {
                    "value": {
                      "results": [
                        {
                          "id": "1100",
                          "nominalCode": "1100",
                          "name": "Debtors Control Account",
                          "fullyQualifiedCategory": "Asset.CurrentAssets.Debtors",
                          "fullyQualifiedName": "Asset.CurrentAssets.Debtors.Debtors Control Account",
                          "currency": "GBP",
                          "currentBalance": 90640.61,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-30T14:42:44Z",
                          "sourceModifiedDate": "2022-11-25T09:43:54",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "1102",
                          "nominalCode": "1102",
                          "name": "Other Debtors",
                          "fullyQualifiedCategory": "Asset.CurrentAssets.Debtors",
                          "fullyQualifiedName": "Asset.CurrentAssets.Debtors.Other Debtors",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-30T14:42:44Z",
                          "sourceModifiedDate": "2022-11-25T09:43:54",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 155,
                      "_links": {
                        "current": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts"
                        },
                        "next": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Business Cloud Accounting": {
                    "value": {
                      "results": [
                        {
                          "id": "e5889b459f544926ac5b8e6756df2ad4",
                          "nominalCode": "1560",
                          "name": "Abdi Internet Bank",
                          "fullyQualifiedCategory": "Asset.Bank",
                          "fullyQualifiedName": "Asset.Bank.Abdi Internet Bank",
                          "currency": "GBP",
                          "currentBalance": 49.61,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-27T10:53:26Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        },
                        {
                          "id": "b17083bc9b2748b4ab321b024e260eda",
                          "nominalCode": "147852",
                          "name": "Abdi Live Test",
                          "fullyQualifiedCategory": "Asset.Bank",
                          "fullyQualifiedName": "Asset.Bank.Abdi Live Test",
                          "currency": "GBP",
                          "currentBalance": 225830.75,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-28T14:00:20Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 283,
                      "_links": {
                        "current": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/data/accounts"
                        },
                        "next": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Intacct": {
                    "value": {
                      "results": [
                        {
                          "id": "2",
                          "nominalCode": "12100",
                          "name": "Accounts Receivable",
                          "fullyQualifiedCategory": "Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable",
                          "fullyQualifiedName": "Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-04T16:31:51Z",
                          "sourceModifiedDate": "2020-01-29T01:42:43",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "155",
                          "nominalCode": "12710",
                          "name": "AR - Retainage",
                          "fullyQualifiedCategory": "Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable",
                          "fullyQualifiedName": "Assets.Current Assets.Account Receivable, Net of Allowance.Accounts Receivable.Accounts Receivable.AR - Retainage",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-04T16:31:51Z",
                          "sourceModifiedDate": "2020-10-15T15:33:15",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 181,
                      "_links": {
                        "current": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/data/accounts"
                        },
                        "next": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Wave": {
                    "value": {
                      "results": [
                        {
                          "id": "QWNjb3VudDo5MjIzNDE3NjkzMzk3NjA2MzM7QnVzaW5lc3M6ZTI0OGQyZDctMWE5Ni00YTk4LWFkOTEtMDdlMGYyMmNhNmE2",
                          "name": "Abdi Bank",
                          "description": "Test Balance Sheet",
                          "fullyQualifiedCategory": "Asset.CashAndBank",
                          "fullyQualifiedName": "Asset.CashAndBank.Abdi Bank",
                          "currency": "GBP",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-11-16T18:15:17Z",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "QWNjb3VudDo3OTE3NTA1OTcwOTQxNzQ3MTU7QnVzaW5lc3M6ZTI0OGQyZDctMWE5Ni00YTk4LWFkOTEtMDdlMGYyMmNhNmE2",
                          "name": "Cash on Hand",
                          "description": "Cash you haven�t deposited in the bank. Add your bank and credit card accounts to accurately categorize transactions that aren't cash.",
                          "fullyQualifiedCategory": "Asset.CashAndBank",
                          "fullyQualifiedName": "Asset.CashAndBank.Cash on Hand",
                          "currency": "GBP",
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-11-16T18:15:17Z",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 85,
                      "_links": {
                        "current": {
                          "href": "/companies/0b22b59d-b4e5-4c35-b03f-88bbbcb41256/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/0b22b59d-b4e5-4c35-b03f-88bbbcb41256/data/accounts"
                        },
                        "next": {
                          "href": "/companies/0b22b59d-b4e5-4c35-b03f-88bbbcb41256/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Xero": {
                    "value": {
                      "results": [
                        {
                          "id": "bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4",
                          "nominalCode": "A090",
                          "name": "Business Bank Account",
                          "fullyQualifiedCategory": "Asset.Bank",
                          "fullyQualifiedName": "Asset.Bank.Business Bank Account",
                          "currency": "GBP",
                          "currentBalance": 924.25,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2023-03-15T20:35:08Z",
                          "sourceModifiedDate": "2023-02-17T11:10:49",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id",
                                "DirectIncome.LineItems.AccountRef.Id",
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "a8d6fb1a-8c5d-4683-90ce-bf9d28fc62ba",
                          "nominalCode": "A091",
                          "name": "Business Savings Account",
                          "fullyQualifiedCategory": "Asset.Bank",
                          "fullyQualifiedName": "Asset.Bank.Business Savings Account",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2023-03-15T20:35:08Z",
                          "sourceModifiedDate": "2023-02-17T11:10:49",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id",
                                "DirectIncome.LineItems.AccountRef.Id",
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 90,
                      "_links": {
                        "current": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/data/accounts"
                        },
                        "next": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Zoho Books": {
                    "value": {
                      "results": [
                        {
                          "id": "104957000000000352",
                          "nominalCode": "",
                          "name": "Accounts Receivable",
                          "description": "The money that customers owe you becomes the accounts receivable. A good example of this is a payment expected from an invoice sent to your customer.",
                          "fullyQualifiedCategory": "Asset.accounts_receivable",
                          "fullyQualifiedName": "Asset.accounts_receivable.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": -959.64,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-03T08:40:43Z",
                          "sourceModifiedDate": "2020-02-05T14:58:44",
                          "validDatatypeLinks": []
                        },
                        {
                          "id": "104957000000060010",
                          "nominalCode": "",
                          "name": "Abdi Test",
                          "description": "",
                          "fullyQualifiedCategory": "Asset.bank",
                          "fullyQualifiedName": "Asset.bank.Abdi Test",
                          "currency": "GBP",
                          "currentBalance": 69858.44,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": true,
                          "modifiedDate": "2022-10-03T08:40:43Z",
                          "sourceModifiedDate": "2020-02-17T12:19:47",
                          "validDatatypeLinks": []
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 68,
                      "_links": {
                        "current": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      }
    },
    "/companies/{companyId}/data/accounts/{accountId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/accountId"
        }
      ],
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "Get account",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Account"
                },
                "examples": {
                  "Clear Books": {
                    "value": {
                      "id": "1b6266d1-1e44-46c5-8eb5-a8f98e03124e",
                      "nominalCode": "610",
                      "name": "Accounts Receivable",
                      "description": "Invoices the business has issued but has not yet collected payment on.",
                      "fullyQualifiedCategory": "Asset.Current",
                      "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                      "currency": "GBP",
                      "currentBalance": 0,
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2023-04-26T12:38:15Z",
                      "sourceModifiedDate": "2022-12-10T16:39:00",
                      "validDatatypeLinks": []
                    }
                  },
                  "Dynamics 365 Business Central": {
                    "value": {
                      "id": "8eaed16d-c69f-ec11-80f1-0022481b4546",
                      "nominalCode": "45422026-68CA-4EF2-9",
                      "name": "",
                      "fullyQualifiedCategory": " .",
                      "fullyQualifiedName": "..",
                      "currency": "GBP",
                      "currentBalance": 0,
                      "type": "Unknown",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2023-03-27T14:21:18Z",
                      "sourceModifiedDate": "2022-03-09T16:31:54Z",
                      "validDatatypeLinks": [
                        {
                          "property": "Id",
                          "links": [
                            "DirectCost.LineItems.AccountRef.Id"
                          ]
                        }
                      ]
                    }
                  },
                  "Exact (Netherlands)": {
                    "value": {
                      "id": "ef2fde36-4416-4bc5-b239-315b2929348c",
                      "nominalCode": "1300",
                      "name": "Debiteuren",
                      "description": "Debiteuren",
                      "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                      "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Debiteuren.PaymentsEnabled",
                      "currency": "EUR",
                      "currentBalance": 864435.44,
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2022-10-26T13:36:17Z",
                      "sourceModifiedDate": "2020-01-08T09:42:54Z",
                      "validDatatypeLinks": [
                        {
                          "property": "Id",
                          "links": [
                            "Transfer.To.AccountRef.Id",
                            "Transfer.From.AccountRef.Id",
                            "Payment.AccountRef.Id",
                            "BillPayment.AccountRef.Id"
                          ]
                        }
                      ]
                    }
                  },
                  "Exact (UK)": {
                    "value": {
                      "id": "ca2b96b7-cc45-4e35-9fa3-82a2ba1eec40",
                      "nominalCode": "THING",
                      "name": "Some thing account",
                      "description": "Some thing account",
                      "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                      "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Some thing account.PaymentsEnabled",
                      "currency": "GBP",
                      "currentBalance": 0,
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2022-10-26T13:35:15Z",
                      "sourceModifiedDate": "2017-08-01T17:31:12Z",
                      "validDatatypeLinks": [
                        {
                          "property": "Id",
                          "links": [
                            "Transfer.To.AccountRef.Id",
                            "Transfer.From.AccountRef.Id",
                            "Payment.AccountRef.Id",
                            "BillPayment.AccountRef.Id"
                          ]
                        }
                      ]
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "id": "601",
                      "nominalCode": "601",
                      "name": "Capital Asset Brought Forward",
                      "fullyQualifiedCategory": "Asset.Capital",
                      "fullyQualifiedName": "Asset.Capital.Capital Asset Brought Forward",
                      "currency": "GBP",
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2023-04-25T14:19:12Z",
                      "validDatatypeLinks": []
                    }
                  },
                  "FreshBooks": {
                    "value": {
                      "id": "67357",
                      "nominalCode": "1200",
                      "name": "Accounts Receivable",
                      "fullyQualifiedCategory": "Asset",
                      "fullyQualifiedName": "Asset.Accounts Receivable",
                      "currency": "GBP",
                      "currentBalance": 51445.53,
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2023-03-24T16:07:24Z",
                      "validDatatypeLinks": []
                    }
                  },
                  "KashFlow": {
                    "value": {
                      "id": "27840056",
                      "nominalCode": "70700",
                      "name": "16th Account",
                      "fullyQualifiedCategory": "Asset.BankAccount",
                      "fullyQualifiedName": "Asset.BankAccount.16th Account",
                      "currency": "GBP",
                      "currentBalance": 0,
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": true,
                      "modifiedDate": "2022-09-30T10:29:16Z",
                      "validDatatypeLinks": []
                    }
                  },
                  "Oracle NetSuite": {
                    "value": {
                      "id": "111",
                      "name": "Accounts Payable",
                      "fullyQualifiedCategory": "AcctPay.AcctPay",
                      "fullyQualifiedName": "AcctPay.AcctPay.Accounts Payable",
                      "currentBalance": -635.55,
                      "type": "Liability",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2023-01-30T14:48:33Z",
                      "sourceModifiedDate": "2021-08-11T12:51:21",
                      "validDatatypeLinks": []
                    }
                  },
                  "QuickBooks Desktop": {
                    "value": {
                      "id": "40000-933270541",
                      "nominalCode": "11000",
                      "name": "Accounts Receivable",
                      "description": "Accounts Receivable",
                      "fullyQualifiedCategory": "Asset.CurrentAsset.AccountsReceivable",
                      "fullyQualifiedName": "Asset.CurrentAsset.AccountsReceivable.Accounts Receivable",
                      "currency": "GBP",
                      "currentBalance": 93007.93,
                      "type": "Asset",
                      "status": "Active",
                      "isBankAccount": false,
                      "modifiedDate": "2023-04-26T09:06:23Z",
                      "sourceModifiedDate": "2023-12-16T05:06:45",
[...]
