{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "j388fn92qyj2u"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "title": "Bank Feeds API",
    "version": "2.1.0",
    "contact": {
      "email": "support@codat.io",
      "name": "Codat"
    },
    "description": "Bank Feeds API enables your SMB users to set up bank feeds from accounts in your application to supported accounting platforms.\n\nA bank feed is a connection between a source bank account—in your application—and a target bank account in a supported accounting package.\n\n[Read more...](https://docs.codat.io/bank-feeds-api/overview)\n\n[See our OpenAPI spec](https://github.com/codatio/oas) ",
    "termsOfService": "https://www.codat.io/legals/"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      408,
      429,
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "x-speakeasy-name-override": [
    {
      "operationId": "^list-.*?",
      "methodNameOverride": "list"
    },
    {
      "operationId": "^list-.*?-attachments",
      "methodNameOverride": "list-attachments"
    },
    {
      "operationId": "^get-.*?",
      "methodNameOverride": "get"
    },
    {
      "operationId": "^get-create-.*?-model",
      "methodNameOverride": "get-create-model"
    },
    {
      "operationId": "^get-create-update.*?-model",
      "methodNameOverride": "get-create-update-model"
    },
    {
      "operationId": "^get-.*?-attachment",
      "methodNameOverride": "get-attachment"
    },
    {
      "operationId": "^update-.*?",
      "methodNameOverride": "update"
    },
    {
      "operationId": "^create-.*?",
      "methodNameOverride": "create"
    },
    {
      "operationId": "^delete-.*?",
      "methodNameOverride": "delete"
    },
    {
      "operationId": "^download-.*?-attachment",
      "methodNameOverride": "download-attachment"
    },
    {
      "operationId": "^upload-.*?-attachment",
      "methodNameOverride": "upload-attachment"
    }
  ],
  "tags": [
    {
      "name": "Bank feed accounts",
      "description": "Bank feed bank accounts"
    },
    {
      "name": "Bank account transactions",
      "description": "Bank feed bank accounts"
    },
    {
      "name": "Bank account mapping",
      "description": "Bank feed bank account mapping"
    },
    {
      "name": "Companies",
      "description": "Create and manage your Codat companies."
    },
    {
      "name": "Connections",
      "description": "Manage your companies' data connections."
    }
  ],
  "paths": {
    "/companies": {
      "get": {
        "summary": "List companies",
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Companies"
                },
                "examples": {
                  "One company": {
                    "value": {
                      "results": [
                        {
                          "id": "3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "name": "My Test Company",
                          "description": "My Test Company make testing software",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/3fa85f64-5717-4562-b3fc-2c963f66afa6",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "51baa045-4836-4317-a42e-3542e991e581",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/3fa85f64-5717-4562-b3fc-2c963f66afa6/connections/51baa045-4836-4317-a42e-3542e991e581/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Mike Smith"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies?page=1&pageSize=100"
                        },
                        "self": {
                          "href": "/companies"
                        }
                      }
                    }
                  },
                  "List of Companies": {
                    "value": {
                      "results": [
                        {
                          "id": "d1568dde-adf6-11ed-afa1-0242ac120002",
                          "name": "Technicalium",
                          "description": "Technology services, including web and app design and development",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/d1568dde-adf6-11ed-afa1-0242ac120002",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "51baa045-4836-4317-a42e-3542e991e581",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/d1568dde-adf6-11ed-afa1-0242ac120002/connections/51baa045-4836-4317-a42e-3542e991e581/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Joe Bloggs"
                        },
                        {
                          "id": "096db70b-78de-4ff0-aa98-299cb5fe17a0",
                          "name": "Godata",
                          "description": "A new digital agency with a passion for creating amazing digital experiences",
                          "platform": "",
                          "redirect": "https://link.codat.io/company/096db70b-78de-4ff0-aa98-299cb5fe17a0",
                          "lastSync": "2022-01-01T12:30:00.000Z",
                          "dataConnections": [
                            {
                              "id": "a70bc148-dc21-46b2-a257-d9c58ac15cbb",
                              "integrationId": "1c312d69-e638-46d4-ad31-72e6c3ba8390",
                              "integrationKey": "vjms",
                              "sourceId": "396c3158-5dd7-481b-a7c4-a795ca31792b",
                              "platformName": "Pandle",
                              "linkUrl": "https://link-api.codat.io/companies/096db70b-78de-4ff0-aa98-299cb5fe17a0/connections/a70bc148-dc21-46b2-a257-d9c58ac15cbb/start",
                              "status": "Linked",
                              "lastSync": "2022-01-01T12:30:00.000Z",
                              "created": "2022-01-01T11:30:00Z",
                              "sourceType": "Accounting"
                            }
                          ],
                          "created": "2022-01-01T11:30:00Z",
                          "createdByUserName": "Mike Smith"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies?page=1&pageSize=100"
                        },
                        "self": {
                          "href": "/companies"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "operationId": "list-companies",
        "description": "﻿Returns a list of your companies. The company schema contains a list of [connections](https://docs.codat.io/codat-api#/schemas/Connection) related to the company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ]
      },
      "post": {
        "summary": "Create company",
        "tags": [
          "Companies"
        ],
        "operationId": "create-company",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "New Company": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "My First Company",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18.1950523Z",
                      "createdByUserName": "Dan Tzabar"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "﻿Creates a new company that can be used to assign connections to. \n\nIf forbidden characters (see `name` pattern) are present in the request, a company will be created with the forbidden characters removed. For example, `Company (Codat[1])` with be created as `Company Codat1`.\n\n",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequestBody"
              },
              "examples": {
                "Example with no description": {
                  "value": {
                    "name": "Technicalium"
                  }
                },
                "Example with a description": {
                  "value": {
                    "name": "Technicalium",
                    "description": "Technology services, including web and app design and development"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}": {
      "get": {
        "summary": "Get company",
        "operationId": "get-company",
        "description": "﻿Returns the company for a valid identifier. If the identifier is for a deleted company, a not found response is returned.",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                },
                "examples": {
                  "Example": {
                    "value": {
                      "id": "ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "name": "My First Company",
                      "description": "",
                      "platform": "",
                      "redirect": "https://link.codat.io/company/ab12c58d-a678-4ebf-a159-ae99e1807bd0",
                      "dataConnections": [],
                      "created": "2022-11-10T10:45:18Z",
                      "createdByUserName": "Dan Tzabar"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "delete": {
        "summary": "Delete a company",
        "operationId": "delete-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "description": "﻿\nPermanently deletes a company, its connections and any cached data. This operation is irreversible. If the company ID does not exist an error is returned.",
        "tags": [
          "Companies"
        ],
        "responses": {
          "204": {
            "description": "No Content"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "put": {
        "summary": "Update company",
        "description": "﻿Updates both the name and description of the company.",
        "operationId": "update-company",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Companies"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Company"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CompanyRequestBody"
              },
              "examples": {
                "Update name": {
                  "value": {
                    "name": "New Name"
                  }
                },
                "Update description": {
                  "value": {
                    "name": "Same name",
                    "description": "Additional documents required"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/companies/{companyId}/connections": {
      "get": {
        "summary": "List connections",
        "description": "﻿List the connections for a company.",
        "operationId": "list-company-connections",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connections"
                },
                "examples": {
                  "Connections": {
                    "value": {
                      "results": [
                        {
                          "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                          "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                          "integrationKey": "dfxm",
                          "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                          "platformName": "Basiq",
                          "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                          "status": "Linked",
                          "lastSync": "2022-10-27T10:22:43.6464237Z",
                          "created": "2022-10-27T09:53:29Z",
                          "sourceType": "Banking"
                        }
                      ],
                      "pageNumber": 0,
                      "pageSize": 0,
                      "totalResults": 0,
                      "_links": {
                        "self": {
                          "href": "string"
                        },
                        "current": {
                          "href": "string"
                        },
                        "next": {
                          "href": "string"
                        },
                        "previous": {
                          "href": "string"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "post": {
        "summary": "Create connection",
        "description": "﻿Creates a connection for the company by providing a valid `platformKey`. \n\nUse the [List Integrations](https://docs.codat.io/codat-api#/operations/list-integrations) endpoint to access valid platform keys. ",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "operationId": "create-data-connection",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "platformKey": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}": {
      "get": {
        "summary": "Get connection",
        "operationId": "get-company-connection",
        "description": "﻿Returns a specific connection for a company when valid identifiers are provided. If the identifiers are for a deleted company and/or connection, a not found response is returned.",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                },
                "examples": {
                  "Connection": {
                    "value": {
                      "id": "ee2eb431-c0fa-4dc9-93fa-d29781c12bcd",
                      "integrationId": "bf083d72-62c7-493e-aec9-81b4dbba7e2c",
                      "integrationKey": "dfxm",
                      "sourceId": "bdd831ce-eebd-4896-89a7-20e5ee8989ee",
                      "platformName": "Basiq",
                      "linkUrl": "https://link-api.codat.io/companies/86bd88cb-44ab-4dfb-b32f-87b19b14287f/connections/ee2eb431-c0fa-4dc9-93fa-d29781c12bcd/start",
                      "status": "Linked",
                      "lastSync": "2022-10-27T10:22:43.6464237Z",
                      "created": "2022-10-27T09:53:29Z",
                      "sourceType": "Banking"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "delete": {
        "summary": "Delete connection",
        "operationId": "delete-company-connection",
        "description": "﻿Revoke and remove a connection from a company.\nThis operation is not reversible. The end user would need to reauthorize a new data connection if you wish to view new data for this company.",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "tags": [
          "Connections"
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "patch": {
        "summary": "Unlink connection",
        "description": "﻿This allows you to deauthorize a connection, without deleting it from Codat. This means you can still view any data that has previously been pulled into Codat, and also lets you re-authorize in future if your customer wishes to resume sharing their data.",
        "operationId": "unlink-connection",
        "tags": [
          "Connections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Connection"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string"
                  }
                }
              },
              "examples": {
                "Example": {
                  "value": {
                    "status": "Unlinked"
                  }
                }
              }
            }
          },
          "description": ""
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/connectionInfo/bankFeedAccounts/{accountId}": {
      "patch": {
        "tags": [
          "Bank feed accounts"
        ],
        "summary": "Update bank feed bank account",
        "description": "﻿The *Update bank feed bank account* endpoint updates a single bank feed bank account for a single data source connected to a single company.",
        "operationId": "update-bank-feed",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankFeedAccount"
              },
              "examples": {}
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/BankFeedAccount"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/connectionInfo/bankFeedAccounts": {
      "get": {
        "tags": [
          "Bank feed accounts"
        ],
        "summary": "List bank feed bank accounts",
        "description": "﻿The *List bank feed bank accounts* endpoint returns a list of [bank feed accounts](https://docs.codat.io/bank-feeds-api#/schemas/BankFeedAccount) for a given company's connection.\n\n[Bank feed accounts](https://docs.codat.io/bank-feeds-api#/schemas/BankFeedAccount) are the bank's bank account from which transactions are synced into the accounting platform.\n\n",
        "operationId": "list-bank-feeds",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankFeedAccount"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "put": {
        "tags": [
          "Bank feed accounts"
        ],
        "summary": "Create bank feed bank accounts",
        "description": "Put BankFeed BankAccounts for a single data source connected to a single company.",
        "operationId": "put-bank-feed",
        "deprecated": true,
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankFeedAccounts"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankFeedAccounts"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Bank feed accounts"
        ],
        "summary": "Create a bank feed bank account",
        "description": "Post a BankFeed BankAccount for a single data source connected to a single company.",
        "operationId": "create-bank-feed",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankFeedAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankFeedAccount"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/bankFeedAccounts/mapping": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "tags": [
          "Bank account mapping"
        ],
        "summary": "List bank feed account mappings",
        "description": "﻿The *List bank account mappings* endpoint returns information about a source bank account and any current or potential target mapping accounts.\n\nA bank feed account mapping is a specified link between the source account (provided by the Codat user) and the target account (the end users account in the underlying platform).\n\nThis endpoint is only needed if building an account management UI.",
        "operationId": "get-bank-account-mapping",
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankFeedMapping"
                },
                "examples": {}
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      },
      "post": {
        "tags": [
          "Bank account mapping"
        ],
        "summary": "Create bank feed bank account mapping",
        "description": "﻿The *Create bank account mapping* endpoint creates a new mapping between a source bank account and a potential account in the accounting platform (target account).\n\nA bank feed account mapping is a specified link between the source account (provided by the Codat user) and the target account (the end users account in the underlying platform).\n\nTo find valid target account options, first call list bank feed account mappings.\n\nThis endpoint is only needed if building an account management UI.",
        "operationId": "create-bank-account-mapping",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankFeedAccountMapping"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccountMappingResult"
                },
                "examples": {}
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/bankAccounts/{accountId}/bankTransactions": {
      "get": {
        "tags": [
          "Bank account transactions"
        ],
        "summary": "List bank account transactions",
        "description": "﻿The *List account bank transactions* endpoint returns a list of [bank account transactions](https://docs.codat.io/bank-feeds-api#/schemas/BankTransactions) for a given company's connection.\n\n[Bank account transactions](https://docs.codat.io/bank-feeds-api#/schemas/BankTransactions) are records of monetary amounts that have moved in and out of an SMB's bank account.\n\nCheck out our [coverage explorer](https://knowledge.codat.io/supported-features/accounting?view=tab-by-data-type&dataType=bankTransactions) for integrations that support listing bank transactions.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/codat-api#/operations/refresh-company-data).\n",
        "operationId": "list-bank-account-transactions",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          },
          {
            "$ref": "#/components/parameters/accountId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankTransactionsResponse"
                },
                "examples": {
                  "Dynamics 365 Business Central": {
                    "value": {
                      "results": [
                        {
                          "id": "07c891b4-f67a-ed11-9989-0022481ae525",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2022-11-17T00:00:00",
                          "description": "Share Capital",
                          "reconciled": false,
                          "amount": 1,
                          "balance": 1,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "5ced3895-f77a-ed11-9989-0022481b6241",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2022-11-17T00:00:00",
                          "description": "Share Capital",
                          "reconciled": false,
                          "amount": 1,
                          "balance": 2,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "cd12966b-8871-ed11-8c34-6045bd0c6935",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2022-12-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -19,
                          "balance": -17,
                          "transactionType": "Other",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "b13392b6-95a0-ed11-9a88-6045bdd16279",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -30,
                          "balance": -72,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "b3696a16-1fa2-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "Income, Services",
                          "reconciled": false,
                          "amount": -10,
                          "balance": -122,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "b73392b6-95a0-ed11-9a88-6045bdd16279",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "Child",
                          "reconciled": false,
                          "amount": -40,
                          "balance": -112,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "befdd569-22a2-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "Child Child",
                          "reconciled": false,
                          "amount": -13,
                          "balance": -160,
                          "transactionType": "Other",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "cb71c33a-22a2-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "Income, Services",
                          "reconciled": false,
                          "amount": -25,
                          "balance": -147,
                          "transactionType": "Other",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "e7ec12c9-94a0-ed11-9a88-6045bdd16279",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "Child Child",
                          "reconciled": false,
                          "amount": -10,
                          "balance": -27,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "fef7a026-95a0-ed11-9a88-6045bdd16279",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-01-30T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -15,
                          "balance": -42,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "20869cb1-39a2-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-01T00:00:00",
                          "description": "Accounts Payable",
                          "reconciled": false,
                          "amount": -14,
                          "balance": -184,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "8c298754-20a2-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-01T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -10,
                          "balance": -170,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "935d5578-3ca2-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-01T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -17,
                          "balance": -201,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "935f4303-e3a2-ed11-9a88-002248010b7e",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-01T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -17,
                          "balance": -239,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "d8ceb342-dba2-ed11-9a88-002248010b7e",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-01T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -21,
                          "balance": -222,
                          "transactionType": "Other",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "15719c0c-22a6-ed11-9a88-002248010b7e",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -20,
                          "balance": -292.69,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "213d027d-b1a3-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -9.35,
                          "balance": -265.19,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "273d027d-b1a3-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "Account no cat Balance Sheet",
                          "reconciled": false,
                          "amount": -7.5,
                          "balance": -272.69,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "978c4a27-e0a2-ed11-9a88-002248010b7e",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": 2.16,
                          "balance": -236.84,
                          "transactionType": "Other",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "a80f63ae-b0a3-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -7.01,
                          "balance": -262.85,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "ad0f63ae-b0a3-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "Account no cat Balance Sheet",
                          "reconciled": false,
                          "amount": 7.01,
                          "balance": -255.84,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "b5de7b74-afa3-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -4.91,
                          "balance": -260.75,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "bbde7b74-afa3-ed11-9a88-000d3ad59051",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": 4.91,
                          "balance": -255.84,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "f9540bf4-e5a2-ed11-9a88-000d3ad5d945",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-02T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -19,
                          "balance": -255.84,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "feca50d8-22a6-ed11-9a88-002248010b7e",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-06T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -20,
                          "balance": -312.69,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "4777d7ec-cfa6-ed11-9a88-000d3a7fb2e5",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-07T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -2.34,
                          "balance": -315.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "38b632de-7aac-ed11-9a88-002248410639",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-09T00:00:00",
                          "description": "Invalid VAT Posting Setup",
                          "reconciled": false,
                          "amount": -10,
                          "balance": -315.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "ffc0b740-68a8-ed11-9a88-6045bdd12fc1",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-09T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": 10,
                          "balance": -305.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "95f27455-7cac-ed11-9a88-002248410639",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-14T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -10,
                          "balance": -325.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "0d6b1378-acae-ed11-9a88-6045bdd16279",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-16T00:00:00",
                          "description": "Bank Account Line",
                          "reconciled": false,
                          "amount": -12,
                          "balance": -337.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "978da9f7-baae-ed11-9a88-6045bdc1c1f3",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-18T00:00:00",
                          "description": "Bank",
                          "reconciled": false,
                          "amount": 6,
                          "balance": -342.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "dd34e6eb-b6ae-ed11-9a88-6045bdc1c1f3",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-18T00:00:00",
                          "description": "G/L",
                          "reconciled": false,
                          "amount": -1,
                          "balance": -338.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "e234e6eb-b6ae-ed11-9a88-6045bdc1c1f3",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-18T00:00:00",
                          "description": "Customer",
                          "reconciled": false,
                          "amount": 2,
                          "balance": -336.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "e734e6eb-b6ae-ed11-9a88-6045bdc1c1f3",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-18T00:00:00",
                          "description": "Vendor",
                          "reconciled": false,
                          "amount": -3,
                          "balance": -339.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "ed34e6eb-b6ae-ed11-9a88-6045bdc1c1f3",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-18T00:00:00",
                          "description": "Bank",
                          "reconciled": false,
                          "amount": -4,
                          "balance": -343.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "f234e6eb-b6ae-ed11-9a88-6045bdc1c1f3",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-18T00:00:00",
                          "description": "Employee",
                          "reconciled": false,
                          "amount": -5,
                          "balance": -348.03,
                          "transactionType": "Payment",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        },
                        {
                          "id": "39de1293-d3b1-ed11-9a88-6045bd0f94d6",
                          "accountId": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "clearedOnDate": "2023-02-21T00:00:00",
                          "description": "",
                          "reconciled": false,
                          "amount": -10,
                          "balance": -352.03,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-03-27T14:21:19Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 100,
                      "totalResults": 37,
                      "_links": {
                        "current": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts/c9a41bc7-6e5b-ed11-8c34-0022481b8b5b/bankTransactions"
                        },
                        "self": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts/c9a41bc7-6e5b-ed11-8c34-0022481b8b5b/bankTransactions"
                        }
                      }
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "results": [
                        {
                          "id": "261197890",
                          "accountId": "738783",
                          "clearedOnDate": "2020-10-28T00:00:00",
                          "description": "Invoice receipt against 1762",
                          "reconciled": true,
                          "amount": 111,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2020-10-28T16:27:10Z"
                        },
                        {
                          "id": "290878530",
                          "accountId": "738783",
                          "clearedOnDate": "2021-04-23T00:00:00",
                          "description": "Invoice receipt against 1980",
                          "reconciled": true,
                          "amount": 10,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2021-04-27T04:55:42Z"
                        },
                        {
                          "id": "290825614",
                          "accountId": "738783",
                          "clearedOnDate": "2021-04-26T00:00:00",
                          "description": "Invoice receipt against 1976",
                          "reconciled": true,
                          "amount": 10,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2021-04-26T14:05:15Z"
                        },
                        {
                          "id": "290878531",
                          "accountId": "738783",
                          "clearedOnDate": "2021-04-26T00:00:00",
                          "description": "Invoice receipt against 1981",
                          "reconciled": true,
                          "amount": 20,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2021-04-27T04:55:44Z"
                        },
                        {
                          "id": "291227300",
                          "accountId": "738783",
                          "clearedOnDate": "2021-04-28T00:00:00",
                          "description": "Invoice receipt against 2002",
                          "reconciled": true,
                          "amount": 20,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2021-04-28T13:43:56Z"
                        },
                        {
                          "id": "291242296",
                          "accountId": "738783",
                          "clearedOnDate": "2021-04-28T00:00:00",
                          "description": "Invoice receipt against 2012",
                          "reconciled": true,
                          "amount": 40,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2021-04-28T16:14:16Z"
                        },
                        {
                          "id": "346437532",
                          "accountId": "738783",
                          "clearedOnDate": "2022-03-21T00:00:00",
                          "description": "Invoice receipt against 2304",
                          "reconciled": true,
                          "amount": 1,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2022-03-21T14:59:40Z"
                        },
                        {
                          "id": "346444438",
                          "accountId": "738783",
                          "clearedOnDate": "2022-03-21T00:00:00",
                          "description": "Invoice receipt against 2304",
                          "reconciled": true,
                          "amount": 1,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2022-03-21T15:37:54Z"
                        },
                        {
                          "id": "346444989",
                          "accountId": "738783",
                          "clearedOnDate": "2022-03-21T00:00:00",
                          "description": "Invoice receipt against 2304",
                          "reconciled": true,
                          "amount": 1,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2022-03-21T15:41:22Z"
                        },
                        {
                          "id": "346457774",
                          "accountId": "738783",
                          "clearedOnDate": "2022-03-21T00:00:00",
                          "description": "Credit Note refund against 2313",
                          "reconciled": true,
                          "amount": -1,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2022-03-21T17:07:50Z"
                        },
                        {
                          "id": "346458196",
                          "accountId": "738783",
                          "clearedOnDate": "2022-03-21T00:00:00",
                          "description": "Invoice receipt against 2311",
                          "reconciled": true,
                          "amount": 1,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2022-03-21T17:14:15Z"
                        },
                        {
                          "id": "414441841",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "MCDONALDS - ROYSTON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -12.78,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441842",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "HERMES PARCELNET LTD T/A - 08445437147 - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -7.98,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441845",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "TRAVELODGE GB0000 - THAME - Card Ending: 4999//OTHER/",
                          "reconciled": false,
                          "amount": -648.63,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441847",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "TRAVELODGE GB0000 - THAME - Card Ending: 4999//OTHER/",
                          "reconciled": false,
                          "amount": -324.31,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441849",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "RUGBY, PRET A MANGER - RUGBY - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -11.45,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441851",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "Just Eat - London - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -22.52,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441852",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-20T00:00:00",
                          "description": "CN TAR TAROM SA-MOBILP - ORAS OTOPENI - Card Ending: 4999//OTHER/",
                          "reconciled": false,
                          "amount": -340.13,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441854",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-21T00:00:00",
                          "description": "MOTO RUGBY SERVICES - RUGBY - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -126.12,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441855",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-21T00:00:00",
                          "description": "POMANDA.COM - 138 HOLBORN, - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -9.99,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441856",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-21T00:00:00",
                          "description": "RYANAIR     224BEZ3YM - LONDON - Card Ending: 4999//OTHER/",
                          "reconciled": false,
                          "amount": -267.97,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441857",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-21T00:00:00",
                          "description": "TESCO STORES 5956 - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -9.35,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441859",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-21T00:00:00",
                          "description": "SPOTIFY - LONDON - Card Ending: 4999//OTHER/",
                          "reconciled": false,
                          "amount": -16.99,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441860",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-21T00:00:00",
                          "description": "Revive My Device - London - Card Ending: 5913//OTHER/",
                          "reconciled": false,
                          "amount": -149,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441861",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "DELIVEROO - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -39.36,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441862",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "UPS LTD - FELTHAM - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -2.4,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:33Z"
                        },
                        {
                          "id": "414441863",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "Amazon.co.uk*1N0N04VK4 - AMAZON.CO.UK - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -17.76,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441864",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "TESCO STORES 5956 - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -10.65,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441865",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "GATHER & GATHER 3401 - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -16.75,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441866",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "GATHER & GATHER 3401 - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -4.55,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441867",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "TRAVELODGE GB0937 - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -10.75,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441868",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "DELIVEROO - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -34.2,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441869",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-22T00:00:00",
                          "description": "TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/",
                          "reconciled": false,
                          "amount": -2.8,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441870",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "SIDS DIY - LONDON E1 - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -5.99,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441871",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "RESOLUTION GB LTD - WHITCHURCH - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -368.72,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441872",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "GATHER & GATHER 3401 - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -6.15,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441874",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "HERMES PARCELNET LTD T/A - 08445437147 - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -5.34,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441875",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "Refund: SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": 6.8,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441876",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "Refund: SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": 12.49,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441877",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -6.5,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441878",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "SCREWFIX DIR LTD - WHITECHAP1983 - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -27.15,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441879",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "GOODMANS FIELD - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -8,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441880",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "GOODMANS FIELD - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -25.7,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441881",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-23T00:00:00",
                          "description": "CREAMLINE DAIRIES ONLINE - MANCHESTER - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -50,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:34Z"
                        },
                        {
                          "id": "414441883",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-24T00:00:00",
                          "description": "AIRBNB * HMYDEXRY4N - 203-318-1111 - Card Ending: 5913//OTHER/",
                          "reconciled": false,
                          "amount": -388.24,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441884",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-24T00:00:00",
                          "description": "UPS LTD - FELTHAM - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -9.35,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441886",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-24T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -11.9,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441889",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-24T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -6.84,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441891",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-24T00:00:00",
                          "description": "WELCOME BREAK - NEWPORT PAGNE - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -102.23,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441892",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-24T00:00:00",
                          "description": "SUBWAY 63582 London Gatew - Mill Hill, Lo - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -15.38,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441893",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-26T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -40.65,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441894",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-26T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -2,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441895",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-26T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -34.06,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441897",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-26T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -2,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441901",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-28T00:00:00",
                          "description": "Tesla - West Drayton - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -9.99,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441904",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-28T00:00:00",
                          "description": "Box Deansgate - Manchester - Card Ending: 0614//OTHER/",
                          "reconciled": false,
                          "amount": -20.65,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441906",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-28T00:00:00",
                          "description": "MANCHESTER UNITED KIOSK - MANCHESTER - Card Ending: 0614//OTHER/",
                          "reconciled": false,
                          "amount": -26.5,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441908",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-29T00:00:00",
                          "description": "TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/",
                          "reconciled": false,
                          "amount": -2.8,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441909",
                          "accountId": "738783",
                          "clearedOnDate": "2022-12-31T00:00:00",
                          "description": "TFL TRAVEL CH - TFL.GOV.UK/CP - Card Ending: 5913//OTHER/",
                          "reconciled": false,
                          "amount": -1.65,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441910",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-01T00:00:00",
                          "description": "UBER* TRIP - LONDON - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -2,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441911",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-01T00:00:00",
                          "description": "UBER* TRIP - LONDON - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -11.95,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:35Z"
                        },
                        {
                          "id": "414441912",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-02T00:00:00",
                          "description": "UBER* TRIP - LONDON - Card Ending: 9271//OTHER/",
                          "reconciled": false,
                          "amount": -13.68,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441913",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-02T00:00:00",
                          "description": "WWW.KASHFLOW.COM - DATCHET - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -22.8,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441914",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-02T00:00:00",
                          "description": "UBER   *TRIP - HELP.UBER.COM - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -9.14,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441915",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-02T00:00:00",
                          "description": "GOOGLE*GSUITE ISOMI.CO - DUBLIN 2 - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -216.2,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441916",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-03T00:00:00",
                          "description": "Refund: AMZ*quickpickdeals - amazon.co.uk - Card Ending: 4999//OTHER/",
                          "reconciled": false,
                          "amount": 10.97,
                          "transactionType": "Credit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441917",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-04T00:00:00",
                          "description": "Finance Charge//OTHER/",
                          "reconciled": false,
                          "amount": -0.41,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441918",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-04T00:00:00",
                          "description": "WWW.KASHFLOW.COM - DATCHET - Card Ending: 1332//OTHER/",
                          "reconciled": false,
                          "amount": -22.8,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
                          "sourceModifiedDate": "2023-02-08T09:05:36Z"
                        },
                        {
                          "id": "414441919",
                          "accountId": "738783",
                          "clearedOnDate": "2023-01-04T00:00:00",
                          "description": "ACCU.CO.UK - HUDDERSFIELD - Card Ending: 2327//OTHER/",
                          "reconciled": false,
                          "amount": -86.34,
                          "transactionType": "Debit",
                          "modifiedDate": "2023-04-25T14:21:41Z",
[...]
