{
  "openapi": "3.1.0",
  "x-stoplight": {
    "id": "9b3k769vbwcl4"
  },
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "title": "Bill Pay",
    "version": "1.1.0",
    "contact": {
      "email": "support@codat.io",
      "name": "Codat"
    },
    "description": "The Bill Pay API makes it it easier for SMBs to manage and pay supplier invoices from your application with preferential payment methods and terms and ensure that their financial software is kept up to date.\n\nCodat has done the heavy lifting for you by building integrations with a standardized data model to the accounting platforms your customers already use. \n\nThis gives you access to near real-time accounts payable data that you can get, post, or put or delete to support your use case.\n\n[See our OpenAPI spec](https://github.com/codatio/oas)",
    "termsOfService": "https://www.codat.io/legals/"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      408,
      429,
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "tags": [
    {
      "name": "Accounts",
      "description": "Retrieve and create accounts to recognise spend accurately on accounts payable invoices"
    },
    {
      "name": "Bills",
      "description": "Create, update and retrieve supplier invoices"
    },
    {
      "name": "Bill credit notes",
      "description": "Create, update and retrieve supplier credit notes"
    },
    {
      "name": "Bill payments",
      "description": "Create and retrieve supplier payments"
    },
    {
      "name": "Suppliers",
      "description": "Manage companies suppliers"
    },
    {
      "name": "Payment accounts",
      "description": "Get a list of available payment accounts or create new ones"
    }
  ],
  "paths": {
    "/companies/{companyId}/connections/{connectionId}/data/bankAccounts": {
      "get": {
        "tags": [
          "Payment accounts"
        ],
        "summary": "List bank accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BankAccounts"
                },
                "examples": {
                  "Dynamics 365 Business Central": {
                    "value": {
                      "results": [
                        {
                          "id": "c9a41bc7-6e5b-ed11-8c34-0022481b8b5b",
                          "accountName": "55",
                          "accountType": "Unknown",
                          "nominalCode": "10500",
                          "sortCode": "",
                          "accountNumber": "",
                          "iBan": "",
                          "currency": "GBP",
                          "balance": -352.03,
                          "modifiedDate": "2023-03-27T14:21:10Z",
                          "sourceModifiedDate": "2023-02-07T00:00:00",
                          "overdraftLimit": 0,
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "47020f80-60e6-ec11-82f8-0022481a77f0",
                          "accountName": "555",
                          "accountType": "Unknown",
                          "nominalCode": "40300",
                          "sortCode": "",
                          "accountNumber": "",
                          "iBan": "",
                          "currency": "PLN",
                          "balance": 661.79,
                          "modifiedDate": "2023-03-27T14:21:10Z",
                          "sourceModifiedDate": "2022-06-07T00:00:00",
                          "overdraftLimit": 0,
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 28,
                      "_links": {
                        "current": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/connections/60acb117-5cf5-4745-b069-491551da4066/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "results": [
                        {
                          "id": "738783",
                          "accountName": "\\w3fw",
                          "accountType": "Debit",
                          "sortCode": "236972",
                          "accountNumber": "A06268209",
                          "currency": "GBP",
                          "balance": -10484.65,
                          "availableBalance": -10484.65,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "738778",
                          "accountName": "2e2bna45hy\\",
                          "accountType": "Debit",
                          "sortCode": "236972",
                          "accountNumber": "D01825250",
                          "currency": "GBP",
                          "balance": -114.4,
                          "availableBalance": -114.4,
                          "modifiedDate": "2023-04-25T14:19:12Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 82,
                      "_links": {
                        "current": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/071ad738-68f3-4561-afd0-69bab9df0803/connections/4fd7c69f-ecc1-45f5-83f2-42ed3391e386/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "KashFlow": {
                    "value": {
                      "results": [
                        {
                          "id": "765768",
                          "accountName": "16th Account",
                          "accountType": "Unknown",
                          "nominalCode": "70700",
                          "currency": "GBP",
                          "balance": 326,
                          "availableBalance": 326,
                          "modifiedDate": "2022-09-30T10:29:16Z"
                        },
                        {
                          "id": "765766",
                          "accountName": "1a1a",
                          "accountType": "Unknown",
                          "nominalCode": "70600",
                          "currency": "GBP",
                          "balance": 0,
                          "availableBalance": 0,
                          "modifiedDate": "2022-09-30T10:29:16Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 56,
                      "_links": {
                        "current": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/3a707a99-89da-4b16-a5d6-595333a16352/connections/ecab4f64-1a04-4c53-a343-bfd879f41f67/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Oracle NetSuite": {
                    "value": {
                      "results": [
                        {
                          "id": "825",
                          "accountName": "Codat Europe Bank",
                          "accountType": "Debit",
                          "nominalCode": "111111122222111",
                          "currency": "GBP",
                          "balance": 558.22,
                          "modifiedDate": "2023-05-02T13:24:36Z",
                          "sourceModifiedDate": "2022-07-15T11:34:02",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "826",
                          "accountName": "Codat Europe Bank USD",
                          "accountType": "Debit",
                          "nominalCode": "1133221133",
                          "currency": "USD",
                          "modifiedDate": "2023-05-02T13:24:36Z",
                          "sourceModifiedDate": "2021-03-26T10:31:40",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 4,
                      "_links": {
                        "current": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/d5074b08-6a34-4b06-a742-236edf5dc4f1/connections/79f8313e-210a-4dc8-b69f-ba7e5004dda7/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Desktop": {
                    "value": {
                      "results": [
                        {
                          "id": "20000-933270541",
                          "accountName": "Checking",
                          "accountType": "Unknown",
                          "nominalCode": "10100",
                          "currency": "GBP",
                          "balance": 46954.1,
                          "availableBalance": 46954.1,
                          "modifiedDate": "2023-04-26T09:12:37Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "550001-1071509830",
                          "accountName": "Petty Cash",
                          "accountType": "Unknown",
                          "nominalCode": "10400",
                          "currency": "GBP",
                          "balance": 500,
                          "availableBalance": 500,
                          "modifiedDate": "2023-04-26T09:12:37Z",
                          "sourceModifiedDate": "2023-12-16T05:06:45",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 3,
                      "_links": {
                        "current": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/fc72ba08-af13-4474-b28a-01dcfa6cfb51/connections/2c26b4da-97d4-4ba9-baad-1e18b49b96ac/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online Sandbox": {
                    "value": {
                      "results": [
                        {
                          "id": "164",
                          "accountName": "00",
                          "accountType": "Debit",
                          "nominalCode": "123567",
                          "currency": "GBP",
                          "balance": 0,
                          "availableBalance": 0,
                          "modifiedDate": "2023-04-26T09:35:57Z",
                          "sourceModifiedDate": "2022-07-20T14:11:28Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "163",
                          "accountName": "11",
                          "accountType": "Debit",
                          "currency": "GBP",
                          "balance": 0,
                          "availableBalance": 0,
                          "modifiedDate": "2023-04-26T09:35:57Z",
                          "sourceModifiedDate": "2022-07-20T14:11:28Z",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 57,
                      "_links": {
                        "current": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/5a7f3597-36e1-4216-86fe-289ad36088a6/connections/1f9f6013-f8a5-4278-8a47-3ab7fdb6c24c/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "QuickBooks Online": {
                    "value": {
                      "results": [
                        {
                          "id": "202",
                          "accountName": "\\aa",
                          "accountType": "Debit",
                          "currency": "GBP",
                          "balance": 123,
                          "availableBalance": 123,
                          "modifiedDate": "2023-01-18T11:02:37Z",
                          "sourceModifiedDate": "2022-11-11T14:15:13Z"
                        },
                        {
                          "id": "193",
                          "accountName": "1 year ago",
                          "accountType": "Debit",
                          "currency": "GBP",
                          "balance": 5300.02,
                          "availableBalance": 5300.02,
                          "modifiedDate": "2023-01-18T11:02:37Z",
                          "sourceModifiedDate": "2023-01-18T06:05:12Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 140,
                      "_links": {
                        "current": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/10818b5e-6e6a-4ed4-a1c5-3e3efe626e87/connections/9e28a776-f4be-425b-8a3d-ad49956de2c9/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage 50 (UK)": {
                    "value": {
                      "results": [
                        {
                          "id": "1200",
                          "accountName": "Bank Current Account",
                          "accountType": "Unknown",
                          "nominalCode": "1200",
                          "sortCode": "23-34-34",
                          "accountNumber": "003234234",
                          "iBan": "",
                          "currency": "GBP",
                          "balance": -20091.04,
                          "availableBalance": -20091.04,
                          "modifiedDate": "2023-03-30T14:42:37Z",
                          "sourceModifiedDate": "2022-11-25T09:25:48",
                          "overdraftLimit": 120000,
                          "institution": "Lloyds Bank PLC",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "1210",
                          "accountName": "Bank Deposit Account",
                          "accountType": "Unknown",
                          "nominalCode": "1210",
                          "sortCode": "45-45-45",
                          "accountNumber": "9/00474345",
                          "iBan": "",
                          "currency": "GBP",
                          "balance": 3510,
                          "availableBalance": 3510,
                          "modifiedDate": "2023-03-30T14:42:37Z",
                          "sourceModifiedDate": "2022-11-25T09:25:48",
                          "overdraftLimit": 0,
                          "institution": "Halifax Building Society",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 6,
                      "_links": {
                        "current": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/cf5f2a47-2990-4221-bae6-0c19c86ac304/connections/8ee4910f-4fc1-47e6-89b1-5931fb33d8f7/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Business Cloud Accounting": {
                    "value": {
                      "results": [
                        {
                          "id": "154d05abe9f24c4babe0f6a741dec1b9",
                          "accountName": "Abdi Internet Bank",
                          "accountType": "Unknown",
                          "nominalCode": "1560",
                          "sortCode": "010101",
                          "accountNumber": "11111",
                          "currency": "GBP",
                          "balance": 49.61,
                          "availableBalance": 49.61,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-27T10:53:26Z"
                        },
                        {
                          "id": "565ce07212bc492c8c2d04f43f9f67e3",
                          "accountName": "Abdi Live Test",
                          "accountType": "Unknown",
                          "nominalCode": "147852",
                          "sortCode": "123456",
                          "accountNumber": "1234567",
                          "currency": "GBP",
                          "balance": -225830.75,
                          "availableBalance": -225830.75,
                          "modifiedDate": "2022-10-24T14:52:53Z",
                          "sourceModifiedDate": "2020-01-28T14:00:20Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 45,
                      "_links": {
                        "current": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/390083e2-351b-407c-a3be-55081c36c182/connections/37916fb7-b4b8-4a78-8872-1751e20ee0cd/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Sage Intacct": {
                    "value": {
                      "results": [
                        {
                          "id": "CREDITCARD:55",
                          "accountName": "CoT Credit Card",
                          "accountType": "Credit",
                          "nominalCode": "10021",
                          "currency": "GBP",
                          "modifiedDate": "2023-04-04T16:31:46Z",
                          "sourceModifiedDate": "2023-03-27T14:11:48",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "CREDITCARD:58",
                          "accountName": "Cot Credit Card 2",
                          "accountType": "Credit",
                          "nominalCode": "11112",
                          "currency": "GBP",
                          "modifiedDate": "2023-04-04T16:31:46Z",
                          "sourceModifiedDate": "2023-03-27T14:15:11",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 14,
                      "_links": {
                        "current": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/df02b289-cb16-4964-ac4d-9fd60b04538e/connections/8f457d9c-1142-4241-a07e-71d1ee2e3052/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Xero": {
                    "value": {
                      "results": [
                        {
                          "id": "bd9e85e0-0478-433d-ae9f-0b3c4f04bfe4",
                          "accountName": "Business Bank Account",
                          "accountType": "Debit",
                          "sortCode": "990404",
                          "accountNumber": "987654321",
                          "currency": "GBP",
                          "balance": 6681.79,
                          "modifiedDate": "2023-03-15T20:36:09Z",
                          "sourceModifiedDate": "2023-03-15T20:35:07",
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "a8d6fb1a-8c5d-4683-90ce-bf9d28fc62ba",
                          "accountName": "Business Savings Account",
                          "accountType": "Debit",
                          "sortCode": "890303",
                          "accountNumber": "876543210",
                          "currency": "GBP",
                          "balance": 0,
                          "modifiedDate": "2023-03-15T20:36:09Z",
                          "sourceModifiedDate": "2023-03-15T20:36:06",
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/connections/6a4bcf97-e46a-465c-abf6-c42cec8e48c0/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/5ced9667-a310-443a-a711-958d36377141/connections/6a4bcf97-e46a-465c-abf6-c42cec8e48c0/data/bankAccounts"
                        }
                      }
                    }
                  },
                  "Zoho Books": {
                    "value": {
                      "results": [
                        {
                          "id": "104957000000060010",
                          "accountName": "Abdi Test",
                          "accountType": "Unknown",
                          "sortCode": "112233",
                          "accountNumber": "xxxx5678",
                          "currency": "GBP",
                          "balance": 69858.44,
                          "modifiedDate": "2022-10-03T08:40:38Z",
                          "institution": "Test Bank"
                        },
                        {
                          "id": "104957000000065002",
                          "accountName": "Abdi Test 2",
                          "accountType": "Unknown",
                          "sortCode": "",
                          "accountNumber": "",
                          "currency": "AED",
                          "balance": 98.03,
                          "modifiedDate": "2022-10-03T08:40:38Z",
                          "institution": ""
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 4,
                      "_links": {
                        "current": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts"
                        },
                        "next": {
                          "href": "/companies/d0b68840-db50-4bc3-b88c-96e225333fea/connections/a2324b8e-60e9-451d-8eb1-0fdc8e8224df/data/bankAccounts?page=2&pageSize=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/401"
          },
          "404": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/404"
          },
          "409": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/409"
          },
          "429": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/429"
          }
        },
        "description": "The *List bank accounts* endpoint returns a list of [bank accounts](https://docs.codat.io/accounting-api#/schemas/BankAccount) for a given company's connection.\n\n[Bank accounts](https://docs.codat.io/accounting-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/codat-api#/operations/refresh-company-data).\n    ",
        "operationId": "list-bank-accounts"
      }
    },
    "/companies/{companyId}/connections/{connectionId}/options/bankAccounts": {
      "get": {
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          }
        ],
        "summary": "Get create/update bank account model",
        "tags": [
          "Payment accounts"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PushOption"
                },
                "examples": {
                  "Dynamics 365 Business Central": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "AccountName",
                                "details": "Needs to be of the format '{No.}-{Name}'"
                              }
                            ]
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": false
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "NominalCode",
                                "details": "Bank Account Posting Group with Nominal Account must exist"
                              }
                            ]
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "SortCode",
                                "details": "Must have a length between 0 and 20 characters"
                              }
                            ]
                          }
                        },
                        "iBan": {
                          "type": "String",
                          "displayName": "IBAN",
                          "description": "The international bank account number of the account. Often used when making or receiving international payments",
                          "required": false
                        },
                        "overdraftLimit": {
                          "type": "Number",
                          "displayName": "Overdraft Limit",
                          "description": "The pre-arranged overdraft limit of the account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "OverdraftLimit",
                                "details": "Default value is 0"
                              }
                            ]
                          }
                        }
                      },
                      "required": true
                    }
                  },
                  "Exact (Netherlands)": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": true,
                          "validation": {
                            "warnings": [
                              {
                                "field": "AccountNumber",
                                "details": "Should not exceed the maximum length of 14 characters if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "SortCode",
                                "details": "Must be 6 characters long if the specified currency is GBP."
                              },
                              {
                                "field": "SortCode",
                                "details": "Must be provided if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": false
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false
                        }
                      },
                      "required": true
                    }
                  },
                  "Exact (UK)": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": true,
                          "validation": {
                            "warnings": [
                              {
                                "field": "AccountNumber",
                                "details": "Should not exceed the maximum length of 14 characters if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "SortCode",
                                "details": "Must be 6 characters long if the specified currency is GBP."
                              },
                              {
                                "field": "SortCode",
                                "details": "Must be provided if the specified currency is GBP."
                              }
                            ],
                            "information": []
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": false
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false
                        }
                      },
                      "required": true
                    }
                  },
                  "FreeAgent": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "SortCode",
                                "details": "Must have a length between 0 and 8 characters"
                              }
                            ],
                            "information": []
                          }
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": false
                        },
                        "iBan": {
                          "type": "String",
                          "displayName": "IBAN",
                          "description": "The international bank account number of the account. Often used when making or receiving international payments",
                          "required": false
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "options": [
                            {
                              "value": "AED",
                              "type": "String",
                              "displayName": "AED",
                              "required": false
                            },
                            {
                              "value": "AMD",
                              "type": "String",
                              "displayName": "AMD",
                              "required": false
                            },
                            {
                              "value": "AOA",
                              "type": "String",
                              "displayName": "AOA",
                              "required": false
                            },
                            {
                              "value": "ARS",
                              "type": "String",
                              "displayName": "ARS",
                              "required": false
                            },
                            {
                              "value": "AUD",
                              "type": "String",
                              "displayName": "AUD",
                              "required": false
                            },
                            {
                              "value": "AWG",
                              "type": "String",
                              "displayName": "AWG",
                              "required": false
                            },
                            {
                              "value": "AZN",
                              "type": "String",
                              "displayName": "AZN",
                              "required": false
                            },
                            {
                              "value": "BBD",
                              "type": "String",
                              "displayName": "BBD",
                              "required": false
                            },
                            {
                              "value": "BDT",
                              "type": "String",
                              "displayName": "BDT",
                              "required": false
                            },
                            {
                              "value": "BGN",
                              "type": "String",
                              "displayName": "BGN",
                              "required": false
                            },
                            {
                              "value": "BRL",
                              "type": "String",
                              "displayName": "BRL",
                              "required": false
                            },
                            {
                              "value": "BWP",
                              "type": "String",
                              "displayName": "BWP",
                              "required": false
                            },
                            {
                              "value": "CAD",
                              "type": "String",
                              "displayName": "CAD",
                              "required": false
                            },
                            {
                              "value": "CHF",
                              "type": "String",
                              "displayName": "CHF",
                              "required": false
                            },
                            {
                              "value": "CLP",
                              "type": "String",
                              "displayName": "CLP",
                              "required": false
                            },
                            {
                              "value": "CNY",
                              "type": "String",
                              "displayName": "CNY",
                              "required": false
                            },
                            {
                              "value": "COP",
                              "type": "String",
                              "displayName": "COP",
                              "required": false
                            },
                            {
                              "value": "CRC",
                              "type": "String",
                              "displayName": "CRC",
                              "required": false
                            },
                            {
                              "value": "CUC",
                              "type": "String",
                              "displayName": "CUC",
                              "required": false
                            },
                            {
                              "value": "CUP",
                              "type": "String",
                              "displayName": "CUP",
                              "required": false
                            },
                            {
                              "value": "CZK",
                              "type": "String",
                              "displayName": "CZK",
                              "required": false
                            },
                            {
                              "value": "DKK",
                              "type": "String",
                              "displayName": "DKK",
                              "required": false
                            },
                            {
                              "value": "DOP",
                              "type": "String",
                              "displayName": "DOP",
                              "required": false
                            },
                            {
                              "value": "EGP",
                              "type": "String",
                              "displayName": "EGP",
                              "required": false
                            },
                            {
                              "value": "EUR",
                              "type": "String",
                              "displayName": "EUR",
                              "required": false
                            },
                            {
                              "value": "FJD",
                              "type": "String",
                              "displayName": "FJD",
                              "required": false
                            },
                            {
                              "value": "GBP",
                              "type": "String",
                              "displayName": "GBP",
                              "required": false
                            },
                            {
                              "value": "GEL",
                              "type": "String",
                              "displayName": "GEL",
                              "required": false
                            },
                            {
                              "value": "GHS",
                              "type": "String",
                              "displayName": "GHS",
                              "required": false
                            },
                            {
                              "value": "GTQ",
                              "type": "String",
                              "displayName": "GTQ",
                              "required": false
                            },
                            {
                              "value": "GYD",
                              "type": "String",
                              "displayName": "GYD",
                              "required": false
                            },
                            {
                              "value": "HKD",
                              "type": "String",
                              "displayName": "HKD",
                              "required": false
                            },
                            {
                              "value": "HNL",
                              "type": "String",
                              "displayName": "HNL",
                              "required": false
                            },
                            {
                              "value": "HRK",
                              "type": "String",
                              "displayName": "HRK",
                              "required": false
                            },
                            {
                              "value": "HUF",
                              "type": "String",
                              "displayName": "HUF",
                              "required": false
                            },
                            {
                              "value": "IDR",
                              "type": "String",
                              "displayName": "IDR",
                              "required": false
                            },
                            {
                              "value": "ILS",
                              "type": "String",
                              "displayName": "ILS",
                              "required": false
                            },
                            {
                              "value": "INR",
                              "type": "String",
                              "displayName": "INR",
                              "required": false
                            },
                            {
                              "value": "ISK",
                              "type": "String",
                              "displayName": "ISK",
                              "required": false
                            },
                            {
                              "value": "JMD",
                              "type": "String",
                              "displayName": "JMD",
                              "required": false
                            },
                            {
                              "value": "JPY",
                              "type": "String",
                              "displayName": "JPY",
                              "required": false
                            },
                            {
                              "value": "KES",
                              "type": "String",
                              "displayName": "KES",
                              "required": false
                            },
                            {
                              "value": "KRW",
                              "type": "String",
                              "displayName": "KRW",
                              "required": false
                            },
                            {
                              "value": "KWD",
                              "type": "String",
                              "displayName": "KWD",
                              "required": false
                            },
                            {
                              "value": "KYD",
                              "type": "String",
                              "displayName": "KYD",
                              "required": false
                            },
                            {
                              "value": "KZT",
                              "type": "String",
                              "displayName": "KZT",
                              "required": false
                            },
                            {
                              "value": "LAK",
                              "type": "String",
                              "displayName": "LAK",
                              "required": false
                            },
                            {
                              "value": "LBP",
                              "type": "String",
                              "displayName": "LBP",
                              "required": false
                            },
                            {
                              "value": "LKR",
                              "type": "String",
                              "displayName": "LKR",
                              "required": false
                            },
                            {
                              "value": "LTL",
                              "type": "String",
                              "displayName": "LTL",
                              "required": false
                            },
                            {
                              "value": "LVL",
                              "type": "String",
                              "displayName": "LVL",
                              "required": false
                            },
                            {
                              "value": "MAD",
                              "type": "String",
                              "displayName": "MAD",
                              "required": false
                            },
                            {
                              "value": "MDL",
                              "type": "String",
                              "displayName": "MDL",
                              "required": false
                            },
                            {
                              "value": "MGA",
                              "type": "String",
                              "displayName": "MGA",
                              "required": false
                            },
                            {
                              "value": "MUR",
                              "type": "String",
                              "displayName": "MUR",
                              "required": false
                            },
                            {
                              "value": "MVR",
                              "type": "String",
                              "displayName": "MVR",
                              "required": false
                            },
                            {
                              "value": "MWK",
                              "type": "String",
                              "displayName": "MWK",
                              "required": false
                            },
                            {
                              "value": "MXN",
                              "type": "String",
                              "displayName": "MXN",
                              "required": false
                            },
                            {
                              "value": "MYR",
                              "type": "String",
                              "displayName": "MYR",
                              "required": false
                            },
                            {
                              "value": "MZN",
                              "type": "String",
                              "displayName": "MZN",
                              "required": false
                            },
                            {
                              "value": "NAD",
                              "type": "String",
                              "displayName": "NAD",
                              "required": false
                            },
                            {
                              "value": "NGN",
                              "type": "String",
                              "displayName": "NGN",
                              "required": false
                            },
                            {
                              "value": "NOK",
                              "type": "String",
                              "displayName": "NOK",
                              "required": false
                            },
                            {
                              "value": "NPR",
                              "type": "String",
                              "displayName": "NPR",
                              "required": false
                            },
                            {
                              "value": "NZD",
                              "type": "String",
                              "displayName": "NZD",
                              "required": false
                            },
                            {
                              "value": "OMR",
                              "type": "String",
                              "displayName": "OMR",
                              "required": false
                            },
                            {
                              "value": "PEN",
                              "type": "String",
                              "displayName": "PEN",
                              "required": false
                            },
                            {
                              "value": "PHP",
                              "type": "String",
                              "displayName": "PHP",
                              "required": false
                            },
                            {
                              "value": "PKR",
                              "type": "String",
                              "displayName": "PKR",
                              "required": false
                            },
                            {
                              "value": "PLN",
                              "type": "String",
                              "displayName": "PLN",
                              "required": false
                            },
                            {
                              "value": "QAR",
                              "type": "String",
                              "displayName": "QAR",
                              "required": false
                            },
                            {
                              "value": "RON",
                              "type": "String",
                              "displayName": "RON",
                              "required": false
                            },
                            {
                              "value": "RSD",
                              "type": "String",
                              "displayName": "RSD",
                              "required": false
                            },
                            {
                              "value": "RUB",
                              "type": "String",
                              "displayName": "RUB",
                              "required": false
                            },
                            {
                              "value": "RWF",
                              "type": "String",
                              "displayName": "RWF",
                              "required": false
                            },
                            {
                              "value": "SAR",
                              "type": "String",
                              "displayName": "SAR",
                              "required": false
                            },
                            {
                              "value": "SCR",
                              "type": "String",
                              "displayName": "SCR",
                              "required": false
                            },
                            {
                              "value": "SEK",
                              "type": "String",
                              "displayName": "SEK",
                              "required": false
                            },
                            {
                              "value": "SGD",
                              "type": "String",
                              "displayName": "SGD",
                              "required": false
                            },
                            {
                              "value": "THB",
                              "type": "String",
                              "displayName": "THB",
                              "required": false
                            },
                            {
                              "value": "TND",
                              "type": "String",
                              "displayName": "TND",
                              "required": false
                            },
                            {
                              "value": "TRY",
                              "type": "String",
                              "displayName": "TRY",
                              "required": false
                            },
                            {
                              "value": "TTD",
                              "type": "String",
                              "displayName": "TTD",
                              "required": false
                            },
                            {
                              "value": "TWD",
                              "type": "String",
                              "displayName": "TWD",
                              "required": false
                            },
                            {
                              "value": "TZS",
                              "type": "String",
                              "displayName": "TZS",
                              "required": false
                            },
                            {
                              "value": "UAH",
                              "type": "String",
                              "displayName": "UAH",
                              "required": false
                            },
                            {
                              "value": "UGX",
                              "type": "String",
                              "displayName": "UGX",
                              "required": false
                            },
                            {
                              "value": "USD",
                              "type": "String",
                              "displayName": "USD",
                              "required": false
                            },
                            {
                              "value": "UYU",
                              "type": "String",
                              "displayName": "UYU",
                              "required": false
                            },
                            {
                              "value": "VEF",
                              "type": "String",
                              "displayName": "VEF",
                              "required": false
                            },
                            {
                              "value": "VND",
                              "type": "String",
                              "displayName": "VND",
                              "required": false
                            },
                            {
                              "value": "VUV",
                              "type": "String",
                              "displayName": "VUV",
                              "required": false
                            },
                            {
                              "value": "XAF",
                              "type": "String",
                              "displayName": "XAF",
                              "required": false
                            },
                            {
                              "value": "XCD",
                              "type": "String",
                              "displayName": "XCD",
                              "required": false
                            },
                            {
                              "value": "XOF",
                              "type": "String",
                              "displayName": "XOF",
                              "required": false
                            },
                            {
                              "value": "ZAR",
                              "type": "String",
                              "displayName": "ZAR",
                              "required": false
                            },
                            {
                              "value": "ZMK",
                              "type": "String",
                              "displayName": "ZMK",
                              "required": false
                            }
                          ],
                          "required": true
                        },
                        "balance": {
                          "type": "Number",
                          "displayName": "Balance",
                          "description": "The balance of the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "Balance",
                                "details": "The opening balance, in the account currency"
                              }
                            ]
                          }
                        },
                        "institution": {
                          "type": "String",
                          "displayName": "Institution",
                          "description": "The institution of the bank account",
                          "required": false
                        }
                      },
                      "required": true
                    }
                  },
                  "KashFlow": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Account Name",
                          "description": "Name of the bank account as it appears in Kashflow.",
                          "required": true
                        },
                        "balance": {
                          "type": "Number",
                          "displayName": "Balance",
                          "description": "The opening balance, in the account currency.",
                          "required": false
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account.",
                          "required": true
                        }
                      },
                      "required": true
                    }
                  },
                  "QuickBooks Desktop": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": true,
                          "validation": {
                            "warnings": [
                              {
                                "field": "NominalCode",
                                "details": "Max length of 7 characters."
                              }
                            ],
                            "information": []
                          }
                        },
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true,
                          "validation": {
                            "warnings": [
                              {
                                "field": "AccountName",
                                "details": "Max length of 31 characters."
                              }
                            ],
                            "information": []
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [
                              {
                                "field": "Currency",
                                "details": "The currency must match the base currency of the QuickBooks Desktop company unless the FullyQualifiedCategory is 'Asset.AccountsReceivable','Liability.AccountsPayable' or 'Liability.CreditCard'"
                              },
                              {
                                "field": "Currency",
                                "details": "Must be a three letter ISO code that matches an existing active currency in the QuickBooks Desktop company"
                              },
                              {
                                "field": "Currency",
                                "details": "Can only be set if the Quickbooks Desktop company has Multicurrency enabled."
                              }
                            ],
                            "information": [
                              {
                                "field": "Currency",
                                "details": "If not set, will default to the base currency of the QuickBooks Desktop company"
                              }
                            ]
                          }
                        },
                        "balance": {
                          "type": "Number",
                          "displayName": "Balance",
                          "description": "The balance of the bank account",
                          "required": false
                        }
                      },
                      "required": true
                    }
                  },
                  "QuickBooks Online Sandbox": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Account Name",
                          "description": "Name of account as it appears in the chart of accounts or general ledger.",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "User-defined account number to help the user in identifying the account within the chart-of-accounts and in deciding what should be posted to the account.",
                          "required": true
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "Currency of the bank account.",
                          "required": true
                        }
                      },
                      "required": true
                    }
                  },
                  "Sage Business Cloud Accounting": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "AccountName",
                                "details": "Must be provided."
                              },
                              {
                                "field": "AccountName",
                                "details": "Should not be longer than 50 characters."
                              }
                            ]
                          }
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": true,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "Currency",
                                "details": "Must be provided."
                              },
                              {
                                "field": "Currency",
                                "details": "Must match the company's base currency."
                              }
                            ]
                          }
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "SortCode",
                                "details": "Should be a 6 digit number."
                              }
                            ]
                          }
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "AccountNumber",
                                "details": "Should not be longer than 25 characters."
                              }
                            ]
                          }
                        },
                        "iBan": {
                          "type": "String",
                          "displayName": "IBAN",
                          "description": "The international bank account number of the account. Often used when making or receiving international payments",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "IBan",
                                "details": "Should be in the international bank account number format."
                              }
                            ]
                          }
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": false,
                          "validation": {
                            "warnings": [],
                            "information": [
                              {
                                "field": "NominalCode",
                                "details": "Should be a number between 1 and 99999999."
                              }
                            ]
                          }
                        }
                      },
                      "required": true
                    }
                  },
                  "Sandbox": {
                    "value": {
                      "type": "Object",
                      "displayName": "Bank Account",
                      "description": "An account that bank transactions may be recorded against",
                      "properties": {
                        "accountName": {
                          "type": "String",
                          "displayName": "Name",
                          "description": "The name of the bank account in the originating system",
                          "required": true
                        },
                        "accountType": {
                          "type": "String",
                          "displayName": "Account Type",
                          "description": "The type of account",
                          "required": true
                        },
                        "nominalCode": {
                          "type": "String",
                          "displayName": "Nominal Code",
                          "description": "The external reference given to each nominal account for a business",
                          "required": true
                        },
                        "sortCode": {
                          "type": "String",
                          "displayName": "Sort Code",
                          "description": "The sort code for the bank account",
                          "required": true
                        },
                        "accountNumber": {
                          "type": "String",
                          "displayName": "Account Number",
                          "description": "The account number for the bank account",
                          "required": true
                        },
                        "iBan": {
                          "type": "String",
                          "displayName": "IBAN",
                          "description": "The international bank account number of the account. Often used when making or receiving international payments",
                          "required": true
                        },
                        "currency": {
                          "type": "String",
                          "displayName": "Currency",
                          "description": "The currency of the bank account",
                          "required": true
                        },
                        "balance": {
                          "type": "Number",
                          "displayName": "Balance",
                          "description": "The balance of the bank account",
                          "required": true
                        },
                        "availableBalance": {
                          "type": "Number",
                          "displayName": "Available Balance",
                          "description": "The available balance of the bank account",
                          "required": true
                        },
                        "overdraftLimit": {
                          "type": "Number",
                          "displayName": "Overdraft Limit",
                          "description": "The pre-arranged overdraft limit of the account",
                          "required": true
                        },
                        "institution": {
                          "type": "String",
                          "displayName": "Institution",
                          "description": "The institution of the bank account",
                          "required": true
                        },
                        "metadata": {
                          "type": "Object",
                          "displayName": "Metadata",
                          "description": "Miscellaneous data about the item",
                          "properties": {
                            "isDeleted": {
                              "type": "Boolean",
                              "displayName": "IsDeleted",
                              "description": "A boolean to indicate whether the object has been deleted",
                              "required": true
                            }
                          },
                          "required": true
                        }
                      },
                      "required": true
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/401"
          },
          "404": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/404"
          },
          "429": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/429"
          }
        },
        "operationId": "get-create-update-bankAccounts-model",
        "description": "The *Get create/update bank account model* endpoint returns the expected data for the request payload when creating and updating a [bank account](https://docs.codat.io/accounting-api#/schemas/BankAccount) for a given company and integration.\r\n\r\n[Bank accounts](https://docs.codat.io/accounting-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\r\n\r\n**Integration-specific behaviour**\r\n\r\nSee the *response examples* for integration-specific indicative models.\r\n\r\nCheck out our [coverage explorer](https://knowledge.codat.io/supported-features/accounting?view=tab-by-data-type&dataType=bankAccounts) for integrations that support creating and updating a bank account.\r\n"
      }
    },
    "/companies/{companyId}/connections/{connectionId}/push/bankAccounts": {
      "post": {
        "tags": [
          "Payment accounts"
        ],
        "summary": "Create bank account",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/connectionId"
          },
          {
            "$ref": "#/components/parameters/timeoutInMinutes"
          },
          {
            "$ref": "#/components/parameters/allowSyncOnPushComplete"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BankAccount"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateBankAccountResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1connections~1%7BconnectionId%7D~1push~1bills/post/responses/400"
          },
          "401": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/401"
          },
          "404": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/404"
          },
          "429": {
            "$ref": "#/paths/~1companies~1%7BcompanyId%7D~1data~1bills/get/responses/429"
          }
        },
        "description": "The *Create bank account* endpoint creates a new [bank account](https://docs.codat.io/accounting-api#/schemas/BankAccount) for a given company's connection.\r\n\r\n[Bank accounts](https://docs.codat.io/accounting-api#/schemas/BankAccount) are financial accounts maintained by a bank or other financial institution.\r\n\r\n**Integration-specific behaviour**\r\n\r\nRequired data may vary by integration. To see what data to post, first call [Get create/update bank account model](https://docs.codat.io/accounting-api#/operations/get-create-update-bankAccounts-model).\r\n\r\nCheck out our [coverage explorer](https://knowledge.codat.io/supported-features/accounting?view=tab-by-data-type&dataType=bankAccounts) for integrations that support creating an account.",
        "operationId": "create-bank-account"
      }
    },
    "/companies/{companyId}/data/accounts": {
      "get": {
        "tags": [
          "Accounts"
        ],
        "summary": "List accounts",
        "description": "﻿The *List accounts* endpoint returns a list of [accounts](https://docs.codat.io/accounting-api#/schemas/Account) for a given company's connection.\n\n[Accounts](https://docs.codat.io/accounting-api#/schemas/Account) are the categories a business uses to record accounting transactions.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/codat-api#/operations/refresh-company-data).",
        "operationId": "list-accounts",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyId"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/Accounts"
                },
                "examples": {
                  "Clear Books": {
                    "value": {
                      "results": [
                        {
                          "id": "1b6266d1-1e44-46c5-8eb5-a8f98e03124e",
                          "nominalCode": "610",
                          "name": "Accounts Receivable",
                          "description": "Invoices the business has issued but has not yet collected payment on.",
                          "fullyQualifiedCategory": "Asset.Current",
                          "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T12:38:15Z",
                          "sourceModifiedDate": "2022-12-10T16:39:00",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "76d5f23b-9623-4e3b-89cd-da57228764d3",
                          "nominalCode": "611",
                          "name": "Accounts Receivable",
                          "description": "A provision anticipating that a portion of accounts receivable will never be collected.",
                          "fullyQualifiedCategory": "Asset.Current",
                          "fullyQualifiedName": "Asset.Current.Accounts Receivable",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-04-26T12:38:15Z",
                          "sourceModifiedDate": "2022-10-19T05:49:00",
                          "validDatatypeLinks": [],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 98,
                      "_links": {
                        "current": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts"
                        },
                        "next": {
                          "href": "/companies/354a121b-855f-4d25-90ad-0905b498c1c0/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Dynamics 365 Business Central": {
                    "value": {
                      "results": [
                        {
                          "id": "8eaed16d-c69f-ec11-80f1-0022481b4546",
                          "nominalCode": "45422026-68CA-4EF2-9",
                          "name": "",
                          "fullyQualifiedCategory": " .",
                          "fullyQualifiedName": "..",
                          "currency": "GBP",
                          "currentBalance": 0,
                          "type": "Unknown",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-27T14:21:18Z",
                          "sourceModifiedDate": "2022-03-09T16:31:54Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        },
                        {
                          "id": "c0861a65-c69f-ec11-80f1-0022481b4546",
                          "nominalCode": "10",
                          "name": "Account no cat Balance Sheet",
                          "fullyQualifiedCategory": " .",
                          "fullyQualifiedName": "..Account no cat Balance Sheet",
                          "currency": "GBP",
                          "currentBalance": 27.34,
                          "type": "Unknown",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2023-03-27T14:21:18Z",
                          "sourceModifiedDate": "2022-09-13T14:45:01Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "DirectCost.LineItems.AccountRef.Id"
                              ]
                            }
                          ],
                          "metadata": {
                            "isDeleted": false
                          }
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 122,
                      "_links": {
                        "current": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts"
                        },
                        "next": {
                          "href": "/companies/d6849caf-c146-41be-8335-b73346e3bd84/data/accounts?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Exact (Netherlands)": {
                    "value": {
                      "results": [
                        {
                          "id": "ef2fde36-4416-4bc5-b239-315b2929348c",
                          "nominalCode": "1300",
                          "name": "Debiteuren",
                          "description": "Debiteuren",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.Debiteuren.PaymentsEnabled",
                          "currency": "EUR",
                          "currentBalance": 864435.44,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:36:17Z",
                          "sourceModifiedDate": "2020-01-08T09:42:54Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
                                "Payment.AccountRef.Id",
                                "BillPayment.AccountRef.Id"
                              ]
                            }
                          ]
                        },
                        {
                          "id": "2052b65b-20e9-4da1-85d8-fd5ca0ea3d38",
                          "nominalCode": "888777888",
                          "name": "One more AR account",
                          "description": "One more AR account",
                          "fullyQualifiedCategory": "Asset.Assets.AccountsReceivable",
                          "fullyQualifiedName": "Asset.Assets.AccountsReceivable.One more AR account.PaymentsEnabled",
                          "currency": "EUR",
                          "currentBalance": 2174.82,
                          "type": "Asset",
                          "status": "Active",
                          "isBankAccount": false,
                          "modifiedDate": "2022-10-26T13:36:17Z",
                          "sourceModifiedDate": "2021-06-10T11:00:20Z",
                          "validDatatypeLinks": [
                            {
                              "property": "Id",
                              "links": [
                                "Transfer.To.AccountRef.Id",
                                "Transfer.From.AccountRef.Id",
[...]
