{
  "openapi": "3.1.0",
  "servers": [
    {
      "description": "Production",
      "url": "https://api.codat.io"
    }
  ],
  "info": {
    "title": "Commerce API",
    "version": "3.0.0",
    "contact": {
      "name": "Codat",
      "email": "support@codat.io"
    },
    "summary": "Codat's standardized API for accessing commerce data ",
    "description": "Codat's Commerce API allows you to access standardised data from over 11 commerce and POS systems.\n\nStandardize how you connect to your customers’ payment, PoS, and eCommerce systems. Retrieve orders, payouts, payments, and product data in the same way for all the leading commerce platforms.\n\n[Read more...](https://docs.codat.io/commerce-api/overview)\n\n[See our OpenAPI spec](https://github.com/codatio/oas) ",
    "termsOfService": "https://www.codat.io/legals/"
  },
  "security": [
    {
      "auth_header": []
    }
  ],
  "x-speakeasy-retries": {
    "strategy": "backoff",
    "backoff": {
      "initialInterval": 500,
      "maxInterval": 60000,
      "maxElapsedTime": 3600000,
      "exponent": 1.5
    },
    "statusCodes": [
      408,
      429,
      "5XX"
    ],
    "retryConnectionErrors": true
  },
  "x-speakeasy-name-override": [
    {
      "operationId": "^list*",
      "methodNameOverride": "list"
    },
    {
      "operationId": "^get*",
      "methodNameOverride": "get"
    }
  ],
  "x-codat-speakeasy-pagination": {
    "type": "offsetLimit",
    "inputs": [
      {
        "name": "page",
        "in": "parameters",
        "type": "page"
      }
    ],
    "outputs": {
      "results": "$.results"
    }
  },
  "x-codat-docs-path": "codat-api",
  "tags": [
    {
      "name": "Customers",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Disputes",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Company info",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Locations",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Orders",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Payments",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Products",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Tax components",
      "description": "Retrieve standardized data from linked commerce platforms."
    },
    {
      "name": "Transactions",
      "description": "Retrieve standardized data from linked commerce platforms."
    }
  ],
  "paths": {
    "/companies/{companyId}/connections/{connectionId}/data/commerce-customers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "List customers",
        "operationId": "list-customers",
        "description": "The *List customers* endpoint returns a list of [customers](https://docs.codat.io/commerce-api#/schemas/Customer) for a given company's connection.\n\n[Customers](https://docs.codat.io/commerce-api#/schemas/Customer) are people or organizations that place orders, make payments and recieve goods and/or services from the SMB.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/platform-api#/operations/refresh-company-data).\n    ",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customers"
                },
                "examples": {
                  "BigCommerce": {
                    "value": {
                      "results": [
                        {
                          "id": "1",
                          "customerName": "Amy Jones",
                          "emailAddress": "a.jackson@email.me",
                          "defaultCurrency": "XXX",
                          "phone": "07770 666777",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "My Billing Address ./*drop table",
                              "city": "Portsmouth",
                              "region": "",
                              "country": "United Kingdom",
                              "postalCode": "PS13HJ"
                            },
                            {
                              "type": "Unknown",
                              "line1": "This is my address, I cant hit enter.",
                              "city": "Portsmouth",
                              "region": "",
                              "country": "United Kingdom",
                              "postalCode": "PS13HJ"
                            }
                          ],
                          "createdDate": "2022-06-15T15:54:15Z",
                          "modifiedDate": "2023-04-11T10:33:49Z",
                          "sourceModifiedDate": "2022-06-15T15:54:15Z"
                        },
                        {
                          "id": "2",
                          "customerName": "Cust001 Cust001",
                          "emailAddress": "Cust001@example.com",
                          "defaultCurrency": "XXX",
                          "phone": "05442 203941",
                          "addresses": [],
                          "createdDate": "2023-04-11T15:49:25Z",
                          "modifiedDate": "2023-04-17T15:42:55Z",
                          "sourceModifiedDate": "2023-04-11T15:49:25Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 201,
                      "_links": {
                        "current": {
                          "href": "/companies/d1ebcf6d-f7f9-4841-8a06-fec12c492a48/connections/7c0a21e8-938a-40a4-b0f7-5ab5d46804b0/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d1ebcf6d-f7f9-4841-8a06-fec12c492a48/connections/7c0a21e8-938a-40a4-b0f7-5ab5d46804b0/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/d1ebcf6d-f7f9-4841-8a06-fec12c492a48/connections/7c0a21e8-938a-40a4-b0f7-5ab5d46804b0/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Clover": {
                    "value": {
                      "results": [
                        {
                          "id": "2CBJ8R898ZJAR",
                          "customerName": "",
                          "addresses": [],
                          "createdDate": "2021-09-22T13:10:12Z",
                          "modifiedDate": "2023-01-09T11:01:03Z",
                          "sourceModifiedDate": "0001-01-01T00:00:00"
                        },
                        {
                          "id": "511JV0FRN2QYC",
                          "customerName": "",
                          "addresses": [],
                          "createdDate": "2021-09-21T14:54:38Z",
                          "modifiedDate": "2023-01-09T11:01:03Z",
                          "sourceModifiedDate": "0001-01-01T00:00:00"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 9,
                      "_links": {
                        "current": {
                          "href": "/companies/aae80eb3-1f56-41ca-a171-a59f9ee03b26/connections/4a5b633b-cd86-4715-a22b-62be98c4bcc5/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/aae80eb3-1f56-41ca-a171-a59f9ee03b26/connections/4a5b633b-cd86-4715-a22b-62be98c4bcc5/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/aae80eb3-1f56-41ca-a171-a59f9ee03b26/connections/4a5b633b-cd86-4715-a22b-62be98c4bcc5/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Mollie": {
                    "value": {
                      "results": [
                        {
                          "id": "cst_NUkBHQmekz",
                          "customerName": "Frod Baggins",
                          "emailAddress": "frodo.baggings@theshire.com",
                          "addresses": [],
                          "createdDate": "2022-01-18T11:41:54",
                          "modifiedDate": "2022-03-17T15:47:28Z"
                        },
                        {
                          "id": "cst_BvBxwuwfvH",
                          "customerName": "Frodo Baggins",
                          "emailAddress": "frodo.baggings@theshire.com",
                          "addresses": [],
                          "createdDate": "2022-01-18T11:42:05",
                          "modifiedDate": "2022-03-17T15:47:28Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 3,
                      "_links": {
                        "current": {
                          "href": "/companies/a68cb447-182d-4bbe-be1a-f526d11d69d5/connections/dfbf847b-cde8-4b00-b2f9-af51dec0d337/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/a68cb447-182d-4bbe-be1a-f526d11d69d5/connections/dfbf847b-cde8-4b00-b2f9-af51dec0d337/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/a68cb447-182d-4bbe-be1a-f526d11d69d5/connections/dfbf847b-cde8-4b00-b2f9-af51dec0d337/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Mollie Test": {
                    "value": {
                      "results": [
                        {
                          "id": "cst_NUkBHQmekz",
                          "customerName": "Frod Baggins",
                          "emailAddress": "frodo.baggings@theshire.com",
                          "addresses": [],
                          "createdDate": "2022-01-18T11:41:54",
                          "modifiedDate": "2022-08-17T11:33:19Z"
                        },
                        {
                          "id": "cst_BvBxwuwfvH",
                          "customerName": "Frodo Baggins",
                          "emailAddress": "frodo.baggings@theshire.com",
                          "addresses": [],
                          "createdDate": "2022-01-18T11:42:05",
                          "modifiedDate": "2022-08-17T11:33:19Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 3,
                      "_links": {
                        "current": {
                          "href": "/companies/b978f9fe-8d63-4cfc-b2c2-b61b72e22785/connections/d564f8fd-0766-4ab8-a427-7c893f9b9ff6/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/b978f9fe-8d63-4cfc-b2c2-b61b72e22785/connections/d564f8fd-0766-4ab8-a427-7c893f9b9ff6/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/b978f9fe-8d63-4cfc-b2c2-b61b72e22785/connections/d564f8fd-0766-4ab8-a427-7c893f9b9ff6/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "PrestaShop": {
                    "value": {
                      "results": [
                        {
                          "id": "2",
                          "customerName": "Bob Smith",
                          "emailAddress": "bob.smith@example.com",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "1 test street",
                              "city": "City Test",
                              "region": "Virginia",
                              "country": "US",
                              "postalCode": "55678"
                            }
                          ],
                          "createdDate": "2021-09-02T07:54:26",
                          "modifiedDate": "2022-01-26T15:09:42Z",
                          "sourceModifiedDate": "2021-09-02T07:54:26"
                        },
                        {
                          "id": "3",
                          "customerName": "Fake Name",
                          "emailAddress": "bob@bob.com",
                          "addresses": [],
                          "createdDate": "2021-09-03T01:55:13",
                          "modifiedDate": "2022-01-26T15:09:42Z",
                          "sourceModifiedDate": "2021-09-03T01:55:13"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 5,
                      "_links": {
                        "current": {
                          "href": "/companies/2bf78e61-58ca-421a-a430-5dfa59cf15b0/connections/30774c1f-fdcd-491e-9e60-47e316b3ab9b/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/2bf78e61-58ca-421a-a430-5dfa59cf15b0/connections/30774c1f-fdcd-491e-9e60-47e316b3ab9b/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/2bf78e61-58ca-421a-a430-5dfa59cf15b0/connections/30774c1f-fdcd-491e-9e60-47e316b3ab9b/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Shopify": {
                    "value": {
                      "results": [
                        {
                          "id": "5839032287390",
                          "customerName": "AL A",
                          "emailAddress": "a.macra@codat.io",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "301 Ink Rooms, 28 Easton St, Farringdon",
                              "line2": "28 Easton St, Farringdon",
                              "city": "London",
                              "region": "England",
                              "country": "United Kingdom",
                              "postalCode": "WC1X 0BE"
                            }
                          ],
                          "createdDate": "2021-11-18T15:24:03",
                          "modifiedDate": "2023-02-10T15:18:25Z",
                          "sourceModifiedDate": "2021-11-18T15:24:03"
                        },
                        {
                          "id": "5097398534302",
                          "customerName": "Qa Test",
                          "phone": "+445593368390",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "Look Street",
                              "city": "London",
                              "postalCode": "PO16 7GZ"
                            },
                            {
                              "type": "Unknown",
                              "line1": "Look Street",
                              "city": "London",
                              "region": "England",
                              "country": "United Kingdom",
                              "postalCode": "PO16 7GZ"
                            }
                          ],
                          "note": "",
                          "createdDate": "2021-03-19T10:12:37",
                          "modifiedDate": "2023-02-10T15:18:25Z",
                          "sourceModifiedDate": "2022-08-01T13:07:59"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 6,
                      "_links": {
                        "current": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Square": {
                    "value": {
                      "results": [
                        {
                          "id": "FT9948H3VD6GF8MPDD5438KY1M",
                          "emailAddress": "fake@name.com",
                          "phone": "+441234567890",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "1 Main Street",
                              "line2": "Flat 20",
                              "city": "London",
                              "region": "London",
                              "postalCode": "W1A 1AA"
                            }
                          ],
                          "createdDate": "2021-03-08T11:21:11Z",
                          "modifiedDate": "2022-08-02T10:27:32Z",
                          "sourceModifiedDate": "2021-03-08T11:21:11Z"
                        },
                        {
                          "id": "GXQDPSZSMN6C58270SZN4YJZ8R",
                          "emailAddress": "s.shandil+square@codat.io",
                          "phone": "+447729946295",
                          "addresses": [],
                          "createdDate": "2020-11-19T14:56:00Z",
                          "modifiedDate": "2022-08-02T10:27:32Z",
                          "sourceModifiedDate": "2020-11-19T14:56:00Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies/d779fc82-a098-4107-a9fc-c2a1dda3d522/connections/9b098b74-3770-4dad-9001-4c283a39f1e5/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d779fc82-a098-4107-a9fc-c2a1dda3d522/connections/9b098b74-3770-4dad-9001-4c283a39f1e5/data/commerce-customers"
                        }
                      }
                    }
                  },
                  "Stripe Test": {
                    "value": {
                      "results": [
                        {
                          "id": "cus_LXdjls7KY5ZHaz",
                          "customerName": "Barry Smith",
                          "emailAddress": "barry@example.com",
                          "defaultCurrency": "gbp",
                          "addresses": [],
                          "note": "Test Subscription",
                          "createdDate": "2022-04-20T07:59:52Z",
                          "modifiedDate": "2022-09-30T11:18:27Z"
                        },
                        {
                          "id": "cus_LXdFFgHqqVURIv",
                          "customerName": "David Dunlow",
                          "emailAddress": "david@example.com",
                          "defaultCurrency": "gbp",
                          "phone": "+447545309714",
                          "addresses": [
                            {
                              "type": "Billing",
                              "line1": "301 Ink Rooms",
                              "line2": "28 Easton Street",
                              "city": "London",
                              "country": "GB",
                              "postalCode": "WC1X 0BE"
                            },
                            {
                              "type": "Delivery",
                              "line1": "301 Ink Rooms",
                              "line2": "28 Easton Street",
                              "city": "London",
                              "country": "GB",
                              "postalCode": "WC1X 0BE"
                            }
                          ],
                          "note": "Test Subscriptions",
                          "createdDate": "2022-04-20T07:30:01Z",
                          "modifiedDate": "2022-09-30T11:18:27Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 14,
                      "_links": {
                        "current": {
                          "href": "/companies/8206e78e-e340-411e-b315-473c4ab73b48/connections/43e58373-0a1d-44a0-97f0-9fa9993a14fa/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/8206e78e-e340-411e-b315-473c4ab73b48/connections/43e58373-0a1d-44a0-97f0-9fa9993a14fa/data/commerce-customers"
                        },
                        "next": {
                          "href": "/companies/8206e78e-e340-411e-b315-473c4ab73b48/connections/43e58373-0a1d-44a0-97f0-9fa9993a14fa/data/commerce-customers?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "WooCommerce": {
                    "value": {
                      "results": [
                        {
                          "id": "201694267",
                          "customerName": "Qa Test",
                          "emailAddress": "a.macra@codat.io",
                          "phone": "",
                          "addresses": [
                            {
                              "type": "Billing",
                              "line1": "",
                              "line2": "",
                              "city": "",
                              "region": "",
                              "country": "",
                              "postalCode": ""
                            }
                          ],
                          "createdDate": "2021-03-11T09:04:27",
                          "modifiedDate": "2021-07-13T16:19:00Z",
                          "sourceModifiedDate": "2021-03-11T09:07:00"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/010c6f53-8fc8-40ab-9ed5-41191cf9c6b5/connections/7545ca2e-5f58-4f98-8af2-3b2c38bb8074/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/010c6f53-8fc8-40ab-9ed5-41191cf9c6b5/connections/7545ca2e-5f58-4f98-8af2-3b2c38bb8074/data/commerce-customers"
                        }
                      }
                    }
                  },
                  "Zettle": {
                    "value": {
                      "results": [
                        {
                          "id": "firstname.lastname@example.com",
                          "customerName": "Firstname Lastname",
                          "emailAddress": "firstname.lastname@example.com",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "Line1",
                              "city": "City",
                              "country": "GB",
                              "postalCode": "TT1 1TT"
                            }
                          ],
                          "createdDate": "2021-01-07T16:17:34",
                          "modifiedDate": "2021-01-27T13:08:51Z",
                          "sourceModifiedDate": "2021-01-08T09:57:56"
                        },
                        {
                          "id": "joe@bloggs.com",
                          "customerName": "Joe Bloggs",
                          "emailAddress": "joe@bloggs.com",
                          "phone": "02012 345678",
                          "addresses": [
                            {
                              "type": "Unknown",
                              "line1": "Flat 1",
                              "line2": "1 High Street",
                              "city": "London",
                              "region": "London",
                              "country": "GB"
                            },
                            {
                              "type": "Unknown",
                              "line1": "Flat 2",
                              "line2": "2 High Street",
                              "city": "London",
                              "region": "London",
                              "country": "GB"
                            }
                          ],
                          "createdDate": "2020-12-21T14:52:15",
                          "modifiedDate": "2021-01-27T13:08:51Z",
                          "sourceModifiedDate": "2020-12-21T14:52:15"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies/fe8e3158-47e6-4367-9537-7d5001295500/connections/d60b15e7-7db9-459b-92a0-9557f7ebdeea/data/commerce-customers?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/fe8e3158-47e6-4367-9537-7d5001295500/connections/d60b15e7-7db9-459b-92a0-9557f7ebdeea/data/commerce-customers"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "x-speakeasy-pagination": {
          "$ref": "#/x-codat-speakeasy-pagination"
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-customers/{customerId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        },
        {
          "name": "customerId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "examples": {
              "$ref": "#/components/schemas/Order/allOf/0/properties/id/examples"
            }
          },
          "description": "Unique identifier for a customer."
        }
      ],
      "get": {
        "tags": [
          "Customers"
        ],
        "summary": "Get customer",
        "operationId": "get-customer",
        "description": "The *Get customer* endpoint returns a single customer for a given customerId.\n\n[Customers](https://docs.codat.io/commerce-api#/schemas/Customer) are people or organizations that place orders, make payments and receive goods and/or services from the SMB.\n\nCheck out our [coverage explorer](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-customers) for integrations that support getting a specific customer.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/platform-api#/operations/refresh-company-data).\n",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Customer"
                },
                "examples": {
                  "BigCommerce": {
                    "value": {
                      "id": "1",
                      "customerName": "Amy Jones",
                      "emailAddress": "a.durbanjackson+amy@codat.io",
                      "defaultCurrency": "XXX",
                      "phone": "07770666777",
                      "addresses": [
                        {
                          "type": "Unknown",
                          "line1": "My Billing Address ./*drop table",
                          "city": "Portsmouth",
                          "region": "",
                          "country": "United Kingdom",
                          "postalCode": "PS13HJ"
                        },
                        {
                          "type": "Unknown",
                          "line1": "This is my address, I cant hit enter.",
                          "city": "Portsmouth",
                          "region": "",
                          "country": "United Kingdom",
                          "postalCode": "PS13HJ"
                        }
                      ],
                      "createdDate": "2022-06-15T15:54:15Z",
                      "modifiedDate": "2023-04-11T10:33:49Z",
                      "sourceModifiedDate": "2022-06-15T15:54:15Z"
                    }
                  },
                  "Clover": {
                    "value": {
                      "id": "2CBJ8R898ZJAR",
                      "customerName": "",
                      "addresses": [],
                      "createdDate": "2021-09-22T13:10:12Z",
                      "modifiedDate": "2023-01-09T11:01:03Z",
                      "sourceModifiedDate": "0001-01-01T00:00:00"
                    }
                  },
                  "Mollie": {
                    "value": {
                      "id": "cst_NUkBHQmekz",
                      "customerName": "Frod Baggins",
                      "emailAddress": "frodo.baggings@theshire.com",
                      "addresses": [],
                      "createdDate": "2022-01-18T11:41:54",
                      "modifiedDate": "2022-03-17T15:47:28Z"
                    }
                  },
                  "Mollie Test": {
                    "value": {
                      "id": "cst_NUkBHQmekz",
                      "customerName": "Frod Baggins",
                      "emailAddress": "frodo.baggings@theshire.com",
                      "addresses": [],
                      "createdDate": "2022-01-18T11:41:54",
                      "modifiedDate": "2022-08-17T11:33:19Z"
                    }
                  },
                  "PrestaShop": {
                    "value": {
                      "id": "2",
                      "customerName": "Bob Smith",
                      "emailAddress": "bob.smith@example.com",
                      "addresses": [
                        {
                          "type": "Unknown",
                          "line1": "1 test street",
                          "city": "City Test",
                          "region": "Virginia",
                          "country": "US",
                          "postalCode": "55678"
                        }
                      ],
                      "createdDate": "2021-09-02T07:54:26",
                      "modifiedDate": "2022-01-26T15:09:42Z",
                      "sourceModifiedDate": "2021-09-02T07:54:26"
                    }
                  },
                  "Shopify": {
                    "value": {
                      "id": "5839032287390",
                      "customerName": "AL A",
                      "emailAddress": "a.macra@codat.io",
                      "addresses": [
                        {
                          "type": "Unknown",
                          "line1": "301 Ink Rooms, 28 Easton St, Farringdon",
                          "line2": "28 Easton St, Farringdon",
                          "city": "London",
                          "region": "England",
                          "country": "United Kingdom",
                          "postalCode": "WC1X 0BE"
                        }
                      ],
                      "createdDate": "2021-11-18T15:24:03",
                      "modifiedDate": "2023-02-10T15:18:25Z",
                      "sourceModifiedDate": "2021-11-18T15:24:03"
                    }
                  },
                  "Square": {
                    "value": {
                      "id": "FT9948H3VD6GF8MPDD5438KY1M",
                      "emailAddress": "fake@name.com",
                      "phone": "+441234567890",
                      "addresses": [
                        {
                          "type": "Unknown",
                          "line1": "1 Main Street",
                          "line2": "Flat 20",
                          "city": "London",
                          "region": "London",
                          "postalCode": "W1A 1AA"
                        }
                      ],
                      "createdDate": "2021-03-08T11:21:11Z",
                      "modifiedDate": "2022-08-02T10:27:32Z",
                      "sourceModifiedDate": "2021-03-08T11:21:11Z"
                    }
                  },
                  "Stripe Test": {
                    "value": {
                      "id": "cus_LXdjls7KY5ZHaz",
                      "customerName": "Barry Smith",
                      "emailAddress": "barry@example.com",
                      "defaultCurrency": "gbp",
                      "addresses": [],
                      "note": "Test Subscription",
                      "createdDate": "2022-04-20T07:59:52Z",
                      "modifiedDate": "2022-09-30T11:18:27Z"
                    }
                  },
                  "WooCommerce": {
                    "value": {
                      "id": "201694267",
                      "customerName": "Qa Test",
                      "emailAddress": "a.macra@codat.io",
                      "phone": "",
                      "addresses": [
                        {
                          "type": "Billing",
                          "line1": "",
                          "line2": "",
                          "city": "",
                          "region": "",
                          "country": "",
                          "postalCode": ""
                        }
                      ],
                      "createdDate": "2021-03-11T09:04:27",
                      "modifiedDate": "2021-07-13T16:19:00Z",
                      "sourceModifiedDate": "2021-03-11T09:07:00"
                    }
                  },
                  "Zettle": {
                    "value": {
                      "id": "firstname.lastname@example.com",
                      "customerName": "Firstname Lastname",
                      "emailAddress": "firstname.lastname@example.com",
                      "addresses": [
                        {
                          "type": "Unknown",
                          "line1": "Line1",
                          "city": "City",
                          "country": "GB",
                          "postalCode": "TT1 1TT"
                        }
                      ],
                      "createdDate": "2021-01-07T16:17:34",
                      "modifiedDate": "2021-01-27T13:08:51Z",
                      "sourceModifiedDate": "2021-01-08T09:57:56"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-disputes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "summary": "List disputes",
        "tags": [
          "Disputes"
        ],
        "operationId": "list-disputes",
        "parameters": [
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/pageSize"
          },
          {
            "$ref": "#/components/parameters/query"
          },
          {
            "$ref": "#/components/parameters/orderBy"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Disputes"
                },
                "examples": {
                  "Shopify": {
                    "value": {
                      "results": [
                        {
                          "id": "8502411422",
                          "disputedTransactions": [
                            {
                              "id": "3684116791454",
                              "type": "Order"
                            }
                          ],
                          "totalAmount": 175,
                          "currency": "GBP",
                          "status": "Processing",
                          "reason": "fraudulent",
                          "dueDate": "2021-03-28T00:00:00",
                          "createdDate": "2021-03-19T13:16:27",
                          "modifiedDate": "2023-02-10T15:18:22Z",
                          "sourceModifiedDate": "2021-03-28T11:00:17"
                        },
                        {
                          "id": "8502444190",
                          "disputedTransactions": [
                            {
                              "id": "3684119445662",
                              "type": "Order"
                            }
                          ],
                          "totalAmount": 600,
                          "currency": "GBP",
                          "status": "Processing",
                          "reason": "fraudulent",
                          "dueDate": "2021-03-28T00:00:00",
                          "createdDate": "2021-03-19T13:18:31",
                          "modifiedDate": "2023-02-10T15:18:22Z",
                          "sourceModifiedDate": "2021-03-28T11:00:18"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 2,
                      "_links": {
                        "current": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-disputes?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-disputes"
                        }
                      }
                    }
                  },
                  "Stripe Test": {
                    "value": {
                      "results": [
                        {
                          "id": "dp_1Hqhl8A8m8S1Gh7OJrvF3gsK",
                          "disputedTransactions": [
                            {
                              "id": "txn_1Hqhl8A8m8S1Gh7OtmAPNr9e",
                              "type": "Payment"
                            }
                          ],
                          "totalAmount": 25,
                          "currency": "GBP",
                          "status": "Processing",
                          "reason": "fraudulent",
                          "dueDate": "2020-12-02T23:59:59Z",
                          "createdDate": "2020-11-23T16:19:22Z",
                          "modifiedDate": "2022-09-30T11:18:27Z"
                        },
                        {
                          "id": "dp_1HqiwVA8m8S1Gh7OpS3ozlcd",
                          "disputedTransactions": [
                            {
                              "id": "txn_1HqiwVA8m8S1Gh7O0IVelTQ5",
                              "type": "Payment"
                            }
                          ],
                          "totalAmount": 55,
                          "currency": "GBP",
                          "status": "Lost",
                          "reason": "product_not_received",
                          "dueDate": "2020-12-02T23:59:59Z",
                          "createdDate": "2020-11-23T17:35:11Z",
                          "modifiedDate": "2022-09-30T11:18:27Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 5,
                      "_links": {
                        "current": {
                          "href": "/companies/8206e78e-e340-411e-b315-473c4ab73b48/connections/43e58373-0a1d-44a0-97f0-9fa9993a14fa/data/commerce-disputes?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/8206e78e-e340-411e-b315-473c4ab73b48/connections/43e58373-0a1d-44a0-97f0-9fa9993a14fa/data/commerce-disputes"
                        },
                        "next": {
                          "href": "/companies/8206e78e-e340-411e-b315-473c4ab73b48/connections/43e58373-0a1d-44a0-97f0-9fa9993a14fa/data/commerce-disputes?page=2&pageSize=2"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "The *List disputes* endpoint returns a list of [disputes](https://docs.codat.io/commerce-api#/schemas/Dispute) for a given company's connection.\n\n[Disputes](https://docs.codat.io/commerce-api#/schemas/Dispute) are created when a customer is unsatisfied with their purchase or believe they have been charged incorrectly.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/platform-api#/operations/refresh-company-data).\n    ",
        "x-speakeasy-pagination": {
          "$ref": "#/x-codat-speakeasy-pagination"
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-disputes/{disputeId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        },
        {
          "name": "disputeId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "examples": {
              "$ref": "#/components/schemas/Order/allOf/0/properties/id/examples"
            }
          },
          "description": "Unique identifier for a dispute."
        }
      ],
      "get": {
        "summary": "Get dispute",
        "tags": [
          "Disputes"
        ],
        "operationId": "get-dispute",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Dispute"
                },
                "examples": {
                  "Shopify": {
                    "value": {
                      "id": "8502411422",
                      "disputedTransactions": [
                        {
                          "id": "3684116791454",
                          "type": "Order"
                        }
                      ],
                      "totalAmount": 175,
                      "currency": "GBP",
                      "status": "Processing",
                      "reason": "fraudulent",
                      "dueDate": "2021-03-28T00:00:00",
                      "createdDate": "2021-03-19T13:16:27",
                      "modifiedDate": "2023-02-10T15:18:22Z",
                      "sourceModifiedDate": "2021-03-28T11:00:17"
                    }
                  },
                  "Stripe Test": {
                    "value": {
                      "id": "dp_1Hqhl8A8m8S1Gh7OJrvF3gsK",
                      "disputedTransactions": [
                        {
                          "id": "txn_1Hqhl8A8m8S1Gh7OtmAPNr9e",
                          "type": "Payment"
                        }
                      ],
                      "totalAmount": 25,
                      "currency": "GBP",
                      "status": "Processing",
                      "reason": "fraudulent",
                      "dueDate": "2020-12-02T23:59:59Z",
                      "createdDate": "2020-11-23T16:19:22Z",
                      "modifiedDate": "2022-09-30T11:18:27Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "The *Get dispute* endpoint returns a single dispute for a given disputeId.\n\n[Disputes](https://docs.codat.io/commerce-api#/schemas/Dispute) are created when a customer is unsatisfied with their purchase or believe they have been charged incorrectly.\n\nCheck out our [coverage explorer](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-disputes) for integrations that support getting a specific dispute.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/platform-api#/operations/refresh-company-data).\n"
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-info": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "summary": "Get company info",
        "tags": [
          "Company info"
        ],
        "operationId": "get-company-info",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyInfo"
                },
                "examples": {
                  "Example 1": {
                    "value": {
                      "companyName": "Codat",
                      "companyLegalName": "Codat Ltd",
                      "addresses": [
                        {
                          "type": "Billing",
                          "line1": "301 Ink Rooms",
                          "line2": "28 Easton Street",
                          "city": "London",
                          "region": "England",
                          "country": "United Kingdom",
                          "postalCode": "WC1X 0BE"
                        },
                        {
                          "type": "Delivery",
                          "line1": "28 Easton Street",
                          "city": "London",
                          "country": "UK",
                          "postalCode": "WC1X 0BE"
                        }
                      ],
                      "phoneNumbers": [
                        {
                          "number": "02012 345678",
                          "type": "Landline"
                        },
                        {
                          "number": "07123 456789",
                          "type": "Mobile"
                        },
                        {
                          "number": "02012 345678",
                          "type": "Fax"
                        }
                      ],
                      "webLinks": [
                        {
                          "type": "Website",
                          "url": "https://www.codat.io/"
                        },
                        {
                          "type": "Social",
                          "url": "https://www.linkedin.com/company/codat-limited/"
                        }
                      ],
                      "registrationNumber": "5590111724",
                      "baseCurrency": "GBP",
                      "accountBalances": [
                        {
                          "available": 20053.23,
                          "pending": 2034.23,
                          "reserved": 517.23,
                          "currency": "GBP"
                        }
                      ],
                      "sourceUrls": {
                        "Api": "https://api.codat.io"
                      },
                      "createdDate": "2019-03-07T16:50:49",
                      "modifiedDate": "2022-03-10T15:42:13",
                      "sourceModifiedDate": "2021-06-10T01:48:49"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "Retrieve information about the company, as seen in the commerce platform.\n\nThis may include information like addresses, tax registration details and social media or website information."
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-locations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "summary": "List locations",
        "tags": [
          "Locations"
        ],
        "operationId": "list-locations",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Locations"
                },
                "examples": {
                  "Clover": {
                    "value": {
                      "results": [
                        {
                          "id": "GA3WP1ZC3ZFK1",
                          "name": "Codat",
                          "address": {
                            "type": "Inventory",
                            "line1": "301 Ink Rooms, 28 Easton Street",
                            "city": "London",
                            "region": "London",
                            "country": "GB",
                            "postalCode": "WC1X 0BE"
                          },
                          "modifiedDate": "2023-01-09T11:01:03Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/aae80eb3-1f56-41ca-a171-a59f9ee03b26/connections/4a5b633b-cd86-4715-a22b-62be98c4bcc5/data/commerce-locations?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/aae80eb3-1f56-41ca-a171-a59f9ee03b26/connections/4a5b633b-cd86-4715-a22b-62be98c4bcc5/data/commerce-locations"
                        }
                      }
                    }
                  },
                  "Lightspeed K Trial": {
                    "value": {
                      "results": [
                        {
                          "id": "647208621834538",
                          "name": "QA Shared - New Test Site",
                          "address": {
                            "type": "Unknown",
                            "country": "AU"
                          },
                          "modifiedDate": "2023-03-02T09:48:48Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/36e3213b-02f6-4264-96ce-6dd53ea69e57/connections/278ba962-466a-452b-92b0-4bdee3a23463/data/commerce-locations?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/36e3213b-02f6-4264-96ce-6dd53ea69e57/connections/278ba962-466a-452b-92b0-4bdee3a23463/data/commerce-locations"
                        }
                      }
                    }
                  },
                  "Shopify": {
                    "value": {
                      "results": [
                        {
                          "id": "61375348894",
                          "name": "301 Ink Rooms, 28 Easton St",
                          "address": {
                            "type": "Inventory",
                            "line1": "301 Ink Rooms, 28 Easton St",
                            "city": "London",
                            "region": "London",
                            "country": "GB",
                            "postalCode": "WC1X 0BE"
                          },
                          "modifiedDate": "2023-02-10T15:18:25Z",
                          "sourceModifiedDate": "2021-03-19T10:06:06"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-locations?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/0bc1cc44-c6d2-4537-9591-b1ad6b5e3c94/connections/d38fa6d3-d712-4cf6-9d9d-f03bacd87595/data/commerce-locations"
                        }
                      }
                    }
                  },
                  "Square": {
                    "value": {
                      "results": [
                        {
                          "id": "D8DVHD1G6NT2J",
                          "name": "Codat Limited",
                          "address": {
                            "type": "Inventory",
                            "line1": "301 Ink Rooms",
                            "line2": "28 Easton Street",
                            "city": "London",
                            "country": "GB",
                            "postalCode": "WC1X0BE"
                          },
                          "modifiedDate": "2022-08-02T10:27:32Z",
                          "sourceModifiedDate": "2020-01-17T14:07:30Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/d779fc82-a098-4107-a9fc-c2a1dda3d522/connections/9b098b74-3770-4dad-9001-4c283a39f1e5/data/commerce-locations?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d779fc82-a098-4107-a9fc-c2a1dda3d522/connections/9b098b74-3770-4dad-9001-4c283a39f1e5/data/commerce-locations"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/Malformed-Query"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "The *List locations* endpoint returns a list of [locations](https://docs.codat.io/commerce-api#/schemas/Location) for a given company's connection.\n\n[Locations](https://docs.codat.io/commerce-api#/schemas/Location) hold information on the geographic location at which stocks of [products](https://docs.codat.io/commerce-api#/schemas/Product) may be held or where [orders](https://docs.codat.io/commerce-api#/schemas/Order) were placed.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/platform-api#/operations/refresh-company-data).\n    ",
        "x-speakeasy-pagination": {
          "$ref": "#/x-codat-speakeasy-pagination"
        }
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-locations/{locationId}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        },
        {
          "name": "locationId",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "examples": {
              "$ref": "#/components/schemas/Order/allOf/0/properties/id/examples"
            }
          },
          "description": "Unique identifier for a location."
        }
      ],
      "get": {
        "summary": "Get location",
        "tags": [
          "Locations"
        ],
        "operationId": "get-location",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Location"
                },
                "examples": {
                  "Clover": {
                    "value": {
                      "id": "GA3WP1ZC3ZFK1",
                      "name": "Codat",
                      "address": {
                        "type": "Inventory",
                        "line1": "301 Ink Rooms, 28 Easton Street",
                        "city": "London",
                        "region": "London",
                        "country": "GB",
                        "postalCode": "WC1X 0BE"
                      },
                      "modifiedDate": "2023-01-09T11:01:03Z"
                    }
                  },
                  "Lightspeed K Trial": {
                    "value": {
                      "id": "647208621834538",
                      "name": "QA Shared - New Test Site",
                      "address": {
                        "type": "Unknown",
                        "country": "AU"
                      },
                      "modifiedDate": "2023-03-02T09:48:48Z"
                    }
                  },
                  "Shopify": {
                    "value": {
                      "id": "61375348894",
                      "name": "301 Ink Rooms, 28 Easton St",
                      "address": {
                        "type": "Inventory",
                        "line1": "301 Ink Rooms, 28 Easton St",
                        "city": "London",
                        "region": "London",
                        "country": "GB",
                        "postalCode": "WC1X 0BE"
                      },
                      "modifiedDate": "2023-02-10T15:18:25Z",
                      "sourceModifiedDate": "2021-03-19T10:06:06"
                    }
                  },
                  "Square": {
                    "value": {
                      "id": "D8DVHD1G6NT2J",
                      "name": "Codat Limited",
                      "address": {
                        "type": "Inventory",
                        "line1": "301 Ink Rooms",
                        "line2": "28 Easton Street",
                        "city": "London",
                        "country": "GB",
                        "postalCode": "WC1X0BE"
                      },
                      "modifiedDate": "2022-08-02T10:27:32Z",
                      "sourceModifiedDate": "2020-01-17T14:07:30Z"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "404": {
            "$ref": "#/components/responses/Not-Found"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/Too-Many-Requests"
          }
        },
        "description": "The *Get location* endpoint returns a single location for a given locationId.\n\n[Locations](https://docs.codat.io/commerce-api#/schemas/Location) hold information on the geographic location at which stocks of [products](https://docs.codat.io/commerce-api#/schemas/Product) may be held or where [orders](https://docs.codat.io/commerce-api#/schemas/Order) were placed.\n\nCheck out our [coverage explorer](https://knowledge.codat.io/supported-features/commerce?view=tab-by-data-type&dataType=commerce-locations) for integrations that support getting a specific location.\n\nBefore using this endpoint, you must have [retrieved data for the company](https://docs.codat.io/platform-api#/operations/refresh-company-data).\n"
      }
    },
    "/companies/{companyId}/connections/{connectionId}/data/commerce-orders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/companyId"
        },
        {
          "$ref": "#/components/parameters/connectionId"
        }
      ],
      "get": {
        "summary": "List orders",
        "tags": [
          "Orders"
        ],
        "operationId": "list-orders",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "x-speakeasy-usage-example": true,
                "schema": {
                  "$ref": "#/components/schemas/Orders"
                },
                "examples": {
                  "Amazon Seller Central": {
                    "value": {
                      "results": [
                        {
                          "id": "902-1845936-5435065",
                          "orderNumber": "902-1845936-5435065",
                          "country": "US ",
                          "currency": "USD",
                          "createdDate": "1970-01-19T03:58:30Z",
                          "totalAmount": 10,
                          "totalRefund": 0,
                          "totalTaxAmount": 1.01,
                          "totalDiscount": 0,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "O05015851154158",
                              "quantity": 1,
                              "taxPercentage": 11.23,
                              "totalAmount": 10,
                              "totalTaxAmount": 1.01,
                              "unitPrice": 8.99,
                              "taxes": [],
                              "productVariantRef": {
                                "id": "NABetaASINB00551Q3CS"
                              },
                              "discountAllocations": []
                            }
                          ],
                          "payments": [],
                          "serviceCharges": [],
                          "modifiedDate": "2023-01-09T09:12:12Z",
                          "sourceModifiedDate": "1970-01-19T03:58:32Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/6a59da96-e6d2-4c5c-ace7-65ba8be6a472/connections/58be1638-2c74-4ad4-8ff3-8c5b98b5f0fe/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/6a59da96-e6d2-4c5c-ace7-65ba8be6a472/connections/58be1638-2c74-4ad4-8ff3-8c5b98b5f0fe/data/commerce-orders"
                        }
                      }
                    }
                  },
                  "BigCommerce": {
                    "value": {
                      "results": [
                        {
                          "id": "100",
                          "orderNumber": "100",
                          "country": "GBR",
                          "currency": "GBP",
                          "createdDate": "2022-06-15T15:48:18Z",
                          "totalAmount": 675,
                          "totalRefund": 0,
                          "totalTaxAmount": 112.5,
                          "totalDiscount": 10,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "1",
                              "quantity": 1,
                              "taxPercentage": 20,
                              "totalAmount": 221.64,
                              "totalTaxAmount": 36.94,
                              "unitPrice": 187.5,
                              "taxes": [],
                              "productRef": {
                                "id": "86",
                                "name": "[Sample] Able Brewing System"
                              },
                              "productVariantRef": {
                                "id": "66",
                                "name": "[Sample] Able Brewing System"
                              },
                              "discountAllocations": [
                                {
                                  "name": "Manual Discount",
                                  "totalAmount": 3.36
                                }
                              ]
                            },
                            {
                              "id": "2",
                              "quantity": 5,
                              "taxPercentage": 19.9999,
                              "totalAmount": 438.36,
                              "totalTaxAmount": 73.06,
                              "unitPrice": 74.1667,
                              "taxes": [],
                              "productRef": {
                                "id": "81",
                                "name": "[Sample] Orbit Terrarium - Small"
                              },
                              "productVariantRef": {
                                "id": "65",
                                "name": "[Sample] Orbit Terrarium - Small"
                              },
                              "discountAllocations": [
                                {
                                  "name": "Manual Discount",
                                  "totalAmount": 6.64
                                }
                              ]
                            }
                          ],
                          "payments": [],
                          "serviceCharges": [
                            {
                              "description": "Shipping Charge",
                              "totalAmount": 15,
                              "taxPercentage": 20,
                              "taxAmount": 2.5,
                              "taxes": [],
                              "quantity": 1,
                              "type": "Shipping"
                            }
                          ],
                          "customerRef": {
                            "id": "0"
                          },
                          "modifiedDate": "2023-04-11T10:33:56Z",
                          "sourceModifiedDate": "2022-06-15T15:48:18Z"
                        },
                        {
                          "id": "101",
                          "orderNumber": "101",
                          "country": "GBR",
                          "currency": "GBP",
                          "createdDate": "2022-06-15T15:49:02Z",
                          "totalAmount": 675,
                          "totalRefund": 0,
                          "totalTaxAmount": 112.5,
                          "totalDiscount": 10,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "3",
                              "quantity": 1,
                              "taxPercentage": 20,
                              "totalAmount": 221.64,
                              "totalTaxAmount": 36.94,
                              "unitPrice": 187.5,
                              "taxes": [],
                              "productRef": {
                                "id": "86",
                                "name": "[Sample] Able Brewing System"
                              },
                              "productVariantRef": {
                                "id": "66",
                                "name": "[Sample] Able Brewing System"
                              },
                              "discountAllocations": [
                                {
                                  "name": "Manual Discount",
                                  "totalAmount": 3.36
                                }
                              ]
                            },
                            {
                              "id": "4",
                              "quantity": 5,
                              "taxPercentage": 19.9999,
                              "totalAmount": 438.36,
                              "totalTaxAmount": 73.06,
                              "unitPrice": 74.1667,
                              "taxes": [],
                              "productRef": {
                                "id": "81",
                                "name": "[Sample] Orbit Terrarium - Small"
                              },
                              "productVariantRef": {
                                "id": "65",
                                "name": "[Sample] Orbit Terrarium - Small"
                              },
                              "discountAllocations": [
                                {
                                  "name": "Manual Discount",
                                  "totalAmount": 6.64
                                }
                              ]
                            }
                          ],
                          "payments": [],
                          "serviceCharges": [
                            {
                              "description": "Shipping Charge",
                              "totalAmount": 15,
                              "taxPercentage": 20,
                              "taxAmount": 2.5,
                              "taxes": [],
                              "quantity": 1,
                              "type": "Shipping"
                            }
                          ],
                          "customerRef": {
                            "id": "0"
                          },
                          "modifiedDate": "2023-04-11T10:33:56Z",
                          "sourceModifiedDate": "2022-06-15T15:49:02Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 14,
                      "_links": {
                        "current": {
                          "href": "/companies/d1ebcf6d-f7f9-4841-8a06-fec12c492a48/connections/7c0a21e8-938a-40a4-b0f7-5ab5d46804b0/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/d1ebcf6d-f7f9-4841-8a06-fec12c492a48/connections/7c0a21e8-938a-40a4-b0f7-5ab5d46804b0/data/commerce-orders"
                        },
                        "next": {
                          "href": "/companies/d1ebcf6d-f7f9-4841-8a06-fec12c492a48/connections/7c0a21e8-938a-40a4-b0f7-5ab5d46804b0/data/commerce-orders?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Clover": {
                    "value": {
                      "results": [
                        {
                          "id": "0BCZPWGFC3M16",
                          "orderNumber": "0BCZPWGFC3M16",
                          "country": "GB ",
                          "currency": "GBP",
                          "createdDate": "2021-05-24T10:33:41Z",
                          "totalAmount": 1200,
                          "totalRefund": 0,
                          "totalTaxAmount": 200,
                          "totalDiscount": 0,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "985WY5J4H12XY",
                              "quantity": 1,
                              "taxPercentage": 20,
                              "totalAmount": 1200,
                              "totalTaxAmount": 200,
                              "unitPrice": 1000,
                              "taxes": [
                                {
                                  "taxComponentRef": {
                                    "id": "KAWQTPZP3R9VT",
                                    "name": "VAT 20%"
                                  },
                                  "taxAmount": 200
                                }
                              ],
                              "productRef": {
                                "id": "NMZHKK6FKF6ZJ",
                                "name": "Laptop"
                              },
                              "discountAllocations": []
                            }
                          ],
                          "payments": [
                            {
                              "id": "S2D924NX13T2G"
                            }
                          ],
                          "serviceCharges": [],
                          "locationRef": {
                            "id": "GA3WP1ZC3ZFK1",
                            "name": "Codat"
                          },
                          "modifiedDate": "2022-09-08T15:47:43Z",
                          "sourceModifiedDate": "2021-05-24T10:33:45Z"
                        },
                        {
                          "id": "0G22TXMYQQE54",
                          "orderNumber": "0G22TXMYQQE54",
                          "country": "GB ",
                          "currency": "GBP",
                          "createdDate": "2021-05-24T11:24:48Z",
                          "totalAmount": 1340,
                          "totalRefund": 0,
                          "totalTaxAmount": 240,
                          "totalDiscount": 100,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "GZ73TPFAV6NTP",
                              "quantity": 1,
                              "taxPercentage": 20,
                              "totalAmount": 1440,
                              "totalTaxAmount": 240,
                              "unitPrice": 1200,
                              "taxes": [
                                {
                                  "taxComponentRef": {
                                    "id": "KAWQTPZP3R9VT",
                                    "name": "VAT 20%"
                                  },
                                  "taxAmount": 240
                                }
                              ],
                              "productRef": {
                                "id": "QVAV6KM1457B0",
                                "name": "Desktop"
                              },
                              "discountAllocations": []
                            },
                            {
                              "id": "Discount: �10 off",
                              "quantity": 1,
                              "taxPercentage": 0,
                              "totalAmount": -100,
                              "totalTaxAmount": 0,
                              "unitPrice": 0,
                              "taxes": [],
                              "discountAllocations": [
                                {
                                  "name": "�10 off",
                                  "totalAmount": 100
                                }
                              ]
                            }
                          ],
                          "payments": [
                            {
                              "id": "H726AAJQYE3SP"
                            }
                          ],
                          "serviceCharges": [],
                          "locationRef": {
                            "id": "GA3WP1ZC3ZFK1",
                            "name": "Codat"
                          },
                          "modifiedDate": "2022-09-08T15:47:43Z",
                          "sourceModifiedDate": "2021-05-24T11:24:52Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 76,
                      "_links": {
                        "current": {
                          "href": "/companies/1535235d-5efb-4d17-9d94-491c1f35ff92/connections/ed802898-f920-486b-b553-d7b4c1ac6c8d/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/1535235d-5efb-4d17-9d94-491c1f35ff92/connections/ed802898-f920-486b-b553-d7b4c1ac6c8d/data/commerce-orders"
                        },
                        "next": {
                          "href": "/companies/1535235d-5efb-4d17-9d94-491c1f35ff92/connections/ed802898-f920-486b-b553-d7b4c1ac6c8d/data/commerce-orders?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Lightspeed K Trial": {
                    "value": {
                      "results": [
                        {
                          "id": "A61465.1",
                          "orderNumber": "A61465.1",
                          "country": "AU ",
                          "currency": "AUD",
                          "createdDate": "2022-12-09T02:27:14Z",
                          "closedDate": "2022-12-09T02:27:46Z",
                          "totalAmount": 5,
                          "totalRefund": 0,
                          "totalTaxAmount": 0.45,
                          "totalDiscount": 0,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "S61465.1",
                              "quantity": 1,
                              "taxPercentage": 10,
                              "totalAmount": 5,
                              "totalTaxAmount": 0.45,
                              "unitPrice": 4.5455,
                              "taxes": [
                                {
                                  "taxComponentRef": {
                                    "id": "GST10",
                                    "name": "10% GST"
                                  },
                                  "taxAmount": 0.45
                                }
                              ],
                              "productRef": {
                                "id": "647208621834617",
                                "name": "Hot Chocolate"
                              },
                              "discountAllocations": []
                            }
                          ],
                          "payments": [
                            {
                              "id": "R61465.1_1_A61465.1_2022-12-09T02:27:46.273Z",
                              "amount": 5,
                              "currency": "AUD",
                              "type": "Unknown",
                              "status": "Paid",
                              "dueDate": "0001-01-01T00:00:00",
                              "createdDate": "2022-12-09T02:27:46",
                              "modifiedDate": "2023-03-02T09:50:43"
                            }
                          ],
                          "serviceCharges": [],
                          "locationRef": {
                            "id": "647208621834538",
                            "name": "QA Shared - New Test Site"
                          },
                          "modifiedDate": "2023-03-08T13:49:34Z"
                        },
                        {
                          "id": "A61465.2",
                          "orderNumber": "A61465.2",
                          "country": "AU ",
                          "currency": "AUD",
                          "createdDate": "2022-12-12T23:20:12Z",
                          "closedDate": "2022-12-12T23:21:29Z",
                          "totalAmount": 10,
                          "totalRefund": 0,
                          "totalTaxAmount": 0.91,
                          "totalDiscount": 0,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "S61465.2",
                              "quantity": 1,
                              "taxPercentage": 10,
                              "totalAmount": 5,
                              "totalTaxAmount": 0.46,
                              "unitPrice": 4.5455,
                              "taxes": [
                                {
                                  "taxComponentRef": {
                                    "id": "GST10",
                                    "name": "10% GST"
                                  },
                                  "taxAmount": 0.46
                                }
                              ],
                              "productRef": {
                                "id": "647208621834663",
                                "name": "Royal"
                              },
                              "discountAllocations": []
                            },
                            {
                              "id": "S61465.3",
                              "quantity": 1,
                              "taxPercentage": 10,
                              "totalAmount": 5,
                              "totalTaxAmount": 0.45,
                              "unitPrice": 4.5455,
                              "taxes": [
                                {
                                  "taxComponentRef": {
                                    "id": "GST10",
                                    "name": "10% GST"
                                  },
                                  "taxAmount": 0.45
                                }
                              ],
                              "productRef": {
                                "id": "647208621834623",
                                "name": "Mocha"
                              },
                              "discountAllocations": []
                            }
                          ],
                          "payments": [
                            {
                              "id": "R61465.2_1_A61465.2_2022-12-12T23:21:29.006Z",
                              "amount": 10,
                              "currency": "AUD",
                              "type": "Unknown",
                              "status": "Paid",
                              "dueDate": "0001-01-01T00:00:00",
                              "createdDate": "2022-12-12T23:21:29",
                              "modifiedDate": "2023-03-02T09:50:43"
                            }
                          ],
                          "serviceCharges": [],
                          "locationRef": {
                            "id": "647208621834538",
                            "name": "QA Shared - New Test Site"
                          },
                          "modifiedDate": "2023-03-08T13:49:34Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 24,
                      "_links": {
                        "current": {
                          "href": "/companies/36e3213b-02f6-4264-96ce-6dd53ea69e57/connections/278ba962-466a-452b-92b0-4bdee3a23463/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/36e3213b-02f6-4264-96ce-6dd53ea69e57/connections/278ba962-466a-452b-92b0-4bdee3a23463/data/commerce-orders"
                        },
                        "next": {
                          "href": "/companies/36e3213b-02f6-4264-96ce-6dd53ea69e57/connections/278ba962-466a-452b-92b0-4bdee3a23463/data/commerce-orders?page=2&pageSize=2"
                        }
                      }
                    }
                  },
                  "Mollie": {
                    "value": {
                      "results": [
                        {
                          "id": "ord_2at3ck",
                          "orderNumber": "1337",
                          "country": "NLD",
                          "currency": "EUR",
                          "createdDate": "2022-01-20T09:28:32",
                          "totalAmount": 1027.99,
                          "totalRefund": 0,
                          "totalTaxAmount": 178.41,
                          "totalDiscount": 100,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "odl_1.3tvc32",
                              "quantity": 1,
                              "taxPercentage": 21,
                              "totalAmount": 329.99,
                              "totalTaxAmount": 57.27,
                              "unitPrice": 329.99,
                              "taxes": [],
                              "discountAllocations": []
                            },
                            {
                              "id": "odl_1.x95vuk",
                              "quantity": 2,
                              "taxPercentage": 21,
                              "totalAmount": 698,
                              "totalTaxAmount": 121.14,
                              "unitPrice": 399,
                              "taxes": [],
                              "discountAllocations": [
                                {
                                  "name": "Discount",
                                  "totalAmount": 100
                                }
                              ]
                            }
                          ],
                          "payments": [
                            {
                              "id": "tr_GpHuaqHrca",
                              "amount": 1027.99,
                              "currency": "EUR",
                              "type": "OnlineCard",
                              "status": "Failed",
                              "dueDate": "0001-01-01T00:00:00",
                              "createdDate": "2022-02-08T15:44:22",
                              "modifiedDate": "2022-03-17T15:47:28",
                              "sourceModifiedDate": "2022-02-08T16:02:02"
                            },
                            {
                              "id": "tr_w7RGQc3k3V",
                              "amount": 1027.99,
                              "currency": "EUR",
                              "type": "OnlineCard",
                              "status": "Failed",
                              "dueDate": "0001-01-01T00:00:00",
                              "createdDate": "2022-01-20T09:28:32",
                              "modifiedDate": "2022-03-17T15:47:28",
                              "sourceModifiedDate": "2022-01-20T09:46:02"
                            }
                          ],
                          "serviceCharges": [],
                          "modifiedDate": "2022-03-17T15:47:28Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/a68cb447-182d-4bbe-be1a-f526d11d69d5/connections/dfbf847b-cde8-4b00-b2f9-af51dec0d337/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/a68cb447-182d-4bbe-be1a-f526d11d69d5/connections/dfbf847b-cde8-4b00-b2f9-af51dec0d337/data/commerce-orders"
                        }
                      }
                    }
                  },
                  "Mollie Test": {
                    "value": {
                      "results": [
                        {
                          "id": "ord_2at3ck",
                          "orderNumber": "1337",
                          "country": "NLD",
                          "currency": "EUR",
                          "createdDate": "2022-01-20T09:28:32",
                          "totalAmount": 1027.99,
                          "totalRefund": 0,
                          "totalTaxAmount": 178.41,
                          "totalDiscount": 100,
                          "totalGratuity": 0,
                          "orderLineItems": [
                            {
                              "id": "odl_1.x95vuk",
                              "quantity": 2,
                              "taxPercentage": 21,
                              "totalAmount": 698,
                              "totalTaxAmount": 121.14,
                              "unitPrice": 338.43,
                              "taxes": [],
                              "discountAllocations": [
                                {
                                  "name": "Discount",
                                  "totalAmount": 100
                                }
                              ]
                            },
                            {
                              "id": "odl_1.3tvc32",
                              "quantity": 1,
                              "taxPercentage": 21,
                              "totalAmount": 329.99,
                              "totalTaxAmount": 57.27,
                              "unitPrice": 272.72,
                              "taxes": [],
                              "discountAllocations": []
                            }
                          ],
                          "payments": [
                            {
                              "id": "tr_GpHuaqHrca"
                            },
                            {
                              "id": "tr_w7RGQc3k3V"
                            }
                          ],
                          "serviceCharges": [],
                          "modifiedDate": "2022-08-17T11:33:19Z"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/b978f9fe-8d63-4cfc-b2c2-b61b72e22785/connections/d564f8fd-0766-4ab8-a427-7c893f9b9ff6/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/b978f9fe-8d63-4cfc-b2c2-b61b72e22785/connections/d564f8fd-0766-4ab8-a427-7c893f9b9ff6/data/commerce-orders"
                        }
                      }
                    }
                  },
                  "Partner Commerce": {
                    "value": {
                      "results": [
                        {
                          "id": "6d135134-2f77-45f7-af3d-ee873e42da45",
                          "orderNumber": "93128704",
                          "country": "GM ",
                          "currency": "CAD",
                          "createdDate": "2021-02-10T01:37:23",
                          "totalAmount": 203.82,
                          "totalRefund": 0,
                          "totalTaxAmount": 40.77,
                          "totalDiscount": 25.63,
                          "totalGratuity": 80.81,
                          "orderLineItems": [
                            {
                              "id": "89f5e83a-c87d-4b60-a009-0ea9065867aa",
                              "quantity": 3,
                              "taxPercentage": 20,
                              "totalAmount": 85.44,
                              "totalTaxAmount": 17.09,
                              "unitPrice": 28.48,
                              "taxes": [],
                              "productRef": {
                                "id": "98ef828e-33e1-4c23-9383-a029f1d6a3a6"
                              },
                              "productVariantRef": {
                                "id": "dffcd99e-13bb-4b89-89ef-719b3b0777e6"
                              },
                              "discountAllocations": [
                                {
                                  "name": "Discount",
                                  "totalAmount": 8.54
                                },
                                {
                                  "name": "Discount",
                                  "totalAmount": 17.09
                                }
                              ]
                            },
                            {
                              "id": "4c65f0d9-05c8-48eb-9c4a-1774f5073e66",
                              "quantity": 3,
                              "taxPercentage": 20,
                              "totalAmount": 118.38,
                              "totalTaxAmount": 23.68,
                              "unitPrice": 39.46,
                              "taxes": [],
                              "productRef": {
                                "id": "561f8efb-3429-4c1f-a014-1fa595f9b3c6"
                              },
                              "productVariantRef": {
                                "id": "e0715a7a-0179-4a2e-b40d-800fd2f36764"
                              },
                              "discountAllocations": []
                            }
                          ],
                          "payments": [
                            {
                              "id": "3ec3d4c4-8003-4f77-a44e-08b3e17057bf"
                            }
                          ],
                          "serviceCharges": [],
                          "locationRef": {
                            "id": "d84a8ce0-d7e4-400a-b07a-d4bddd9c1873"
                          },
                          "customerRef": {
                            "id": "0dc0206d-f22f-48c9-a4e5-79f8383c3426"
                          },
                          "modifiedDate": "2022-05-12T07:22:02Z",
                          "sourceModifiedDate": "2021-02-10T01:37:23"
                        }
                      ],
                      "pageNumber": 1,
                      "pageSize": 2,
                      "totalResults": 1,
                      "_links": {
                        "current": {
                          "href": "/companies/4342cb7d-d7b1-492f-851e-4aa5084933c1/connections/9e5422fa-f03f-4d58-bcf4-161b574ab350/data/commerce-orders?page=1&pageSize=2"
                        },
                        "self": {
                          "href": "/companies/4342cb7d-d7b1-492f-851e-4aa5084933c1/connections/9e5422fa-f03f-4d58-bcf4-161b574ab350/data/commerce-orders"
                        }
                      }
                    }
                  },
[...]
