registry=https://pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/
always-auth=true
save-exact=true
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/:username=codat
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/:_password=${NPM_TOKEN}
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/:email=npm-requires-email@example.com