; begin auth token
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/:username=codat
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/:_password=${PAT_TOKEN}
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/:email=${CODAT_EMAIL}
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/:username=codat
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/:_password=${PAT_TOKEN}
//pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/:email=${CODAT_EMAIL}
; end auth token

registry=https://pkgs.dev.azure.com/codat/Codat/_packaging/codat-npm/npm/registry/
always-auth=true
save-exact=true