.blogWrapper {
  margin-left: 0 !important;
  margin-right: 0 !important;
  display: flex;
  
  @media (max-width: 996px) {
    flex-direction: column;
  }
}

.blogContainer {
  padding: 0;
  
  @media (max-width: 996px) {
    width: 100%;
  }
}

.blogPage {
  padding: 2em 1em;
  
  @media (max-width: 996px) {
    padding: 1em 0.5em;
  }
}

.updatesHeader {
  padding: 0 1em;
}

.articlesGrid {
  padding: 1em;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1em;

  > *:last-child {
    grid-column: 1 / -1;
  }
  
  @media (max-width: 996px) {
    padding: 0.5em;
    grid-gap: 0.5em;
  }
}

@media (min-width: 996px) {
  .articlesGrid {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1596px) {
  .articlesGrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.article {
  padding: 1em;
  max-width: 1000px;
  width: 100%;
  overflow-x: hidden;
  
  @media (max-width: 996px) {
    width: 100%;
    max-width: 100%;
    padding: 0.5em;
  }
} 

.devFlag {
  width: 100%;
  text-align: center;
  padding: 4px 8px;
  color: black;
  background-color: orange;
}

.newFlagPositive {
  width: 100%;
  text-align: center;
  padding: 4px 8px;
  background-color: var(--button-primary-bg);
  transition: 0.5s;

  --ifm-link-color: white;
  --ifm-link-hover-color: white;

  &:hover a {
    opacity: 0.7;
  }
}