.apiNav {
  --color-canvas-100: var(--token-secondary-bg-c);

  display: flex;
  align-items: center;
  width: 100%;

  > a:first-child {
    min-width: 300px;
    background: var(--token-secondary-bg-c);
    height: var(--ifm-navbar-height);
    align-items: center;
    display: flex;
    padding-inline-start: var(--sidebar-spacing-horizontal);
    padding-inline-end: var(--sidebar-spacing-horizontal);

    @media (max-width: 800px) {
      display: none;
    }
  }

  > nav {
    width: 100%;
  }
}

.menuToggle {
  padding: 1em;
  background: var(--color-interface-5);
  cursor: pointer;

  &:hover {
    background: var(--color-interface-10);    
  }

  @media (min-width: 800px) {
    display: none; 
  }
}

.stoplightWrapper {
  @media (max-width: 300px) {
    display: none; 
  }
}

.stoplightPlaceholder {
  @media (min-width: 300px) {
    display: none;
  }
}

.stoplightFallback {
  width: 50px;
  height: 50px;
   
  &:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20px;
    height: 20px;
    margin-top: -10px;
    margin-left: -10px;
    border-radius: 50%;
    border: 2px solid #ccc;
    border-top-color: #000;
    animation: spinner .6s linear infinite;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}