.clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid #efefef;
  border-bottom: 1px solid #efefef;
  padding: 2.5em 1em;
  margin: 2em 0;
}

.header {
  color: #777;
}

.clientsList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.client {
  width: 200px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}