.wrapper {
  background-color: black;
  background-color: var(--color-codat-primary);
  background: rgb(47,27,166);
  background: linear-gradient(135deg, rgba(47,27,166,1) 0%, rgba(127,108,241,1) 100%);
  overflow: hidden;
  display: flex;
  justify-content: flex-end;

  &.banking {
    background: rgb(27,166,112);
    background: linear-gradient(135deg, rgba(27,166,112,1) 0%, rgba(127,108,241,1) 100%);
  }

  &.commerce {
    background: rgb(166,105,27);
    background: linear-gradient(135deg, rgba(166,105,27,1) 0%, rgba(127,108,241,1) 100%);
  }

  &.bankfeed {
    background: rgb(27,166,140);
    background: linear-gradient(135deg, rgba(27,166,140,1) 0%, rgba(127,108,241,1) 100%);
  }

  &.sfc {
    background: rgb(166,27,155);
    background: linear-gradient(135deg, rgba(166,27,155,1) 0%, rgba(127,108,241,1) 100%);
  }

  &.sfe {
    background: rgb(166,27,54);
    background: linear-gradient(135deg, rgba(166,27,54,1) 0%, rgba(127,108,241,1) 100%);
  }

  &.assess {
    background: rgb(117,27,166);
    background: linear-gradient(135deg, rgba(117,27,166,1) 0%, rgba(127,108,241,1) 100%);
  }
}

.header {
  padding: 3em;
  max-width: 50em;
  margin: auto;
  flex: 2;

  h1,
  p {
    color: white;
  }

  p {
    line-height: 1.7em;
  }
}

.title {
  display: flex;
  flex-direction: row;
  padding: 4em 0 1em;
  align-items: center;

  h1 {
    margin: 0;
  }
}

.iconWrapper {
  margin-right: 1em;
  margin-bottom: 0;
}

.heroImg {
  flex: 1;
  max-height: 350px;
  max-width: 500px;
  align-self: flex-end;
  object-position: right bottom;
  object-fit: contain;
}

.fullWidth {
  width: 100%;
  max-width: min(150vh, 95vw, 1000px);
}

.videoContainer {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

.videoFrame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 1300px) {
  .heroImg {
    display: none;
  }
}

@media (max-width: 800px) {
  .header {
    padding: 1em;
  }
}