@use "./__colors";

@use "./__core";

@use "./__admonitions";
@use "./__lists";
@use "./__mobile";

/* -------- custom -------- */

html[data-theme="dark"] .token.property,
html[data-theme="dark"] .token.plain,
html[data-theme="dark"] .token.string,
html[data-theme="dark"] .token.number,
html[data-theme="dark"] .token.punctuation {
  color: white !important;
}

.sl-bg-canvas-100 {
  --color-canvas-100: var(--token-secondary-bg-c);
  color: var(--font-ui);
}

/* Hide v1.0 badge on API page */
#mosaic-provider-react-aria-0-1 > div > div > div > div.sl-overflow-y-auto.sl-flex-1.sl-w-full.sl-px-24.sl-bg-canvas > div > div > div.sl-relative.sl-mb-5 > span {
  display: none !important; 
}

.sl-badge {
  margin-bottom: 5px;
}

.sl-badge,
.sl-rounded,
.sl-rounded-lg,
.sl-rounded-xl,
.sl-rounded-full,
.sl-button {
  border-radius: 4px !important;
}

.sl-button {
  cursor: pointer !important;
}

button.sl-bg-primary {
   background-color: var(--color-link) !important;
}

.sl-text-muted {
  color: var(--font-ui) !important;
}

blockquote {
  border: none !important;
  background: none !important;

  > div {
    border: 1px solid var(--token-secondary-bg-c-alt) !important;
  }
}

.JsonSchemaViewer {
  border: 1px solid var(--token-secondary-bg-c-alt);
  border-radius: 4px;
  padding: 0.75em 1.5em;
  margin-top: 1em;

  > .sl-prose.sl-markdown-viewer {
    margin-bottom: 1em;
  }
}

.sl-max-w-full.sl-break-all.sl-px-1.sl-bg-canvas-tint.sl-text-muted.sl-rounded.sl-border {
  padding: 3px 5px;
}

.sl-product-image {
  border: 1px solid var(--token-secondary-bg-c-alt);
}

.sl-elements-api > .sl-px-24 {
  padding-right: 2em !important;
}

.sl-flex-1.sl-py-0 {
  > .sl-stack.sl-pt-8 {
    margin-top: 0 !important;
    
    + .sl-flex-sl-w-full {
      margin-top: 1em;
    }
  }
}

table thead {
  background-color: var(--color-canvas-tint);
}