/* --------- Mobile ---------------- */

@media (max-width: 1100px) {
  .sl-bg-canvas {
    padding-left: 1.5em !important;
    padding-right: 1.5em !important;
  }

  .sl-flex:has([data-testid="two-column-right"]) {
    flex-wrap: wrap;
  }

  [data-testid="two-column-left"] {
    flex-basis: 100%;
    width: 100% !important;
  }

  [data-testid="two-column-right"] {
    margin-top: 1em;
    flex-basis: 100%;
    margin-left: 0 !important;
    max-width: 100% !important;
    width: 100% !important;
  }
}

@media (max-width: 800px) {
  .sl-elements-api {
    flex-direction: column;
  }

  .sl-elements-api > div.sl-flex:first-child {
    max-width: 100% !important;
    height: 500px;
    transition: height 1s;
  }

  .menu-closed .sl-elements-api > div.sl-flex:first-child  {
    height: 0;
    overflow: hidden;
  }

  .sl-elements-api > div.sl-flex:first-child > div.sl-flex:first-child {
    width: 100% !important;
    max-width: 100% !important;
  }

  .sl-bg-canvas {
    padding-left: 1em !important;
    padding-right: 1em !important;
  }
}